<div id="about-page" class="page">
	<div class="banner">
		<h1>OUR HERITAGE</h1>
		<p>BRIDAL FASHION IS IN OUR BLOOD</p>
		<hr>
	</div>
	<section id="legacy" class="blocks">
		<div class="container">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Heritage-1.jpg" alt="Vintage photo of Maggie Sottero bride getting out of a car, Our Heritage, About Maggie Sottero"/>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 spacing">
					<h3>A LEGACY OF ARTISTRY</h3>
					<p>For four generations, we’ve been honing our craft and pioneering technology, like the corset closure, to create designs that capture the imagination and inspire beauty among brides around the world.</p>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 quote">
					<p>With each generation we have elevated our craft and pioneered technology, culminating in the establishment of Maggie Sottero Designs in 1997. Launching with our custom corset closure, we continue to create designs that capture the imagination and inspire beauty among brides around the world.</p>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Heritage-2.jpg" alt="Old Maggie Sottero storefront, Our Heritage, About Maggie Sottero"/>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Heritage-3.jpg" alt="Vintage photo of Maggie Sottero bride and groom, Our Heritage, About Maggie Sottero"/>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 quote">
					<img src="images/about/1997.jpg"/>
				</div>
			</div>
		</div>
	</section>

	<section class="banner craft">
		<h2>OUR CRAFT</h2>
		<p>CRAFTSMAN'S SKILL MEETS DESIGNER PASSION</p>
		<hr>
	</section>
	<section id="creation" class="blocks">
		<div class="container">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Craft-2.jpg" alt="Wedding dresses crafted by hand, Creating Magic, About Maggie Sottero"/>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 spacing">
					<h3>CREATING MAGIC</h3>
					<p>From sketch versions to hand-drawn patterns to hours of draping, tucking, and perfecting each toile, an immaculate wedding dress comes to life. Internationally sourced fabrics, hand-placed embellishments, and our renowned fit combine to create a perfectly tailored wedding dress.</p>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 quote">
					<p>“Each hand-crafted gown is a reflection of my dedication to delivering best-in-class service, and making dreams a reality for every bride.”</p>
					<hr>
					<p>Maggie Sottero</p>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Craft-1.jpg" alt="Hand crafted wedding dresses, Creating Magic, About Maggie Sottero"/>
				</div>
			</div>

		</div>
	</section>

	<div class="banner style">
		<h2>OUR PASSION</h2>
		<p>BEING A PART OF YOUR DAY IS WHAT INSPIRES US</p>
		<hr>
	</div>
	<section id="legacy" class="blocks">
		<div class="container">

			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Passion-1.jpg" alt="Bride and groom kiss on field, Our Passion, About Maggie Sottero, Banner Image"/>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 spacing">
					<h3>DESIGNED FOR YOU</h3>
					<p>Much more than just a dress, a wedding gown is a beautiful reflection of personality and style. For every bride, there is a perfect wedding dress waiting to be discovered. At Maggie Sottero, we believe every bride deserves such a gown, and to this end, we design.</p>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 quote">
					<p>“There is nothing more beautiful than a bride on her wedding day. I’ve spent my entire life trying to capture the elegance and romance of a wedding day, and to be part of such a special day is truly an honor.”</p>
					<hr>
					<p>Maggie Sottero</p>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Passion-2.jpg" alt="Close up photo of bride with veil, Our Passion, About Maggie Sottero"/>
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<img src="images/about/Passion-3.jpg" alt="Bride sitting on couch with husband, Our Passion, About Maggie Sottero"/>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 quote">
					<img src="images/about/ido.jpg"/>
				</div>
			</div>
		</div>
	</section>

	<section id="maggie-sottero" class="dress-line">
		<div class="container">
			<div class="pure-g">
				<div class="phone-h pure-u-1-2">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<article>
						<i class="icon-logo"></i>
						<p>Designed with the classic romantic bride in mind, Maggie Sottero fuses timeless silhouettes with modern, alluring details, captivating the traditional bride and charming the modern bride alike.</p>
						<a href="/maggie-sottero"><button class="btn subdominant black-outline">See All</button></a>
					</article>
				</div>
			</div>

		</div>
	</section>

	<section id="sottero-and-midgley" class="dress-line">
		<div class="container">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<article>
						<i class="icon-sottero-and-midgley"></i>
						<p>Contemporary and sophisticated, Sottero and Midgley is designed for the fashion-forward bride, an artful blend of refined styling and eye-catching drama.</p>
						<a href="/sottero-and-midgley"><button class="btn subdominant white-outline">See All</button></a>
					</article>
				</div>
				<div class="phone-h pure-u-1-2">

				</div>
			</div>
		</div>
	</section>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
