<div id="account-page" class="page rotating-images-page">
	
	<div ng-include="'/partials/rotating-images.html'"></div>
	
	<div class="container">
		
			<div class="card">

				<div class="row" ng-if="aboutMe.name">
					<h3 class="left">Hello, {{aboutMe.name}}</h3>
				</div>
				<hr>
				<h5>Account Information</h5>
				<section class="inputs-list">	
					<div class="pure-g">
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="pure-padding">	
								<p>Name</p>
								<input type="text" placeholder="John Smith" ng-model="aboutMe.name"/>
							</div>
						</div>
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="pure-padding">	
								<p>Wedding Date</p>
								<input type="date" ng-model="aboutMe.wdate"/>
							</div>
						</div>
					</div>
					<div class="pure-g">
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="pure-padding">	
								<p>Email</p>
								<input type="text" placeholder="maggie@me.com" ng-model="user.email"/>
							</div>
						</div>
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="pure-padding">	
								<p>Password</p>
								<input type="password" placeholder="new password" ng-model="user.password"/>
							</div>
						</div>
					</div>
					<button class="btn" ng-click="saveChanges()">Save Changes</button>
					<article>	
						<p>Join our mailing list to get the scoop on our newest dresses, latest bridal trends, and all things wedding. Plus, be the first to know about new contests and giveaways.</p>
						<label for="newsletter" >Subscribed to mailing list <input type="checkbox" name="newsletter" id="newsletter" ng-model="user.mailing_list" ng-change="toggleNewsletter()"/></label>
					</article>
				</section>
				<hr>
				<div class="pure-g tabs">
					<div class="pure-u-1-2">
						<p ng-click="tab = 'favorites'" ng-class="{'active':tab == 'favorites'}">Favorites</p>
					</div>
					<div class="pure-u-1-2">
						<p ng-click="tab = 'mystyle'" ng-class="{'active':tab == 'mystyle'}">Find My Style</p>
					</div>
<!--
					<div class="pure-u-sm-1-3">
						<p ng-click="tab = 'story'" ng-class="{'active':tab == 'story'}">My Story</p>
					</div>
-->
				</div>
				<section>
					<div ng-show="tab == 'favorites'" class="favorites-tab">
						<div ng-show="!favorites.length">
							<div class="box">	
								<h4>Favorites</h4>
								<p>Begin the search for your perfect dress here! As you select your favorite wedding dresses from our gown galleries, we will provide suggestions that cater to silhouettes and styles you like. To save your favorites, register <a href="/sign-up">here</a> and start sharing them with your friends and family!</p>
								<div class="pure-g">
									<div class="pure-u-1 pure-u-sm-1-2">
										<a href="/maggie-sottero"><button class="btn subdominant">Shop Maggie Sottero</button></a>
									</div>
									<div class="pure-u-1 pure-u-sm-1-2">
										<a href="/sottero-and-midgley"><button class="btn subdominant">Shop Sottero and Midgley</button></a>
									</div>
								</div>
							</div>
						</div>
						<div ng-show="favorites.length > 3 && favorites.length !== 0">	
							<slick infinite="false" speed="300" slides-to-show="3" slides-to-scroll="1" arrows="true" ng-if="favorites.length" class="phone-h">
								<div ng-repeat="dress in favorites" class="favorites-list">
									<section class="relative">	
										<span ng-click="removeFavorite(dress.ProductId)"><i class="icon-close-big"></i> Remove</span>
										<a href="/maggiesottero">
											<div class="block">	
												<a href="{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase}}/{{dress.ProductId}}">	
													<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}"/>
													<p>{{dress.Name | titlecase}}</p>
												</a>
											</div>
										</a>
									</section>
								</div>
							</slick>
							<a href="/maggie-sottero"><button class="btn subdominant">Find More Dresses</button></a>
							<button class="btn subordinate" ng-click="removeAllFavorites()">Remove All</button>
						</div>
						<div ng-show="favorites.length <= 3 && favorites.length !== 0">
							<div class="pure-g">
								<div class="pure-u-1 pure-u-sm-1-3" ng-repeat="dress in favorites" >
									<div class="favorites-list">
										<section class="relative">	
											<span ng-click="removeFavorite(dress.ProductId)"><i class="icon-close-big"></i> Remove</span>
											<div class="block">	
												<a href="{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase}}/{{dress.ProductId}}">	
													<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}"/>
													<p>{{dress.Name | titlecase}}</p>
												</a>
											</div>
										</section>
									</div>
								</div>
							</div>
							<a href="/maggie-sottero"><button class="btn subdominant">Find More Dresses</button></a>
							<button class="btn subordinate" ng-click="removeAllFavorites()">Remove All</button>
						</div>
						
					</div>
					<div ng-show="tab == 'mystyle'">
						<div class="pure-g">	
							<div class="pure-u-1" ng-show="yourStyle">
								<div class="box">	
									<h4>The {{yourStyle}} Bride</h4>
									<p>{{styleDescription}}</p>
									<a href="/quiz"><button class="btn subdominant">See my results</button></a>
								</div>
							</div>
							<div class="pure-u-1" ng-hide="yourStyle">
								<div class="box">	
									<h4>Find My Style</h4>
									<p>From elegant ball gown wedding dresses, to slinky sheath gowns, white peonies to whimsical wildflowers, the choices surrounding your wedding day are endless... and sometimes overwhelming. Need a starting point? Let us help! Take our quiz to determine your wedding style. We'll provide personalized recommendations, based on your answers.</p>
									<a href="/quiz"><button class="btn subdominant">Take Quiz</button></a>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="tab == 'story'">
						story
					</div>
				</section>
			</div>
		
		
	</div>
</div>
