<h1 class="title">Wedding dresses and gowns by {{dressLineName}}</h1>
<div id="collection-page" class="page">

	<div class="dress-filter-nav tablet-h">
		<div class="container wide">
			<ul class="advanced-filters">
				<li ng-repeat="filter in advancedFilters | limitTo:filtersLimit" ng-class="{'active':filtersActive[$index].length > 0}">
					<div dropdown is-open="false">
						<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
							<p>{{filter.Name}}
								<span class="open-close"><i class="icon-arrow-down"></i></span>
							</p>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button" ng-click="$event.stopPropagation()">
							<li ng-repeat="child in filter.Children | orderBy:'Sequence'" ng-click="child.active = !child.active; toggleAdvancedFilter(child.active, child.CategoryId, $parent.$index)" ng-class="{'active':child.active == true}">
								{{child.Name}}
								<!-- {{child.CategoryId}} --><i class="icon-check"></i>
							</li>
							<li>
								<hr>
								<button class="btn small" ng-click="clearSingleFilterList($index)">clear</button>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<p class="clear-filters" ng-click="clearFilters()" ng-show="hasFilters()"><i class="icon-close-small"></i></p>
				</li>
				<li>
					<p ng-click="filtersLimit == 5 ? filtersLimit = 10 : filtersLimit = 5" class="see-toggle">See
						<span ng-if="filtersLimit == 5">more</span>
						<span ng-if="filtersLimit == 10">less</span>
					</p>
				</li>
			</ul>
		</div>
	</div>

	<div class="phone-filter-nav tablet-s">
		<div class="search-input">
			<input type="text" placeholder="Search Dresses" ng-model="searchInput" class="search" />
			<i class="icon-search"></i>
		</div>

		<button class="btn small subdominant" ng-click="showPhoneFilters = !showPhoneFilters">Filters <i class="icon-arrow-down" ng-class="{'active': showPhoneFilters}"></i></button>

		<div class="phone-filters" ng-show="showPhoneFilters">

			<accordion close-others="true">
				<accordion-group is-open="isopen" ng-repeat="filter in advancedFilters">
					<accordion-heading>
						{{filter.Name}}
						<span class="open-close"><i class="icon-arrow-down" ng-class="{'active': isopen}"></i></span>
					</accordion-heading>

					<ul class="">
						<li ng-repeat="child in filter.Children | orderBy:'Sequence'" ng-click="child.active = !child.active; toggleAdvancedFilter(child.active, child.CategoryId, $parent.$index)" ng-class="{'active':child.active == true}">
							{{child.Name}} <i class="icon-check"></i>
						</li>
					</ul>
				</accordion-group>
			</accordion>

			<button class="clear-filters btn subdominant" ng-click="clearFilters()" ng-show="hasFilters()">Clear All</button>
		</div>
	</div>

	<div class="container wide">

		<!-- loaders -->
		<div ng-include="'/partials/loading-cube.html'" ng-show="showDressesLoader" ng-hide="seasons[0]"></div>

		<!-- All Seasons -->
		<div ng-if="seasons" ng-hide="searchInput || hasFilters()" ng-repeat="season in seasons | orderBy:'CollectionId'" ng-show="!singleSeason && !category" class="collection">
			<div class="dress-list">
				<section class="collection-header" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{season.collectionBanner.PictureId}}/{{season.collectionBanner.FileName}}') no-repeat top center;" alt="{{season.Images[0].AltText}}">
					<img class="collection-logo" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{season.collectionBannerLogo.PictureId}}/{{season.collectionBannerLogo.FileName}}" />
					<button class="btn subdominant" ng-class="{'white-outline':urlDressLine[1] == 'maggie-sottero', 'black-outline':urlDressLine[1] == 'sottero-and-midgley'}" ng-if="season.showFilmButton" ng-click="showCollectionFilm(season.VideoId)">Watch the Film</button>
				</section>
				<div ng-include="'/partials/loading-cube.html'" ng-hide="season.dresses"></div>
				<ul class="pure-g">
					<li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4" ng-repeat="dress in season.dresses | limitTo:season.Limit ">
						<a href="/{{urlDressLine[1]}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
							<div class="block">
								<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Image.AltText}}" />
								<i class="icon-heart-filled heart" ng-class="{'show':dress.favorited == true}"></i>
								<article>
									<p>{{dress.Name | titlecase}}</p>
								</article>
							</div>
						</a>
						<div class="actions">
							<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
							<p data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, urlDressLine[1])"><i class="icon-share"></i> Share</p>
						</div>
					</li>
				</ul>
				<button ng-show="!showButton[$index] && season.dresses.length > 16" class="btn subdominant" ng-click="season.Limit = 300; showButton[$index] = true; rememberOpenSeason($index)">See All {{season.Title}} Collection</button>
			</div>
		</div>

		<!-- Dress grid for searches and filters -->
		<div class="dress-list" ng-show="searchInput || hasFilters()">
			<ul class="pure-g">
				<li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4" ng-repeat="dress in allDresses | orderBy:'Name' | filter:searchInput | advancedFilters : filtersActive">
					<a href="/{{urlDressLine[1]}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
						<div class="block">
							<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Image.AltText}}" />
							<i class="icon-heart-filled heart" ng-class="{'show':dress.favorited == true}"></i>
							<article>
								<p>{{dress.Name | titlecase}}</p>
							</article>
						</div>
					</a>
					<div class="actions">
						<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
						<p data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, urlDressLine[1])"><i class="icon-share"></i> Share</p>
					</div>
				</li>
			</ul>
		</div>

		<!-- Progress text and loader -->
		<p ng-show="!searchable && searchInput" style="text-align: center;">Searching rest of dresses</p>
		<div ng-include="'/partials/loading-cube.html'" ng-show="!searchable && searchInput"></div>

		<div ng-include="'/partials/loading-cube.html'" ng-show="restLoading"></div>
	</div>

	<div ng-include="'/partials/modal-share.html'"></div>

	<div class="vimeo-container" ng-class="{'show':showVideo}">
		<i class="icon-close-big" ng-click="stopVideo()"></i>
		<iframe id="player1" ng-src="{{videoSrc}}" width="1440" height="680" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>

</div>
