<div id="contact-page" class="page rotating-images-page">

    <div ng-include="'/partials/rotating-images.html'"></div>

    <div class="container">
        <div class="card">
            <section ng-hide="showThankYouPage">
                <h1>Contact Us</h1>
                <div dropdown is-open="false" class="box white">
                    <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
                        <p>{{selectedSender ? selectedSender : 'Hello, who might you be?'}} <i class="icon-arrow-down"></i></p>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a ng-click="selectedSender = 'I\'m an authorized retailer'; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">I'm an authorized retailer</a></li>
                        <li><a ng-click="selectedSender = 'I\'m a potential retailer'; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">I'm a potential retailer</a></li>
                        <li><a ng-click="selectedSender = 'I\'m a Bride'; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">I'm a bride</a></li>
                        <li><a ng-click="selectedSender = 'I\'m inquiring about media opportunities'; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">I'm inquiring about media opportunities</a></li>
                        <li><a ng-click="selectedSender = 'Other'; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">Other</a></li>
                    </ul>
                </div>

                <!-- Retailer Form -->
                <form ng-submit="sendRetailerEmail()" ng-show="selectedSender == 'I\'m an authorized retailer'">
                    <div ng-hide="retailerNext">
                        <input type="text" placeholder="Email" ng-model="retailerEmail">
                        <input type="text" placeholder="Name" ng-model="retailerName">

                        <div class="btn white" ng-click="retailerNextAction()">Next</div>
                    </div>
                    <div ng-show="retailerNext">
                        <input type="text" placeholder="Store Name" ng-model="retailerStoreName">
                        <input type="text" placeholder="Phone Number" ng-model="retailerPhoneNumber">

                        <div dropdown is-open="false" class="box white">
                            <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
                                <p>{{retailerCountry ? retailerCountry : 'Country'}} <i class="icon-arrow-down"></i></p>
                            </div>
                            <ul class="dropdown-menu long-list" role="menu" aria-labelledby="single-button">
                                <li><a ng-click="retailerCountry = 'United States of America'">United States of America</a></li>
                                <li><a ng-click="retailerCountry = 'Afganistan'">Afghanistan</a></li>
                                <li><a ng-click="retailerCountry = 'Albania'">Albania</a></li>
                                <li><a ng-click="retailerCountry = 'Algeria'">Algeria</a></li>
                                <li><a ng-click="retailerCountry = 'American Samoa'">American Samoa</a></li>
                                <li><a ng-click="retailerCountry = 'Andorra'">Andorra</a></li>
                                <li><a ng-click="retailerCountry = 'Angola'">Angola</a></li>
                                <li><a ng-click="retailerCountry = 'Anguilla'">Anguilla</a></li>
                                <li><a ng-click="retailerCountry = 'Antigua &amp; Barbuda'">Antigua &amp; Barbuda</a></li>
                                <li><a ng-click="retailerCountry = 'Argentina'">Argentina</a></li>
                                <li><a ng-click="retailerCountry = 'Armenia'">Armenia</a></li>
                                <li><a ng-click="retailerCountry = 'Aruba'">Aruba</a></li>
                                <li><a ng-click="retailerCountry = 'Australia'">Australia</a></li>
                                <li><a ng-click="retailerCountry = 'Austria'">Austria</a></li>
                                <li><a ng-click="retailerCountry = 'Azerbaijan'">Azerbaijan</a></li>
                                <li><a ng-click="retailerCountry = 'Bahamas'">Bahamas</a></li>
                                <li><a ng-click="retailerCountry = 'Bahrain'">Bahrain</a></li>
                                <li><a ng-click="retailerCountry = 'Bangladesh'">Bangladesh</a></li>
                                <li><a ng-click="retailerCountry = 'Barbados'">Barbados</a></li>
                                <li><a ng-click="retailerCountry = 'Belarus'">Belarus</a></li>
                                <li><a ng-click="retailerCountry = 'Belgium'">Belgium</a></li>
                                <li><a ng-click="retailerCountry = 'Belize'">Belize</a></li>
                                <li><a ng-click="retailerCountry = 'Benin'">Benin</a></li>
                                <li><a ng-click="retailerCountry = 'Bermuda'">Bermuda</a></li>
                                <li><a ng-click="retailerCountry = 'Bhutan'">Bhutan</a></li>
                                <li><a ng-click="retailerCountry = 'Bolivia'">Bolivia</a></li>
                                <li><a ng-click="retailerCountry = 'Bonaire'">Bonaire</a></li>
                                <li><a ng-click="retailerCountry = 'Bosnia &amp; Herzegovina'">Bosnia &amp; Herzegovina</a></li>
                                <li><a ng-click="retailerCountry = 'Botswana'">Botswana</a></li>
                                <li><a ng-click="retailerCountry = 'Brazil'">Brazil</a></li>
                                <li><a ng-click="retailerCountry = 'British Indian Ocean Ter'">British Indian Ocean Ter</a></li>
                                <li><a ng-click="retailerCountry = 'Brunei'">Brunei</a></li>
                                <li><a ng-click="retailerCountry = 'Bulgaria'">Bulgaria</a></li>
                                <li><a ng-click="retailerCountry = 'Burkina Faso'">Burkina Faso</a></li>
                                <li><a ng-click="retailerCountry = 'Burundi'">Burundi</a></li>
                                <li><a ng-click="retailerCountry = 'Cambodia'">Cambodia</a></li>
                                <li><a ng-click="retailerCountry = 'Cameroon'">Cameroon</a></li>
                                <li><a ng-click="retailerCountry = 'Canada'">Canada</a></li>
                                <li><a ng-click="retailerCountry = 'Canary Islands'">Canary Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Cape Verde'">Cape Verde</a></li>
                                <li><a ng-click="retailerCountry = 'Cayman Islands'">Cayman Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Central African Republic'">Central African Republic</a></li>
                                <li><a ng-click="retailerCountry = 'Chad'">Chad</a></li>
                                <li><a ng-click="retailerCountry = 'Channel Islands'">Channel Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Chile'">Chile</a></li>
                                <li><a ng-click="retailerCountry = 'China'">China</a></li>
                                <li><a ng-click="retailerCountry = 'Christmas Island'">Christmas Island</a></li>
                                <li><a ng-click="retailerCountry = 'Cocos Island'">Cocos Island</a></li>
                                <li><a ng-click="retailerCountry = 'Colombia'">Colombia</a></li>
                                <li><a ng-click="retailerCountry = 'Comoros'">Comoros</a></li>
                                <li><a ng-click="retailerCountry = 'Congo'">Congo</a></li>
                                <li><a ng-click="retailerCountry = 'Cook Islands'">Cook Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Costa Rica'">Costa Rica</a></li>
                                <li><a ng-click="retailerCountry = 'Cote DIvoire'">Cote D'Ivoire</a></li>
                                <li><a ng-click="retailerCountry = 'Croatia'">Croatia</a></li>
                                <li><a ng-click="retailerCountry = 'Cuba'">Cuba</a></li>
                                <li><a ng-click="retailerCountry = 'Curaco'">Curacao</a></li>
                                <li><a ng-click="retailerCountry = 'Cyprus'">Cyprus</a></li>
                                <li><a ng-click="retailerCountry = 'Czech Republic'">Czech Republic</a></li>
                                <li><a ng-click="retailerCountry = 'Denmark'">Denmark</a></li>
                                <li><a ng-click="retailerCountry = 'Djibouti'">Djibouti</a></li>
                                <li><a ng-click="retailerCountry = 'Dominica'">Dominica</a></li>
                                <li><a ng-click="retailerCountry = 'Dominican Republic'">Dominican Republic</a></li>
                                <li><a ng-click="retailerCountry = 'East Timor'">East Timor</a></li>
                                <li><a ng-click="retailerCountry = 'Ecuador'">Ecuador</a></li>
                                <li><a ng-click="retailerCountry = 'Egypt'">Egypt</a></li>
                                <li><a ng-click="retailerCountry = 'El Salvador'">El Salvador</a></li>
                                <li><a ng-click="retailerCountry = 'Equatorial Guinea'">Equatorial Guinea</a></li>
                                <li><a ng-click="retailerCountry = 'Eritrea'">Eritrea</a></li>
                                <li><a ng-click="retailerCountry = 'Estonia'">Estonia</a></li>
                                <li><a ng-click="retailerCountry = 'Ethiopia'">Ethiopia</a></li>
                                <li><a ng-click="retailerCountry = 'Falkland Islands'">Falkland Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Faroe Islands'">Faroe Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Fiji'">Fiji</a></li>
                                <li><a ng-click="retailerCountry = 'Finland'">Finland</a></li>
                                <li><a ng-click="retailerCountry = 'France'">France</a></li>
                                <li><a ng-click="retailerCountry = 'French Guiana'">French Guiana</a></li>
                                <li><a ng-click="retailerCountry = 'French Polynesia'">French Polynesia</a></li>
                                <li><a ng-click="retailerCountry = 'French Southern Ter'">French Southern Ter</a></li>
                                <li><a ng-click="retailerCountry = 'Gabon'">Gabon</a></li>
                                <li><a ng-click="retailerCountry = 'Gambia'">Gambia</a></li>
                                <li><a ng-click="retailerCountry = 'Georgia'">Georgia</a></li>
                                <li><a ng-click="retailerCountry = 'Germany'">Germany</a></li>
                                <li><a ng-click="retailerCountry = 'Ghana'">Ghana</a></li>
                                <li><a ng-click="retailerCountry = 'Gibraltar'">Gibraltar</a></li>
                                <li><a ng-click="retailerCountry = 'Great Britain'">Great Britain</a></li>
                                <li><a ng-click="retailerCountry = 'Greece'">Greece</a></li>
                                <li><a ng-click="retailerCountry = 'Greenland'">Greenland</a></li>
                                <li><a ng-click="retailerCountry = 'Grenada'">Grenada</a></li>
                                <li><a ng-click="retailerCountry = 'Guadeloupe'">Guadeloupe</a></li>
                                <li><a ng-click="retailerCountry = 'Guam'">Guam</a></li>
                                <li><a ng-click="retailerCountry = 'Guatemala'">Guatemala</a></li>
                                <li><a ng-click="retailerCountry = 'Guinea'">Guinea</a></li>
                                <li><a ng-click="retailerCountry = 'Guyana'">Guyana</a></li>
                                <li><a ng-click="retailerCountry = 'Haiti'">Haiti</a></li>
                                <li><a ng-click="retailerCountry = 'Hawaii'">Hawaii</a></li>
                                <li><a ng-click="retailerCountry = 'Honduras'">Honduras</a></li>
                                <li><a ng-click="retailerCountry = 'Hong Kong'">Hong Kong</a></li>
                                <li><a ng-click="retailerCountry = 'Hungary'">Hungary</a></li>
                                <li><a ng-click="retailerCountry = 'Iceland'">Iceland</a></li>
                                <li><a ng-click="retailerCountry = 'India'">India</a></li>
                                <li><a ng-click="retailerCountry = 'Indonesia'">Indonesia</a></li>
                                <li><a ng-click="retailerCountry = 'Iran'">Iran</a></li>
                                <li><a ng-click="retailerCountry = 'Iraq'">Iraq</a></li>
                                <li><a ng-click="retailerCountry = 'Ireland'">Ireland</a></li>
                                <li><a ng-click="retailerCountry = 'Isle of Man'">Isle of Man</a></li>
                                <li><a ng-click="retailerCountry = 'Israel'">Israel</a></li>
                                <li><a ng-click="retailerCountry = 'Italy'">Italy</a></li>
                                <li><a ng-click="retailerCountry = 'Jamaica'">Jamaica</a></li>
                                <li><a ng-click="retailerCountry = 'Japan'">Japan</a></li>
                                <li><a ng-click="retailerCountry = 'Jordan'">Jordan</a></li>
                                <li><a ng-click="retailerCountry = 'Kazakhstan'">Kazakhstan</a></li>
                                <li><a ng-click="retailerCountry = 'Kenya'">Kenya</a></li>
                                <li><a ng-click="retailerCountry = 'Kiribati'">Kiribati</a></li>
                                <li><a ng-click="retailerCountry = 'Korea North'">Korea North</a></li>
                                <li><a ng-click="retailerCountry = 'Korea South'">Korea South</a></li>
                                <li><a ng-click="retailerCountry = 'Kuwait'">Kuwait</a></li>
                                <li><a ng-click="retailerCountry = 'Kyrgyzstan'">Kyrgyzstan</a></li>
                                <li><a ng-click="retailerCountry = 'Laos'">Laos</a></li>
                                <li><a ng-click="retailerCountry = 'Latvia'">Latvia</a></li>
                                <li><a ng-click="retailerCountry = 'Lebanon'">Lebanon</a></li>
                                <li><a ng-click="retailerCountry = 'Lesotho'">Lesotho</a></li>
                                <li><a ng-click="retailerCountry = 'Liberia'">Liberia</a></li>
                                <li><a ng-click="retailerCountry = 'Libya'">Libya</a></li>
                                <li><a ng-click="retailerCountry = 'Liechtenstein'">Liechtenstein</a></li>
                                <li><a ng-click="retailerCountry = 'Lithuania'">Lithuania</a></li>
                                <li><a ng-click="retailerCountry = 'Luxembourg'">Luxembourg</a></li>
                                <li><a ng-click="retailerCountry = 'Macau'">Macau</a></li>
                                <li><a ng-click="retailerCountry = 'Macedonia'">Macedonia</a></li>
                                <li><a ng-click="retailerCountry = 'Madagascar'">Madagascar</a></li>
                                <li><a ng-click="retailerCountry = 'Malaysia'">Malaysia</a></li>
                                <li><a ng-click="retailerCountry = 'Malawi'">Malawi</a></li>
                                <li><a ng-click="retailerCountry = 'Maldives'">Maldives</a></li>
                                <li><a ng-click="retailerCountry = 'Mali'">Mali</a></li>
                                <li><a ng-click="retailerCountry = 'Malta'">Malta</a></li>
                                <li><a ng-click="retailerCountry = 'Marshall Islands'">Marshall Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Martinique'">Martinique</a></li>
                                <li><a ng-click="retailerCountry = 'Mauritania'">Mauritania</a></li>
                                <li><a ng-click="retailerCountry = 'Mauritius'">Mauritius</a></li>
                                <li><a ng-click="retailerCountry = 'Mayotte'">Mayotte</a></li>
                                <li><a ng-click="retailerCountry = 'Mexico'">Mexico</a></li>
                                <li><a ng-click="retailerCountry = 'Midway Islands'">Midway Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Moldova'">Moldova</a></li>
                                <li><a ng-click="retailerCountry = 'Monaco'">Monaco</a></li>
                                <li><a ng-click="retailerCountry = 'Mongolia'">Mongolia</a></li>
                                <li><a ng-click="retailerCountry = 'Montserrat'">Montserrat</a></li>
                                <li><a ng-click="retailerCountry = 'Morocco'">Morocco</a></li>
                                <li><a ng-click="retailerCountry = 'Mozambique'">Mozambique</a></li>
                                <li><a ng-click="retailerCountry = 'Myanmar'">Myanmar</a></li>
                                <li><a ng-click="retailerCountry = 'Nambia'">Nambia</a></li>
                                <li><a ng-click="retailerCountry = 'Nauru'">Nauru</a></li>
                                <li><a ng-click="retailerCountry = 'Nepal'">Nepal</a></li>
                                <li><a ng-click="retailerCountry = 'Netherland Antilles'">Netherland Antilles</a></li>
                                <li><a ng-click="retailerCountry = 'Netherlands'">Netherlands (Holland, Europe)</a></li>
                                <li><a ng-click="retailerCountry = 'Nevis'">Nevis</a></li>
                                <li><a ng-click="retailerCountry = 'New Caledonia'">New Caledonia</a></li>
                                <li><a ng-click="retailerCountry = 'New Zealand'">New Zealand</a></li>
                                <li><a ng-click="retailerCountry = 'Nicaragua'">Nicaragua</a></li>
                                <li><a ng-click="retailerCountry = 'Niger'">Niger</a></li>
                                <li><a ng-click="retailerCountry = 'Nigeria'">Nigeria</a></li>
                                <li><a ng-click="retailerCountry = 'Niue'">Niue</a></li>
                                <li><a ng-click="retailerCountry = 'Norfolk Island'">Norfolk Island</a></li>
                                <li><a ng-click="retailerCountry = 'Norway'">Norway</a></li>
                                <li><a ng-click="retailerCountry = 'Oman'">Oman</a></li>
                                <li><a ng-click="retailerCountry = 'Pakistan'">Pakistan</a></li>
                                <li><a ng-click="retailerCountry = 'Palau Island'">Palau Island</a></li>
                                <li><a ng-click="retailerCountry = 'Palestine'">Palestine</a></li>
                                <li><a ng-click="retailerCountry = 'Panama'">Panama</a></li>
                                <li><a ng-click="retailerCountry = 'Papua New Guinea'">Papua New Guinea</a></li>
                                <li><a ng-click="retailerCountry = 'Paraguay'">Paraguay</a></li>
                                <li><a ng-click="retailerCountry = 'Peru'">Peru</a></li>
                                <li><a ng-click="retailerCountry = 'Phillipines'">Philippines</a></li>
                                <li><a ng-click="retailerCountry = 'Pitcairn Island'">Pitcairn Island</a></li>
                                <li><a ng-click="retailerCountry = 'Poland'">Poland</a></li>
                                <li><a ng-click="retailerCountry = 'Portugal'">Portugal</a></li>
                                <li><a ng-click="retailerCountry = 'Puerto Rico'">Puerto Rico</a></li>
                                <li><a ng-click="retailerCountry = 'Qatar'">Qatar</a></li>
                                <li><a ng-click="retailerCountry = 'Republic of Montenegro'">Republic of Montenegro</a></li>
                                <li><a ng-click="retailerCountry = 'Republic of Serbia'">Republic of Serbia</a></li>
                                <li><a ng-click="retailerCountry = 'Reunion'">Reunion</a></li>
                                <li><a ng-click="retailerCountry = 'Romania'">Romania</a></li>
                                <li><a ng-click="retailerCountry = 'Russia'">Russia</a></li>
                                <li><a ng-click="retailerCountry = 'Rwanda'">Rwanda</a></li>
                                <li><a ng-click="retailerCountry = 'St Barthelemy'">St Barthelemy</a></li>
                                <li><a ng-click="retailerCountry = 'St Eustatius'">St Eustatius</a></li>
                                <li><a ng-click="retailerCountry = 'St Helena'">St Helena</a></li>
                                <li><a ng-click="retailerCountry = 'St Kitts-Nevis'">St Kitts-Nevis</a></li>
                                <li><a ng-click="retailerCountry = 'St Lucia'">St Lucia</a></li>
                                <li><a ng-click="retailerCountry = 'St Maarten'">St Maarten</a></li>
                                <li><a ng-click="retailerCountry = 'St Pierre &amp; Miquelon'">St Pierre &amp; Miquelon</a></li>
                                <li><a ng-click="retailerCountry = 'St Vincent &amp; Grenadines'">St Vincent &amp; Grenadines</a></li>
                                <li><a ng-click="retailerCountry = 'Saipan'">Saipan</a></li>
                                <li><a ng-click="retailerCountry = 'Samoa'">Samoa</a></li>
                                <li><a ng-click="retailerCountry = 'Samoa American'">Samoa American</a></li>
                                <li><a ng-click="retailerCountry = 'San Marino'">San Marino</a></li>
                                <li><a ng-click="retailerCountry = 'Sao Tome &amp; Principe'">Sao Tome &amp; Principe</a></li>
                                <li><a ng-click="retailerCountry = 'Saudi Arabia'">Saudi Arabia</a></li>
                                <li><a ng-click="retailerCountry = 'Senegal'">Senegal</a></li>
                                <li><a ng-click="retailerCountry = 'Serbia'">Serbia</a></li>
                                <li><a ng-click="retailerCountry = 'Seychelles'">Seychelles</a></li>
                                <li><a ng-click="retailerCountry = 'Sierra Leone'">Sierra Leone</a></li>
                                <li><a ng-click="retailerCountry = 'Singapore'">Singapore</a></li>
                                <li><a ng-click="retailerCountry = 'Slovakia'">Slovakia</a></li>
                                <li><a ng-click="retailerCountry = 'Slovenia'">Slovenia</a></li>
                                <li><a ng-click="retailerCountry = 'Solomon Islands'">Solomon Islands</a></li>
                                <li><a ng-click="retailerCountry = 'Somalia'">Somalia</a></li>
                                <li><a ng-click="retailerCountry = 'South Africa'">South Africa</a></li>
                                <li><a ng-click="retailerCountry = 'Spain'">Spain</a></li>
                                <li><a ng-click="retailerCountry = 'Sri Lanka'">Sri Lanka</a></li>
                                <li><a ng-click="retailerCountry = 'Sudan'">Sudan</a></li>
                                <li><a ng-click="retailerCountry = 'Suriname'">Suriname</a></li>
                                <li><a ng-click="retailerCountry = 'Swaziland'">Swaziland</a></li>
                                <li><a ng-click="retailerCountry = 'Sweden'">Sweden</a></li>
                                <li><a ng-click="retailerCountry = 'Switzerland'">Switzerland</a></li>
                                <li><a ng-click="retailerCountry = 'Syria'">Syria</a></li>
                                <li><a ng-click="retailerCountry = 'Tahiti'">Tahiti</a></li>
                                <li><a ng-click="retailerCountry = 'Taiwan'">Taiwan</a></li>
                                <li><a ng-click="retailerCountry = 'Tajikistan'">Tajikistan</a></li>
                                <li><a ng-click="retailerCountry = 'Tanzania'">Tanzania</a></li>
                                <li><a ng-click="retailerCountry = 'Thailand'">Thailand</a></li>
                                <li><a ng-click="retailerCountry = 'Togo'">Togo</a></li>
                                <li><a ng-click="retailerCountry = 'Tokelau'">Tokelau</a></li>
                                <li><a ng-click="retailerCountry = 'Tonga'">Tonga</a></li>
                                <li><a ng-click="retailerCountry = 'Trinidad &amp; Tobago'">Trinidad &amp; Tobago</a></li>
                                <li><a ng-click="retailerCountry = 'Tunisia'">Tunisia</a></li>
                                <li><a ng-click="retailerCountry = 'Turkey'">Turkey</a></li>
                                <li><a ng-click="retailerCountry = 'Turkmenistan'">Turkmenistan</a></li>
                                <li><a ng-click="retailerCountry = 'Turks &amp; Caicos Is'">Turks &amp; Caicos Is</a></li>
                                <li><a ng-click="retailerCountry = 'Tuvalu'">Tuvalu</a></li>
                                <li><a ng-click="retailerCountry = 'Uganda'">Uganda</a></li>
                                <li><a ng-click="retailerCountry = 'Ukraine'">Ukraine</a></li>
                                <li><a ng-click="retailerCountry = 'United Arab Erimates'">United Arab Emirates</a></li>
                                <li><a ng-click="retailerCountry = 'United Kingdom'">United Kingdom</a></li>
                                <li><a ng-click="retailerCountry = 'Uraguay'">Uruguay</a></li>
                                <li><a ng-click="retailerCountry = 'Uzbekistan'">Uzbekistan</a></li>
                                <li><a ng-click="retailerCountry = 'Vanuatu'">Vanuatu</a></li>
                                <li><a ng-click="retailerCountry = 'Vatican City State'">Vatican City State</a></li>
                                <li><a ng-click="retailerCountry = 'Venezuela'">Venezuela</a></li>
                                <li><a ng-click="retailerCountry = 'Vietnam'">Vietnam</a></li>
                                <li><a ng-click="retailerCountry = 'Virgin Islands (Brit)'">Virgin Islands (Brit)</a></li>
                                <li><a ng-click="retailerCountry = 'Virgin Islands (USA)'">Virgin Islands (USA)</a></li>
                                <li><a ng-click="retailerCountry = 'Wake Island'">Wake Island</a></li>
                                <li><a ng-click="retailerCountry = 'Wallis &amp; Futana Is'">Wallis &amp; Futana Is</a></li>
                                <li><a ng-click="retailerCountry = 'Yemen'">Yemen</a></li>
                                <li><a ng-click="retailerCountry = 'Zaire'">Zaire</a></li>
                                <li><a ng-click="retailerCountry = 'Zambia'">Zambia</a></li>
                                <li><a ng-click="retailerCountry = 'Zimbabwe'">Zimbabwe</a></li>
                            </ul>
                        </div>

                        <div ng-show="retailerCountry == 'United States of America'">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="pure-padding-right">
                                        <div dropdown is-open="false" class="box white">
                                            <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
                                                <p>{{retailerState ? retailerState : 'State'}} <i class="icon-arrow-down"></i></p>
                                            </div>
                                            <ul class="dropdown-menu long-list" role="menu" aria-labelledby="single-button">
                                                <li><a ng-click="retailerState = 'Alabama'">Alabama</a></li>
                                                <li><a ng-click="retailerState = 'Alaska'">Alaska</a></li>
                                                <li><a ng-click="retailerState = 'Arizona'">Arizona</a></li>
                                                <li><a ng-click="retailerState = 'Arkansas'">Arkansas</a></li>
                                                <li><a ng-click="retailerState = 'California'">California</a></li>
                                                <li><a ng-click="retailerState = 'Colorado'">Colorado</a></li>
                                                <li><a ng-click="retailerState = 'Connecticut'">Connecticut</a></li>
                                                <li><a ng-click="retailerState = 'Delaware'">Delaware</a></li>
                                                <li><a ng-click="retailerState = 'Florida'">Florida</a></li>
                                                <li><a ng-click="retailerState = 'Georgia'">Georgia</a></li>
                                                <li><a ng-click="retailerState = 'Hawaii'">Hawaii</a></li>
                                                <li><a ng-click="retailerState = 'Idaho'">Idaho</a></li>
                                                <li><a ng-click="retailerState = 'Illinois'">Illinois</a></li>
                                                <li><a ng-click="retailerState = 'Indiana'">Indiana</a></li>
                                                <li><a ng-click="retailerState = 'Iowa'">Iowa</a></li>
                                                <li><a ng-click="retailerState = 'Kansas'">Kansas</a></li>
                                                <li><a ng-click="retailerState = 'Kentucky'">Kentucky</a></li>
                                                <li><a ng-click="retailerState = 'Louisiana'">Louisiana</a></li>
                                                <li><a ng-click="retailerState = 'Maine'">Maine</a></li>
                                                <li><a ng-click="retailerState = 'Maryland'">Maryland</a></li>
                                                <li><a ng-click="retailerState = 'Massachusetts'">Massachusetts</a></li>
                                                <li><a ng-click="retailerState = 'Michigan'">Michigan</a></li>
                                                <li><a ng-click="retailerState = 'Minnesota'">Minnesota</a></li>
                                                <li><a ng-click="retailerState = 'Mississippi'">Mississippi</a></li>
                                                <li><a ng-click="retailerState = 'Missouri'">Missouri</a></li>
                                                <li><a ng-click="retailerState = 'Montana'">Montana</a></li>
                                                <li><a ng-click="retailerState = 'Nebraska'">Nebraska</a></li>
                                                <li><a ng-click="retailerState = 'Nevada'">Nevada</a></li>
                                                <li><a ng-click="retailerState = 'New Hampshire'">New Hampshire</a></li>
                                                <li><a ng-click="retailerState = 'New Jersey'">New Jersey</a></li>
                                                <li><a ng-click="retailerState = 'New Mexico'">New Mexico</a></li>
                                                <li><a ng-click="retailerState = 'New York'">New York</a></li>
                                                <li><a ng-click="retailerState = 'North Carolina'">North Carolina</a></li>
                                                <li><a ng-click="retailerState = 'North Dakota'">North Dakota</a></li>
                                                <li><a ng-click="retailerState = 'Ohio'">Ohio</a></li>
                                                <li><a ng-click="retailerState = 'Oklahoma'">Oklahoma</a></li>
                                                <li><a ng-click="retailerState = 'Oregon'">Oregon</a></li>
                                                <li><a ng-click="retailerState = 'Pennsylvania'">Pennsylvania</a></li>
                                                <li><a ng-click="retailerState = 'Rhode Island'">Rhode Island</a></li>
                                                <li><a ng-click="retailerState = 'South Carolina'">South Carolina</a></li>
                                                <li><a ng-click="retailerState = 'South Dakota'">South Dakota</a></li>
                                                <li><a ng-click="retailerState = 'Tennessee'">Tennessee</a></li>
                                                <li><a ng-click="retailerState = 'Texas'">Texas</a></li>
                                                <li><a ng-click="retailerState = 'Utah'">Utah</a></li>
                                                <li><a ng-click="retailerState = 'Vermont'">Vermont</a></li>
                                                <li><a ng-click="retailerState = 'Virginia'">Virginia</a></li>
                                                <li><a ng-click="retailerState = 'Washington'">Washington</a></li>
                                                <li><a ng-click="retailerState = 'West Virginia'">West Virginia</a></li>
                                                <li><a ng-click="retailerState = 'Wisconsin'">Wisconsin</a></li>
                                                <li><a ng-click="retailerState = 'Wyoming'">Wyoming</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="pure-u-1-2">
                                    <input type="text" placeholder="City" ng-model="retailerCity">
                                </div>
                            </div>
                        </div>
                        <div ng-show="retailerCountry && retailerCountry !== 'United States of America'">
                            <input type="text" placeholder="City" ng-model="retailerCity">
                        </div>
                        <textarea rows="7" placeholder="Your message" ng-model="retailerMessage"></textarea>
                        <button type="submit" class="btn white">Send</button>
                        <div ng-include="'/partials/loading-cube.html'" ng-show="emailSending" class="white-loader"></div>
                    </div>
                </form>

                <!-- Potential Retailer Form -->
                <form ng-submit="sendPotentialRetailerEmail()" ng-show="selectedSender == 'I\'m a potential retailer'">
                    <div ng-hide="potentialRetailerNext">
                        <input type="text" placeholder="Email" ng-model="potRetailerEmail">
                        <input type="text" placeholder="Name" ng-model="potRetailerName">
                        <div class="btn white" ng-click="potentialRetailerNextAction()">Next</div>
                    </div>
                    <div ng-show="potentialRetailerNext">
                        <input type="text" placeholder="Store Name" ng-model="potRetailerStoreName">
                        <input type="text" placeholder="Phone Number" ng-model="potRetailerPhoneNumber">
                        <div dropdown is-open="false" class="box white">
                            <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
                                <p>{{potRetailerCountry ? potRetailerCountry : 'Country'}} <i class="icon-arrow-down"></i></p>
                            </div>
                            <ul class="dropdown-menu long-list" role="menu" aria-labelledby="single-button">
                                <li><a ng-click="potRetailerCountry = 'United States of America'">United States of America</a></li>
                                <li><a ng-click="potRetailerCountry = 'Afganistan'">Afghanistan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Albania'">Albania</a></li>
                                <li><a ng-click="potRetailerCountry = 'Algeria'">Algeria</a></li>
                                <li><a ng-click="potRetailerCountry = 'American Samoa'">American Samoa</a></li>
                                <li><a ng-click="potRetailerCountry = 'Andorra'">Andorra</a></li>
                                <li><a ng-click="potRetailerCountry = 'Angola'">Angola</a></li>
                                <li><a ng-click="potRetailerCountry = 'Anguilla'">Anguilla</a></li>
                                <li><a ng-click="potRetailerCountry = 'Antigua &amp; Barbuda'">Antigua &amp; Barbuda</a></li>
                                <li><a ng-click="potRetailerCountry = 'Argentina'">Argentina</a></li>
                                <li><a ng-click="potRetailerCountry = 'Armenia'">Armenia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Aruba'">Aruba</a></li>
                                <li><a ng-click="potRetailerCountry = 'Australia'">Australia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Austria'">Austria</a></li>
                                <li><a ng-click="potRetailerCountry = 'Azerbaijan'">Azerbaijan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bahamas'">Bahamas</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bahrain'">Bahrain</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bangladesh'">Bangladesh</a></li>
                                <li><a ng-click="potRetailerCountry = 'Barbados'">Barbados</a></li>
                                <li><a ng-click="potRetailerCountry = 'Belarus'">Belarus</a></li>
                                <li><a ng-click="potRetailerCountry = 'Belgium'">Belgium</a></li>
                                <li><a ng-click="potRetailerCountry = 'Belize'">Belize</a></li>
                                <li><a ng-click="potRetailerCountry = 'Benin'">Benin</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bermuda'">Bermuda</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bhutan'">Bhutan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bolivia'">Bolivia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bonaire'">Bonaire</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bosnia &amp; Herzegovina'">Bosnia &amp; Herzegovina</a></li>
                                <li><a ng-click="potRetailerCountry = 'Botswana'">Botswana</a></li>
                                <li><a ng-click="potRetailerCountry = 'Brazil'">Brazil</a></li>
                                <li><a ng-click="potRetailerCountry = 'British Indian Ocean Ter'">British Indian Ocean Ter</a></li>
                                <li><a ng-click="potRetailerCountry = 'Brunei'">Brunei</a></li>
                                <li><a ng-click="potRetailerCountry = 'Bulgaria'">Bulgaria</a></li>
                                <li><a ng-click="potRetailerCountry = 'Burkina Faso'">Burkina Faso</a></li>
                                <li><a ng-click="potRetailerCountry = 'Burundi'">Burundi</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cambodia'">Cambodia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cameroon'">Cameroon</a></li>
                                <li><a ng-click="potRetailerCountry = 'Canada'">Canada</a></li>
                                <li><a ng-click="potRetailerCountry = 'Canary Islands'">Canary Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cape Verde'">Cape Verde</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cayman Islands'">Cayman Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Central African Republic'">Central African Republic</a></li>
                                <li><a ng-click="potRetailerCountry = 'Chad'">Chad</a></li>
                                <li><a ng-click="potRetailerCountry = 'Channel Islands'">Channel Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Chile'">Chile</a></li>
                                <li><a ng-click="potRetailerCountry = 'China'">China</a></li>
                                <li><a ng-click="potRetailerCountry = 'Christmas Island'">Christmas Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cocos Island'">Cocos Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Colombia'">Colombia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Comoros'">Comoros</a></li>
                                <li><a ng-click="potRetailerCountry = 'Congo'">Congo</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cook Islands'">Cook Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Costa Rica'">Costa Rica</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cote DIvoire'">Cote D'Ivoire</a></li>
                                <li><a ng-click="potRetailerCountry = 'Croatia'">Croatia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cuba'">Cuba</a></li>
                                <li><a ng-click="potRetailerCountry = 'Curaco'">Curacao</a></li>
                                <li><a ng-click="potRetailerCountry = 'Cyprus'">Cyprus</a></li>
                                <li><a ng-click="potRetailerCountry = 'Czech Republic'">Czech Republic</a></li>
                                <li><a ng-click="potRetailerCountry = 'Denmark'">Denmark</a></li>
                                <li><a ng-click="potRetailerCountry = 'Djibouti'">Djibouti</a></li>
                                <li><a ng-click="potRetailerCountry = 'Dominica'">Dominica</a></li>
                                <li><a ng-click="potRetailerCountry = 'Dominican Republic'">Dominican Republic</a></li>
                                <li><a ng-click="potRetailerCountry = 'East Timor'">East Timor</a></li>
                                <li><a ng-click="potRetailerCountry = 'Ecuador'">Ecuador</a></li>
                                <li><a ng-click="potRetailerCountry = 'Egypt'">Egypt</a></li>
                                <li><a ng-click="potRetailerCountry = 'El Salvador'">El Salvador</a></li>
                                <li><a ng-click="potRetailerCountry = 'Equatorial Guinea'">Equatorial Guinea</a></li>
                                <li><a ng-click="potRetailerCountry = 'Eritrea'">Eritrea</a></li>
                                <li><a ng-click="potRetailerCountry = 'Estonia'">Estonia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Ethiopia'">Ethiopia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Falkland Islands'">Falkland Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Faroe Islands'">Faroe Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Fiji'">Fiji</a></li>
                                <li><a ng-click="potRetailerCountry = 'Finland'">Finland</a></li>
                                <li><a ng-click="potRetailerCountry = 'France'">France</a></li>
                                <li><a ng-click="potRetailerCountry = 'French Guiana'">French Guiana</a></li>
                                <li><a ng-click="potRetailerCountry = 'French Polynesia'">French Polynesia</a></li>
                                <li><a ng-click="potRetailerCountry = 'French Southern Ter'">French Southern Ter</a></li>
                                <li><a ng-click="potRetailerCountry = 'Gabon'">Gabon</a></li>
                                <li><a ng-click="potRetailerCountry = 'Gambia'">Gambia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Georgia'">Georgia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Germany'">Germany</a></li>
                                <li><a ng-click="potRetailerCountry = 'Ghana'">Ghana</a></li>
                                <li><a ng-click="potRetailerCountry = 'Gibraltar'">Gibraltar</a></li>
                                <li><a ng-click="potRetailerCountry = 'Great Britain'">Great Britain</a></li>
                                <li><a ng-click="potRetailerCountry = 'Greece'">Greece</a></li>
                                <li><a ng-click="potRetailerCountry = 'Greenland'">Greenland</a></li>
                                <li><a ng-click="potRetailerCountry = 'Grenada'">Grenada</a></li>
                                <li><a ng-click="potRetailerCountry = 'Guadeloupe'">Guadeloupe</a></li>
                                <li><a ng-click="potRetailerCountry = 'Guam'">Guam</a></li>
                                <li><a ng-click="potRetailerCountry = 'Guatemala'">Guatemala</a></li>
                                <li><a ng-click="potRetailerCountry = 'Guinea'">Guinea</a></li>
                                <li><a ng-click="potRetailerCountry = 'Guyana'">Guyana</a></li>
                                <li><a ng-click="potRetailerCountry = 'Haiti'">Haiti</a></li>
                                <li><a ng-click="potRetailerCountry = 'Hawaii'">Hawaii</a></li>
                                <li><a ng-click="potRetailerCountry = 'Honduras'">Honduras</a></li>
                                <li><a ng-click="potRetailerCountry = 'Hong Kong'">Hong Kong</a></li>
                                <li><a ng-click="potRetailerCountry = 'Hungary'">Hungary</a></li>
                                <li><a ng-click="potRetailerCountry = 'Iceland'">Iceland</a></li>
                                <li><a ng-click="potRetailerCountry = 'India'">India</a></li>
                                <li><a ng-click="potRetailerCountry = 'Indonesia'">Indonesia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Iran'">Iran</a></li>
                                <li><a ng-click="potRetailerCountry = 'Iraq'">Iraq</a></li>
                                <li><a ng-click="potRetailerCountry = 'Ireland'">Ireland</a></li>
                                <li><a ng-click="potRetailerCountry = 'Isle of Man'">Isle of Man</a></li>
                                <li><a ng-click="potRetailerCountry = 'Israel'">Israel</a></li>
                                <li><a ng-click="potRetailerCountry = 'Italy'">Italy</a></li>
                                <li><a ng-click="potRetailerCountry = 'Jamaica'">Jamaica</a></li>
                                <li><a ng-click="potRetailerCountry = 'Japan'">Japan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Jordan'">Jordan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Kazakhstan'">Kazakhstan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Kenya'">Kenya</a></li>
                                <li><a ng-click="potRetailerCountry = 'Kiribati'">Kiribati</a></li>
                                <li><a ng-click="potRetailerCountry = 'Korea North'">Korea North</a></li>
                                <li><a ng-click="potRetailerCountry = 'Korea South'">Korea South</a></li>
                                <li><a ng-click="potRetailerCountry = 'Kuwait'">Kuwait</a></li>
                                <li><a ng-click="potRetailerCountry = 'Kyrgyzstan'">Kyrgyzstan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Laos'">Laos</a></li>
                                <li><a ng-click="potRetailerCountry = 'Latvia'">Latvia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Lebanon'">Lebanon</a></li>
                                <li><a ng-click="potRetailerCountry = 'Lesotho'">Lesotho</a></li>
                                <li><a ng-click="potRetailerCountry = 'Liberia'">Liberia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Libya'">Libya</a></li>
                                <li><a ng-click="potRetailerCountry = 'Liechtenstein'">Liechtenstein</a></li>
                                <li><a ng-click="potRetailerCountry = 'Lithuania'">Lithuania</a></li>
                                <li><a ng-click="potRetailerCountry = 'Luxembourg'">Luxembourg</a></li>
                                <li><a ng-click="potRetailerCountry = 'Macau'">Macau</a></li>
                                <li><a ng-click="potRetailerCountry = 'Macedonia'">Macedonia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Madagascar'">Madagascar</a></li>
                                <li><a ng-click="potRetailerCountry = 'Malaysia'">Malaysia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Malawi'">Malawi</a></li>
                                <li><a ng-click="potRetailerCountry = 'Maldives'">Maldives</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mali'">Mali</a></li>
                                <li><a ng-click="potRetailerCountry = 'Malta'">Malta</a></li>
                                <li><a ng-click="potRetailerCountry = 'Marshall Islands'">Marshall Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Martinique'">Martinique</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mauritania'">Mauritania</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mauritius'">Mauritius</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mayotte'">Mayotte</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mexico'">Mexico</a></li>
                                <li><a ng-click="potRetailerCountry = 'Midway Islands'">Midway Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Moldova'">Moldova</a></li>
                                <li><a ng-click="potRetailerCountry = 'Monaco'">Monaco</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mongolia'">Mongolia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Montserrat'">Montserrat</a></li>
                                <li><a ng-click="potRetailerCountry = 'Morocco'">Morocco</a></li>
                                <li><a ng-click="potRetailerCountry = 'Mozambique'">Mozambique</a></li>
                                <li><a ng-click="potRetailerCountry = 'Myanmar'">Myanmar</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nambia'">Nambia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nauru'">Nauru</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nepal'">Nepal</a></li>
                                <li><a ng-click="potRetailerCountry = 'Netherland Antilles'">Netherland Antilles</a></li>
                                <li><a ng-click="potRetailerCountry = 'Netherlands'">Netherlands (Holland, Europe)</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nevis'">Nevis</a></li>
                                <li><a ng-click="potRetailerCountry = 'New Caledonia'">New Caledonia</a></li>
                                <li><a ng-click="potRetailerCountry = 'New Zealand'">New Zealand</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nicaragua'">Nicaragua</a></li>
                                <li><a ng-click="potRetailerCountry = 'Niger'">Niger</a></li>
                                <li><a ng-click="potRetailerCountry = 'Nigeria'">Nigeria</a></li>
                                <li><a ng-click="potRetailerCountry = 'Niue'">Niue</a></li>
                                <li><a ng-click="potRetailerCountry = 'Norfolk Island'">Norfolk Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Norway'">Norway</a></li>
                                <li><a ng-click="potRetailerCountry = 'Oman'">Oman</a></li>
                                <li><a ng-click="potRetailerCountry = 'Pakistan'">Pakistan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Palau Island'">Palau Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Palestine'">Palestine</a></li>
                                <li><a ng-click="potRetailerCountry = 'Panama'">Panama</a></li>
                                <li><a ng-click="potRetailerCountry = 'Papua New Guinea'">Papua New Guinea</a></li>
                                <li><a ng-click="potRetailerCountry = 'Paraguay'">Paraguay</a></li>
                                <li><a ng-click="potRetailerCountry = 'Peru'">Peru</a></li>
                                <li><a ng-click="potRetailerCountry = 'Phillipines'">Philippines</a></li>
                                <li><a ng-click="potRetailerCountry = 'Pitcairn Island'">Pitcairn Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Poland'">Poland</a></li>
                                <li><a ng-click="potRetailerCountry = 'Portugal'">Portugal</a></li>
                                <li><a ng-click="potRetailerCountry = 'Puerto Rico'">Puerto Rico</a></li>
                                <li><a ng-click="potRetailerCountry = 'Qatar'">Qatar</a></li>
                                <li><a ng-click="potRetailerCountry = 'Republic of Montenegro'">Republic of Montenegro</a></li>
                                <li><a ng-click="potRetailerCountry = 'Republic of Serbia'">Republic of Serbia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Reunion'">Reunion</a></li>
                                <li><a ng-click="potRetailerCountry = 'Romania'">Romania</a></li>
                                <li><a ng-click="potRetailerCountry = 'Russia'">Russia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Rwanda'">Rwanda</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Barthelemy'">St Barthelemy</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Eustatius'">St Eustatius</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Helena'">St Helena</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Kitts-Nevis'">St Kitts-Nevis</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Lucia'">St Lucia</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Maarten'">St Maarten</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Pierre &amp; Miquelon'">St Pierre &amp; Miquelon</a></li>
                                <li><a ng-click="potRetailerCountry = 'St Vincent &amp; Grenadines'">St Vincent &amp; Grenadines</a></li>
                                <li><a ng-click="potRetailerCountry = 'Saipan'">Saipan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Samoa'">Samoa</a></li>
                                <li><a ng-click="potRetailerCountry = 'Samoa American'">Samoa American</a></li>
                                <li><a ng-click="potRetailerCountry = 'San Marino'">San Marino</a></li>
                                <li><a ng-click="potRetailerCountry = 'Sao Tome &amp; Principe'">Sao Tome &amp; Principe</a></li>
                                <li><a ng-click="potRetailerCountry = 'Saudi Arabia'">Saudi Arabia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Senegal'">Senegal</a></li>
                                <li><a ng-click="potRetailerCountry = 'Serbia'">Serbia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Seychelles'">Seychelles</a></li>
                                <li><a ng-click="potRetailerCountry = 'Sierra Leone'">Sierra Leone</a></li>
                                <li><a ng-click="potRetailerCountry = 'Singapore'">Singapore</a></li>
                                <li><a ng-click="potRetailerCountry = 'Slovakia'">Slovakia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Slovenia'">Slovenia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Solomon Islands'">Solomon Islands</a></li>
                                <li><a ng-click="potRetailerCountry = 'Somalia'">Somalia</a></li>
                                <li><a ng-click="potRetailerCountry = 'South Africa'">South Africa</a></li>
                                <li><a ng-click="potRetailerCountry = 'Spain'">Spain</a></li>
                                <li><a ng-click="potRetailerCountry = 'Sri Lanka'">Sri Lanka</a></li>
                                <li><a ng-click="potRetailerCountry = 'Sudan'">Sudan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Suriname'">Suriname</a></li>
                                <li><a ng-click="potRetailerCountry = 'Swaziland'">Swaziland</a></li>
                                <li><a ng-click="potRetailerCountry = 'Sweden'">Sweden</a></li>
                                <li><a ng-click="potRetailerCountry = 'Switzerland'">Switzerland</a></li>
                                <li><a ng-click="potRetailerCountry = 'Syria'">Syria</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tahiti'">Tahiti</a></li>
                                <li><a ng-click="potRetailerCountry = 'Taiwan'">Taiwan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tajikistan'">Tajikistan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tanzania'">Tanzania</a></li>
                                <li><a ng-click="potRetailerCountry = 'Thailand'">Thailand</a></li>
                                <li><a ng-click="potRetailerCountry = 'Togo'">Togo</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tokelau'">Tokelau</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tonga'">Tonga</a></li>
                                <li><a ng-click="potRetailerCountry = 'Trinidad &amp; Tobago'">Trinidad &amp; Tobago</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tunisia'">Tunisia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Turkey'">Turkey</a></li>
                                <li><a ng-click="potRetailerCountry = 'Turkmenistan'">Turkmenistan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Turks &amp; Caicos Is'">Turks &amp; Caicos Is</a></li>
                                <li><a ng-click="potRetailerCountry = 'Tuvalu'">Tuvalu</a></li>
                                <li><a ng-click="potRetailerCountry = 'Uganda'">Uganda</a></li>
                                <li><a ng-click="potRetailerCountry = 'Ukraine'">Ukraine</a></li>
                                <li><a ng-click="potRetailerCountry = 'United Arab Erimates'">United Arab Emirates</a></li>
                                <li><a ng-click="potRetailerCountry = 'United Kingdom'">United Kingdom</a></li>
                                <li><a ng-click="potRetailerCountry = 'Uraguay'">Uruguay</a></li>
                                <li><a ng-click="potRetailerCountry = 'Uzbekistan'">Uzbekistan</a></li>
                                <li><a ng-click="potRetailerCountry = 'Vanuatu'">Vanuatu</a></li>
                                <li><a ng-click="potRetailerCountry = 'Vatican City State'">Vatican City State</a></li>
                                <li><a ng-click="potRetailerCountry = 'Venezuela'">Venezuela</a></li>
                                <li><a ng-click="potRetailerCountry = 'Vietnam'">Vietnam</a></li>
                                <li><a ng-click="potRetailerCountry = 'Virgin Islands (Brit)'">Virgin Islands (Brit)</a></li>
                                <li><a ng-click="potRetailerCountry = 'Virgin Islands (USA)'">Virgin Islands (USA)</a></li>
                                <li><a ng-click="potRetailerCountry = 'Wake Island'">Wake Island</a></li>
                                <li><a ng-click="potRetailerCountry = 'Wallis &amp; Futana Is'">Wallis &amp; Futana Is</a></li>
                                <li><a ng-click="potRetailerCountry = 'Yemen'">Yemen</a></li>
                                <li><a ng-click="potRetailerCountry = 'Zaire'">Zaire</a></li>
                                <li><a ng-click="potRetailerCountry = 'Zambia'">Zambia</a></li>
                                <li><a ng-click="potRetailerCountry = 'Zimbabwe'">Zimbabwe</a></li>
                            </ul>
                        </div>

                        <div ng-show="potRetailerCountry == 'United States of America'">
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <div class="pure-padding-right">
                                        <div dropdown is-open="false" class="box white">
                                            <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
                                                <p>{{potRetailerState ? potRetailerState : 'State'}} <i class="icon-arrow-down"></i></p>
                                            </div>
                                            <ul class="dropdown-menu long-list" role="menu" aria-labelledby="single-button">
                                                <li><a ng-click="potRetailerState = 'Alabama'">Alabama</a></li>
                                                <li><a ng-click="potRetailerState = 'Alaska'">Alaska</a></li>
                                                <li><a ng-click="potRetailerState = 'Arizona'">Arizona</a></li>
                                                <li><a ng-click="potRetailerState = 'Arkansas'">Arkansas</a></li>
                                                <li><a ng-click="potRetailerState = 'California'">California</a></li>
                                                <li><a ng-click="potRetailerState = 'Colorado'">Colorado</a></li>
                                                <li><a ng-click="potRetailerState = 'Connecticut'">Connecticut</a></li>
                                                <li><a ng-click="potRetailerState = 'Delaware'">Delaware</a></li>
                                                <li><a ng-click="potRetailerState = 'Florida'">Florida</a></li>
                                                <li><a ng-click="potRetailerState = 'Georgia'">Georgia</a></li>
                                                <li><a ng-click="potRetailerState = 'Hawaii'">Hawaii</a></li>
                                                <li><a ng-click="potRetailerState = 'Idaho'">Idaho</a></li>
                                                <li><a ng-click="potRetailerState = 'Illinois'">Illinois</a></li>
                                                <li><a ng-click="potRetailerState = 'Indiana'">Indiana</a></li>
                                                <li><a ng-click="potRetailerState = 'Iowa'">Iowa</a></li>
                                                <li><a ng-click="potRetailerState = 'Kansas'">Kansas</a></li>
                                                <li><a ng-click="potRetailerState = 'Kentucky'">Kentucky</a></li>
                                                <li><a ng-click="potRetailerState = 'Louisiana'">Louisiana</a></li>
                                                <li><a ng-click="potRetailerState = 'Maine'">Maine</a></li>
                                                <li><a ng-click="potRetailerState = 'Maryland'">Maryland</a></li>
                                                <li><a ng-click="potRetailerState = 'Massachusetts'">Massachusetts</a></li>
                                                <li><a ng-click="potRetailerState = 'Michigan'">Michigan</a></li>
                                                <li><a ng-click="potRetailerState = 'Minnesota'">Minnesota</a></li>
                                                <li><a ng-click="potRetailerState = 'Mississippi'">Mississippi</a></li>
                                                <li><a ng-click="potRetailerState = 'Missouri'">Missouri</a></li>
                                                <li><a ng-click="potRetailerState = 'Montana'">Montana</a></li>
                                                <li><a ng-click="potRetailerState = 'Nebraska'">Nebraska</a></li>
                                                <li><a ng-click="potRetailerState = 'Nevada'">Nevada</a></li>
                                                <li><a ng-click="potRetailerState = 'New Hampshire'">New Hampshire</a></li>
                                                <li><a ng-click="potRetailerState = 'New Jersey'">New Jersey</a></li>
                                                <li><a ng-click="potRetailerState = 'New Mexico'">New Mexico</a></li>
                                                <li><a ng-click="potRetailerState = 'New York'">New York</a></li>
                                                <li><a ng-click="potRetailerState = 'North Carolina'">North Carolina</a></li>
                                                <li><a ng-click="potRetailerState = 'North Dakota'">North Dakota</a></li>
                                                <li><a ng-click="potRetailerState = 'Ohio'">Ohio</a></li>
                                                <li><a ng-click="potRetailerState = 'Oklahoma'">Oklahoma</a></li>
                                                <li><a ng-click="potRetailerState = 'Oregon'">Oregon</a></li>
                                                <li><a ng-click="potRetailerState = 'Pennsylvania'">Pennsylvania</a></li>
                                                <li><a ng-click="potRetailerState = 'Rhode Island'">Rhode Island</a></li>
                                                <li><a ng-click="potRetailerState = 'South Carolina'">South Carolina</a></li>
                                                <li><a ng-click="potRetailerState = 'South Dakota'">South Dakota</a></li>
                                                <li><a ng-click="potRetailerState = 'Tennessee'">Tennessee</a></li>
                                                <li><a ng-click="potRetailerState = 'Texas'">Texas</a></li>
                                                <li><a ng-click="potRetailerState = 'Utah'">Utah</a></li>
                                                <li><a ng-click="potRetailerState = 'Vermont'">Vermont</a></li>
                                                <li><a ng-click="potRetailerState = 'Virginia'">Virginia</a></li>
                                                <li><a ng-click="potRetailerState = 'Washington'">Washington</a></li>
                                                <li><a ng-click="potRetailerState = 'West Virginia'">West Virginia</a></li>
                                                <li><a ng-click="potRetailerState = 'Wisconsin'">Wisconsin</a></li>
                                                <li><a ng-click="potRetailerState = 'Wyoming'">Wyoming</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="pure-u-1-2">
                                    <input type="text" placeholder="City" ng-model="potRetailerCity">
                                </div>
                            </div>
                        </div>
                        <div ng-show="potRetailerCountry && potRetailerCountry !== 'United States of America'">
                            <input type="text" placeholder="City" ng-model="potRetailerCity">
                        </div>
                        <div class="message">
                            <p>What brands are you interested in?</p>
                            <div class="row">
                                <p>
                                    <input type="checkbox" name="" ng-model="potRetailerMaggieInterest" />
                                    <label>Maggie Sottero</label>
                                </p>
                            </div>
                            <div class="row">
                                <p>
                                    <input type="checkbox" name="" ng-model="potRetailerMidgleyInterest" />
                                    <label>Sottero and Midgley</label>
                                </p>
                            </div>
                        </div>
                        <textarea rows="7" placeholder="Your message" ng-model="potRetailerMessage"></textarea>
                        <button type="submit" class="btn white">Send</button>
                        <div ng-include="'/partials/loading-cube.html'" ng-show="emailSending" class="white-loader"></div>
                    </div>
                </form>

                <!-- Bride -->
                <section ng-show="selectedSender == 'I\'m a Bride'">
                    <div class="message">
                        <p>If you are a bride needing assistance, please visit our <a href="/find-a-store">Store Locator</a> to find an Authorized Retailer near you or visit our <a href="/faq">FAQ</a> for additional information</p>
                    </div>
                </section>

                <!-- Media Form -->
                <form ng-submit="sendMediaEmail()" ng-show="selectedSender == 'I\'m inquiring about media opportunities'">
                    <div ng-hide="mediaNext">
                        <input type="text" placeholder="Email" ng-model="mediaEmail">
                        <input type="text" placeholder="Name" ng-model="mediaName">
                        <div class="btn white" ng-click="mediaNextAction()">Next</div>
                    </div>
                    <div ng-show="mediaNext">
                        <input type="text" placeholder="Outlet" ng-model="mediaOutlet">
                        <textarea rows="7" placeholder="Your message" ng-model="mediaMessage"></textarea>
                        <button type="submit" class="btn white">Send</button>
                        <div ng-include="'/partials/loading-cube.html'" ng-show="emailSending" class="white-loader"></div>
                    </div>
                </form>

                <!-- Other Form -->
                <form ng-submit="sendOtherEmail()" ng-show="selectedSender == 'Other'">
                    <div ng-hide="otherNext">
                        <input type="text" placeholder="Email" ng-model="otherEmail">
                        <input type="text" placeholder="Name" ng-model="otherName">
                        <div class="btn white" ng-click="otherNextAction()">Next</div>
                    </div>
                    <div ng-show="otherNext">
                        <textarea rows="7" placeholder="Your message" ng-model="otherMessage"></textarea>
                        <button type="submit" class="btn white">Send</button>
                        <div ng-include="'/partials/loading-cube.html'" ng-show="emailSending" class="white-loader"></div>
                    </div>
                </form>

            </section>
            <section ng-show="showThankYouPage" class="thank-you">
                <h3>Thank You</h3>
                <p>Thank you for your inquiry. A member of our team will be in contact with you soon.</p>
                <button class="btn white" ng-click="showThankYouPage = false; retailerNext = false; potentialRetailerNext = false; mediaNext = false;">Okay</button>
            </section>
        </div>
    </div>

</div>
