<h1 class="title">{{dress.ProductLine}} Bride {{dress.Name | titlecase}}</h1>
<div id="dress-page">
	<section class="banner">
		<iframe id="player1" ng-show="dress.VideoPreviewId" ng-src="{{videoSrc}}" width="1440" height="680" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="banner-image" style="background:url('{{videoBanner}}') no-repeat center;"></div>
		<!-- <video id="player1" autoplay loop>
			<source src="https://player.vimeo.com/external/161077250.hd.mp4?s=eb44f0609f3a5c6b68537b1279f613047ab1f890&profile_id=174" type="video/mp4"> Your browser does not support the video tag.
		</video>
		<div class="banner-image" style="background:url('{{videoBanner}}') no-repeat center;"></div> -->
		<article>
			<div class="hover"></div>
			<h2>{{dress.Name | titlecase}}</h2>
			<button class="btn white-outline subdominant iconic" ng-click="playVideo()" ng-show="dress.VideoPreviewId"><i class="icon-play"></i> Watch Full Video</button>
			<a ng-if="previousDress" href="/{{previousDress.DressLine}}/{{previousDress.Name | lowercase}}/{{previousDress.ProductId}}">
				<span class="dress-arrow left">
					<i class="icon-arrow-left"></i>
				</span>
			</a>
			<a ng-if="nextDress" href="/{{nextDress.DressLine}}/{{nextDress.Name | lowercase | nospace}}/{{nextDress.ProductId}}">
				<span class="dress-arrow right">
					<i class="icon-arrow-right"></i>
				</span>
			</a>
		</article>
		<div class="fullscreen-video">
			<i class="icon-close-big" ng-click="stopVideo()"></i>
			<iframe id="player2" ng-show="dress.VideoPreviewId" ng-src="{{videoSrcLong}}" width="1440" height="680" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</section>

	<section class="dress-info">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-lg-2-5">
				<div class="pure-padding">
					<h5>Dress Details</h5>
					<hr class="small">
					<p class="description">{{dress.Description}}</p>
					<hr>
					<p><strong>Colors</strong></p>
					<p>{{dress.AvailableColors}}</p>
					<div class="pure-g second-row">
						<div class="pure-u-1 pure-u-sm-1-2">
							<p><strong>Size Range</strong></p>
							<p>{{dress.SizeRange}}</p>
						</div>
					</div>
					<hr>
					<div class="pure-g">
						<div class="pure-u-1 pure-u-sm-1-3">
							<button class="btn subordinate iconic" ng-click="likeSelectedDress(dressId)"><i ng-class="{'icon-heart-filled':favorited == true, 'icon-heart':favorited == undefined || favorited == false}"></i> Favorite</button>
						</div>
						<div class="pure-u-1 pure-u-sm-1-3">
							<button class="btn subordinate iconic" data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, dress.ProductLine)"><i class="icon-share"></i> Share</button>
						</div>
						<div class="pure-u-1 pure-u-sm-1-3">
							<a href="/find-a-store">
								<button class="btn subordinate iconic"><i class="icon-location"></i> Find Retailer</button>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-lg-3-5">

				<slick infinite="false" infinite="true" speed="300" slides-to-show="2" slides-to-scroll="1" arrows="true" ng-if="dress.Images.length" class="phone-h">
					<div ng-repeat="image in dress.Images | filter:'Medium' | orderBy:'Sequence'">
						<img ng-click="showImageZoomSlider($index)" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{image.PictureId}}/{{image.FileName}}" alt="{{image.AltText}}" />
					</div>
				</slick>

				<slick infinite="false" infinite="true" speed="300" slides-to-show="1" slides-to-scroll="1" arrows="false" dots="true" ng-if="dress.Images.length" class="phone-s">
					<div ng-repeat="image in dress.imageCategories.Medium | orderBy:'Sequence'">
						<img ng-click="showImageZoomSlider($index)" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{image.PictureId}}/{{image.FileName}}" alt="{{image.AltText}}" />
					</div>
				</slick>

			</div>
		</div>
	</section>

	<section class="more">
		<!-- Show both if both have data -->
		<div class="pure-g" ng-hide="!bridePost || recentlyViewed.length < 2">
			<div class="pure-u-1 pure-u-sm-1-2">
				<div class="card first">
					<h4 class="regular italic">"{{bridePost.about_wedding | limitTo:80}}"</h4>
					<p>- {{bridePost.name}}</p>
					<div class="thumbnail" style="background:url('{{bridePost.images[0].url}}');"></div>
					<a href="/brides">
						<button class="btn subdominant">See More</button>
					</a>
				</div>
			</div>
			<div class="pure-u-1 pure-u-sm-1-2" ng-show="recentlyViewed.length == 2">
				<div class="card second">
					<h4 class="regular">Recently Viewed</h4>
					<hr>
					<div class="pure-g">
						<div class="pure-u-1 pure-u-sm-1-2 dress" ng-repeat="dress in recentlyViewed">
							<a href="/{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
								<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}" alt="{{dress.Images[0].AltText}}" />
								<p class="regular">{{dress.Name | titlecase}}</p>
							</a>
							<div class="actions">
								<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
								<p data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, dress.ProductLine)"><i class="icon-share"></i> Share</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Show only recently viewed if no associated bride post -->
		<div class="row" ng-show="recentlyViewed.length == 2 && bridePost == undefined">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="card">
						<h4 class="regular">Related Dresses</h4>
						<hr>
						<div class="pure-g">
							<div class="pure-u-1 pure-u-sm-1-2 dress" ng-repeat="dress in relatedDresses">
								<a href="/{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
									<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}" alt="{{dress.Images[0].AltText}}" />
									<p class="regular">{{dress.Name | titlecase}}</p>
								</a>
								<div class="actions">
									<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
									<p data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, dress.ProductLine)"><i class="icon-share"></i> Share</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" ng-show="recentlyViewed.length == 2">
					<div class="card">
						<h4 class="regular">Recently Viewed</h4>
						<hr>
						<div class="pure-g">
							<div class="pure-u-1 pure-u-sm-1-2 dress" ng-repeat="dress in recentlyViewed">
								<a href="/{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
									<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}" alt="{{dress.Images[0].AltText}}" />
									<p class="regular">{{dress.Name | titlecase}}</p>
								</a>
								<div class="actions">
									<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
									<p data-toggle="modal" data-target="#shareModal" ng-click="setShareData(dress, dress.ProductLine)"><i class="icon-share"></i> Share</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Show only bride post if no recenlty viewed -->
		<div class="row" ng-show="recentlyViewed.length < 2 && bridePost">
			<div class="card single">
				<div class="pure-g">
					<div class="pure-u-1">
						<h4 class="regular italic">"{{bridePost.about_wedding | limitTo:80}}"</h4>
						<p>- {{bridePost.name}}</p>
						<div class="single-thumbnail" style="background:url('{{bridePost.images[0].url}}');"></div>
						<a href="/brides">
							<button class="btn subdominant">See More</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

	<!-- Modals -->
	<div ng-include="'/partials/modal-share.html'"></div>

	<div class="image-zoom">
		<i class="icon-close-big" ng-click="hideImageZoom()"></i>
		<img ng-src="{{selectedZoomImageSrc}}" />
	</div>

	<div class="dress-preloader">
		<div class="preloader" ng-repeat="image in dress.imageCategories.High" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{image.PictureId}}/{{image.FileName}}') no-repeat -9999px -9999px">
		</div>
	</div>


</div>
