<div class="events-page page">

	<div class="location">
		<h3>Find an Event Near You</h3>
		<br>
		<form ng-submit="findEvents()" class="pure-u-1 pure-u-sm-1-2">
			<div class="prediction-box">
				<div class="input-button-grp">
					<input type="text" ng-model="search" id="search" autocomplete="off" placeholder="Enter a city or postal code" />
					<button class="btn purple" type="submit">Search</button>
					<i class="icon-search" ng-click="findEvents()"></i>
				</div>
				<ul class="prediction-list" ng-class="{'hide':!search || hidePrediction}">
					<li tabindex="$index" ng-repeat="city in cities | filter: greaterThan(search,1)" ng-click="setSearch(city)">{{city.City}}, {{city.State}}
						<span ng-if="city.State.length">,</span> {{city.CountryName}} {{city.PostalCode}}</li>
				</ul>
			</div>
		</form>
		<div class="row">
			<div class="search-box">
				<div class="pure-g all-search">
					<div class="pure-u-1-2">
						<p ng-click="showAllUSAEvents()">ALL USA EVENTS BY STATE</p>
					</div>
					<div class="pure-u-1-2">
						<p ng-click="showAllInternationalEvents()">ALL INTERNATIONAL EVENTS</p>
					</div>
				</div>
				<div class="refine-search-box">
					<div dropdown is-open="false" class="box white">
						<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
							<p>{{filter.ProductLineId ? brandTitle : 'All Brands'}} <i class="icon-arrow-down"></i></p>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li><a ng-click="filter.ProductLineId = undefined; brandTitle = 'All Brands'"> All Brands</a></li>
							<li><a ng-click="filter.ProductLineId = 2; brandTitle = 'Maggie Sottero'"> Maggie Sottero</a></li>
							<li><a ng-click="filter.ProductLineId = 3; brandTitle = 'Sottero &amp; Midgley'"> Sottero and Midgley</a></li>
						</ul>
					</div>
					<div dropdown is-open="false" class="box white">
						<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
							<p>{{eventType ? premierTitle : 'All Types'}} <i class="icon-arrow-down"></i></p>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li><a ng-click="eventType = undefined; premierTitle = 'All Types'"> All Types</a></li>
							<li><a ng-click="eventType = 'Trunk Show'; premierTitle = 'Trunk Shows'"> Trunk Shows</a></li>
							<li><a ng-click="eventType = 'Unveiled'; premierTitle = 'Unveiled'"> Unveiled</a></li>
							<li><a ng-click="eventType = 'Store Event'; premierTitle = 'Store Events'"> Store Events</a></li>
							<li><a ng-click="eventType = 'First Look'; premierTitle = 'First Looks'"> First Looks</a></li>
						</ul>
					</div>
				</div>
				<div class="show-map" click-outside="hideMap()" ng-class="{'hide-map':!events || events.length < 1 || countrySearch}">
					<p ng-click="showMap = !showMap">Show Map +</p>
					<div ng-class="{'show':showMap}" id="map"></div>
				</div>
			</div>
		</div>
		<div class="distance-selector working-text" ng-if="events && !eventsLoading" ng-hide="countrySearch || groups">
			<p ng-hide="locationNotFound">There are {{filtered.length}} events within</p>
			<div ng-hide="locationNotFound" dropdown is-open="false" class="box white">
				<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
					<p>{{radius ? radius : '50'}} <i class="icon-arrow-down"></i></p>
				</div>
				<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
					<li><a ng-click="adjustMiles(15)"> 15</a></li>
					<li><a ng-click="adjustMiles(25)"> 25</a></li>
					<li><a ng-click="adjustMiles(50)"> 50</a></li>
					<li><a ng-click="adjustMiles(100)"> 100</a></li>
					<li><a ng-click="adjustMiles(200)"> 200</a></li>
				</ul>
			</div>
			<p ng-hide="locationNotFound">Miles
				<text ng-if="!searchString || searchString.length == 0">of your location</text>
				<text ng-if="searchString && searchString.length > 0">of {{searchString}}</text>
			</p>
			<p ng-show="locationNotFound">Location Not Found</p>
		</div>
		<p ng-show="countrySearch && !groups">{{filtered.length}} Events Found</p>
		<p ng-show=""></p>
		<p class="working-text" ng-show="storesLoading">Searching</p>
	</div>
	<div ng-include="'/partials/loading-cube.html'" ng-show="eventsLoading"></div>

	<ul class="events">
		<li ng-repeat="event in filtered = (events | filter:eventType | filter:{ProductLineId:filter.ProductLineId}) | orderBy:'StartDate' | sortEvents">
			<div class="pure-g container">
				<div class="pure-u-1 pure-u-sm-5-12">
					<div class="pure-padding address">
						<section class="details-section">
							<span ng-show="event.EventType" class="event-type" popover-placement="right" popover="{{getEventText(event.EventType)}}" popover-trigger="mouseenter">
								<if ng-show="event.EventType !== 'First Look'">
									{{event.EventType}}
								</if>
								<if ng-show="event.EventType == 'First Look'">
									<img class="first-look" src="images/firstLOOK_logo.png" />
								</if>
								<i class="icon-info"></i>
							</span>
							<h4>{{event.Name | titlecase | truncate:truncateSize}}</h4>
							<p>{{event.Street | titlecase}}
								<br> {{event.Street2 | titlecase}} {{event.Street3 | titlecase}} {{event.City | titlecase}}, {{event.State | statetitlecase}}, {{event.Country}} {{event.PostalCode}}
							</p>
							<p class="bold">{{event.StartDate | date : 'MMM d'}} - {{event.EndDate | date : 'MMM d, yyyy'}}</p>
							<a href="tel:{{event.PhoneNumber}}">
								<p><i class="icon-phone"></i> Call us: {{event.PhoneNumber}}</p>
							</a>
						</section>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-4">
					<div class="pure-padding brands">
						<p>BRANDS AVAILABLE</p>
						<i class="product-line" ng-class="{'icon-logo':event.ProductLineId == '2', 'icon-sottero-and-midgley':event.ProductLineId == '3'}"></i>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-3 map-section">
					<div class="pure-padding-left">
						<div class="map" style="background:url('https://ms-cdn.maggiesottero.com/product/Content/Images/{{event.Images[0].PictureId}}/{{event.Images[0].FileName}}') no-repeat center"></div>
						<a href="https://www.google.com/maps/place/{{event.Street | titlecase}} {{event.Street2 | titlecase}} {{event.Street3 | titlecase}} {{event.City | titlecase}}, {{event.State}} {{event.PostalCode}}" target="_blank">
							<span><i class="icon-bus"></i> Get Directions</span>
						</a>
						<span ng-if="store.Premier == 1" class="premiere">Premiere Retailer <i class="icon-info"></i></span>
					</div>
				</div>
			</div>
		</li>
		<li class="expand" ng-show="events">
			<p ng-hide="locationNotFound">There are {{filtered.length}} events within {{radius}} Miles<br>  <text ng-if="!searchString || searchString.length == 0">of your location</text><text ng-if="searchString && searchString.length > 0">of {{searchString}}</text></p>
			<button class="btn black" ng-click="expandSearch()">EXPAND YOUR SEARCH RESULTS</button>
		</li>
	</ul>

	<div class="store-group container">
		<div class="pure-g" ng-repeat="group in groups | orderBy:'Name'" ng-show="filteredEvents.length > 0">
			<div class="pure-u-1">
				<h3>{{group.Name}}</h3>
			</div>
			<div class="pure-u-1-2" ng-repeat="event in filteredEvents = (group.Events | filter:eventType | filter:{ProductLineId:filter.ProductLineId}) | orderBy:'City'">
				<article>
					<p><b>{{event.City | titlecase}}</b></p>
					<p>{{event.Name | titlecase}}</p>
					<p><b>{{event.StartDate | date : 'MMM d'}} - {{event.EndDate | date : 'MMM d, yyyy'}}</b></p>
					<span ng-show="event.EventType" class="event-type">
						<if ng-show="event.EventType !== 'First Look'">
							{{event.EventType}}
						</if>
						<if ng-show="event.EventType == 'First Look'">
							<img class="first-look" src="images/firstLOOK_logo.png" />
						</if>
					</span>
					<p>{{event.Street | titlecase}} {{event.Street2 | titlecase}} {{event.Street3 | titlecase}}
					</p>
					<a href="tel:{{event.PhoneNumber}}">
						<p>{{event.PhoneNumber}}</p>
					</a>
				</article>
			</div>
		</div>
	</div>

	<h2 ng-show="filtered.length == 0 && !eventsLoading" class="no-results-message"><a href="/sign-up">Sign up</a> to be notified when there is an event near you</h2>
</div>
