<div class="faq-page page">
	<h1 class="title">FAQs: Becoming a Maggie Bride</h1>
	<div class="banner phone-h">
		<h2>FAQs</h2>
	</div>
	<div class="container">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-4">
				<nav id="faq-nav">
					<p class="title">Browse by Topic</p>
					<ul>
						<li ng-class="{active: tab == 'gown'}" ng-click="tab = 'gown'">
							<p>
								Purchasing a Gown
							</p>
						</li>
						<li ng-class="{active: tab == 'sizing'}" ng-click="tab = 'sizing'">
							<p>
								Sizing
							</p>
						</li>
						<li ng-class="{active: tab == 'styling'}" ng-click="tab = 'styling'">
							<p>
								Styling
							</p>
						</li>
						<li ng-class="{active: tab == 'brides'}" ng-click="tab = 'brides'">
							<p>
								Maggie Brides
							</p>
						</li>
						<li ng-class="{active: tab == 'privacyPolicy'}" ng-click="tab = 'privacyPolicy'">
							<p>
								Privacy Policy
							</p>
						</li>
						<li ng-class="{active: tab == 'bridesBeware'}" ng-click="tab = 'bridesBeware'">
							<p>
								Brides Beware
							</p>
						</li>
					</ul>
				</nav>
			</div>
			<div class="pure-u-1 pure-u-sm-3-4">
				<div class="card">

					<div ng-class="{active: tab == 'gown'}">
						<p class="title">Purchasing a Gown</p>
						<p><b>Can I buy my gown directly from Maggie Sottero?</b><br>
							We’re thrilled you are interested in wearing a Maggie Sottero or Sottero and Midgley gown and we would love to be part of your big day! We partner with local Authorized Retailers all over the world who are happy to assist you in finding your dream gown, as we do not sell gowns directly to brides. To find an Authorized Retailer near you, use our <a href="/find-a-store">Store Locator.</a>
							<br><br>
							<b>Is it safe to buy my gown online?</b><br>
							We can only guarantee authenticity of a Maggie Sottero Designs gown if it has been purchased from one of our Authorized Retailers. Purchasing a gown from unauthorized sources, online or otherwise, may involve certain risks including copies, counterfeits, or knock-off Maggie Sottero or Sottero and Midgley gowns. At Maggie Sottero Designs, it’s our aim to ensure our brides are radiant and happy on their wedding day, complete with the wedding dress of their dreams. Here are a few suggestions while shopping online:<br><br>
						</p>
						<p class="indent">
							<b>Do your Homework</b><br>
								– Have you found a gown you’ve fallen in love with? Check the <a href="/find-a-store">Store Locator</a> on our website and call to see if they have the dress in stock. Working with an Authorized Retailer ensures authenticity of a Maggie Sottero or Sottero and Midgley gown. <br><br>
							<b>Check the Advertised Price</b><br>
								 – If the price of a Maggie Sottero Designs gown is significantly below the prices prevailing in the market, it’s likely the dress is not a genuine Maggie Sottero or Sottero and Midgley gown. <br><br>
							<b>Look at Pictures</b><br>
								 – Many manufacturers forbid the use of their photos on unauthorized sites. If a site you’re looking at has strange imagery, blurry resolution, or models with cropped heads, you may be on a counterfeit site. <br><br>
							<b>Contact Information</b><br>
								 – Check the “About Us” or “FAQ” section of the website you’re on. Look to see where the company is based. If they’re an Authorized Retailer, the store information on their website will match the store information on our <a href="/find-a-store">Store Locator.</a>
							<br><br>
						</p>
						<p>
							<b>How do I confirm that a store is an Authorized Retailer?</b><br>
							There are a few ways to verify a store is indeed an Authorized Retailer. First, check to ensure they are listed on our <a href="/find-a-store">Store Locator</a> page on our website, as each and every Authorized Retailer will be listed there. Authorized Retailers should also have an “Authorized Maggie Sottero Retailer” or “Authorized Sottero and Midgley Retailer” seal in their store window. If the shop you are considering buying a Maggie Sottero or Sottero and Midgley gown from meets these requirements, please be assured they are an Authorized Retailer, and will provide you with an authentic Maggie Sottero or Sottero and Midgley gown. 
							<br><br>
							<b>I’ve ordered my Maggie Sottero gown… When should I expect it?</b><br>
							For ordering and shipping information, please check with your Authorized Retailer. Delivery time may vary from style to style, and your Authorized Retailer will have the most updated information for your particular dress.
						</p>
					</div>

					<div ng-class="{active: tab == 'sizing'}">
						<p class="title">Sizing</p>
						<p>
							<b>In what sizes are your gowns available?</b><br>
							While most of our gowns come in an array of sizes, the nature of fitting a wedding dress is precise. Please contact your local Authorized Retailer for specific sizing questions, and to ensure you get a properly fitting wedding gown.
						</p>
					</div>

					<div ng-class="{active: tab == 'styling'}">
						<p class="title">Styling</p>
						<p>
							<b>I want my wedding day to be absolutely perfect… Is there anyone who can help me with styling questions?</b><br>
							Your wedding day is one of the most important days of your life, and we understand that every last detail is significant. We have Authorized Retailers throughout the world who are experts in the bridal industry, from what color pocket square your groom should wear, to what length veil complements your dress. We encourage you to reach out to your local Authorized Retailer with any styling questions you may have or take a look at our blog. Need help determining your wedding day style? <a href="/quiz">Take our quiz</a> now! 
							<br><br>
							<b>What is the difference between white and diamond white?</b><br>
							We understand choosing the color of a wedding gown can be daunting. White, diamond white, alabaster… There are so many choices! Our diamond white is a very light ivory, whereas our white is a true, pure white color. Diamond white has a lovely soft hue, making it flattering on nearly all skin tones. When shopping for your wedding dress, ask your Authorized Retailer to show you examples of the various color ways, or read our <a href="/blog/know-your-whites/">color guide</a> on our blog.
						</p>
					</div>

					<div ng-class="{active: tab == 'brides'}">
						<p class="title">Maggie Brides</p>
						<p>
							<b>How can I be included on the Maggie Brides section of your website?</b><br>
							Congratulations on this exciting time in your life! We’re thrilled to have been part of your wedding day, and we can’t wait to see what a beautiful bride you made. We cherish the joyous experiences our Maggie Brides have shared with us, and would love to hear your story. Simply fill out the <a href="/share-wedding">form</a> to submit your photo and story. Best wishes to you and your spouse!
						</p>
					</div>

					<div ng-class="{active: tab == 'bridesBeware'}">
						<p class="title">Brides Beware</p>
						<p>
							<b>ONLY MAGGIE SOTTERO DESIGNS PRODUCTS PURCHASED DIRECTLY FROM AUTHORIZED MAGGIE SOTTERO OR SOTTERO AND MIDGLEY RETAILERS ARE GUARANTEED GENUINE MAGGIE SOTTERO DESIGNS PRODUCTS.</b><br><br>
							Purchasing Maggie Sottero Designs products from unauthorized sources, either on the web or in unauthorized retail locations may involve certain risks including, but not limited to: 
							<br><br>
							The products could be copies, knock-offs, counterfeits or imitations that are certain to be of inferior quality. Only genuine Maggie Sottero Designs products offer the fit, quality and true value for which Maggie Sottero Designs is known. 
							<br><br>
							The gown may not be delivered even though a deposit has been made or the gown has been paid for in full. Maggie Sottero Designs only ships to Authorized Retailers. If an unauthorized retailer offers to order Maggie Sottero Designs products, they are either ordering a counterfeit product or are ordering through unauthorized channels. If Maggie Sottero Designs discovers the supplier of an unauthorized retailer, the supplier is subject to termination. Maggie Sottero Designs can only assist brides in the delivery of their gown if the gown is purchased from an Authorized Maggie Sottero or Sottero and Midgley Retailer.<br><br>
							<b>COUNTERFEIT EDUCATION</b><br><br>
							Counterfeit Maggie Sottero Designs products are being offered on website (E-commerce), in web auctions and in unauthorized retail locations. In some cases, suppliers from China claim they produce genuine Maggie Sottero Designs products. These products, however, have proven to be counterfeit and have been the cause of great disappointment and regret.<br>
							<br><br>
							Authorized Maggie Sottero and Sottero and Midgley Retailers provide a high level of service and support that their customers deserve and Maggie Sottero Designs expects. Authorized Retailers are free to set their own prices. If the price of a Maggie Sottero Designs product is significantly below the prices generally prevailing in the market, it is highly likely it is not a genuine Maggie Sottero Designs product. For your security, please visit the <a href="/find-a-store">Store locator</a> page to find an Authorized Maggie Sottero or Sottero and Midgley Retailer.
						</p>
					</div>

					<div ng-class="{active: tab == 'privacyPolicy'}">
						<p class="title">Our Privacy Policy</p>
						<p>
							Maggie Sottero Designs, LLC is committed to safeguarding your privacy online. Please read the following policy to understand how your personal information will be treated as you make use of our offerings and website.
							<br><br>
							<b>What information do we collect?</b><br>
							We collect information from you when you register on our site or fill out a form. When registering on our site, you may be asked to enter your name, email address, zip/postal code and other contact information. You may however, visit our site anonymously. 
							<br><br>
							In addition to requesting information, we may ask you for personal information at other times, including (but not limited to) when you download a file; ask us to contact you; join our mailing list; register for an event; complete a survey; and report a problem with our site or services. If you contact Maggie Sottero Designs we may keep a record of that correspondence. 
							<br><br>
							<b>What are cookies and action tags and how do we use them? </b><br>
							As part of offering and providing customizable and personalized services, we may use cookies, action tags, tracking technology and other methods depending on the features offered. A cookie is a small amount of data that is sent to your browser from our web server and stored on your computer’s hard drive. An action tag (also known as a “clear gif” or “web beacon”) is a small, graphic image on a web page that is designed to allow the site owner or a third party to monitor who is visiting a site by collecting the IP address of the computer that the tag is sent to, the URL of the page the tag comes from, and the time it was viewed. Tags also may be associated with cookie information. 
							<br><br>
							Cookies and tags are also useful for gathering information such as browser type, IP addresses, and operating system, tracking the number of visitors to the site, and understanding how visitors use the site. Cookies can also help customize the site for visitors and automate certain areas of the website or online forms. We use this research to understand how the website is used so that we can improve the customer experience. The information is aggregated and reported to our marketing departments. 
							<br><br>
							By modifying your browser preferences, you have the choice to accept all cookies, to be notified when a cookie is set, or to reject all cookies. If you choose to set up your browser to reject all cookies, please understand that you may be limited to some of the areas or functionality within our website. Please refer to your browser’s help for further information about your options for controlling or monitoring cookies. 
							<br><br>
							<b>How do we use your information? </b><br>
							Any of the information we collect from you may be used to: <br>
							• Personalize your experience  <br>
							• Improve our website  <br>
							• Improve customer service<br>
							• Process transactions <br>
							• Send periodic emails or other messages <br>
							• Administer a contest, promotion, survey or other site feature <br>
							<br><br>
							The contact information that you provide, may be used to send information and updates, occasional company news, related product or service information by email, SMS text message, fax, or other methods. If at any time you would like to unsubscribe from receiving future messages, we include unsubscribe instructions at the bottom of each message. 
							<br><br>
							We may offer message boards, personal web pages, and other areas for you to post your experiences, stories and photos. Any information you voluntarily disclose when you post to one of these areas becomes public and may be used by us for online and offline promotional and commercial uses. If you choose to post comments, experiences, stories or photos on our website, you should be aware that any personally identifiable information you submit is public and can be read, collected, or used by other users of those areas, and could be used to send you unsolicited messages. We are not responsible for any personally identifiable information you choose to submit to these areas. 
							<br><br>
							If you choose to use our “Share this page” feature, you may be asked for email addresses for other individuals. We store this information for the purpose of sending this one-time email and tracking the success of the feature. In some instances, third-party sponsorships and promotions on our site offer similar functionality, and in those cases, the information is not shared with the third party. 
							<br><br>
							<b>How do we protect your information? </b><br>
							We implement a variety of security measures to maintain the safety of your personal information. Only authorized employees, agents and contractors (who have agreed to keep information secure and confidential) have access to this information. 
							<br><br>
							<b>Do we disclose any information to outside parties? </b><br>
							Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever without your consent, other than for the express purpose of delivering the purchased product or service requested by you, the customer. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. 
							<br><br>
							We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud, unauthorized transactions; or, (3) investigating fraud which has already taken place; or, (4) protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. 
							<br><br>
							Our third-party advertising company partners may collect non-identifiable information derived from cookies and other technologies about your visits to our site. They may combine this information with data about your web activities at third-party website or with demographic information to identify your likely interests so that they and we can provide you with more useful and relevant advertisements. This is often called behavioral advertising. 
							<br><br>
							<b>Third party links </b><br>
							Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites. 
							<br><br>
							<b>What else should I know about my privacy? </b><br>
							Please keep in mind that whenever you voluntarily disclose personal information online, you may receive unsolicited messages from parties in return. Unfortunately, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, Maggie Sottero Designs cannot ensure or warrant the security of any information you transmit to us or from our online products or services, and you do so at your own risk. Once we receive your transmission, we make our best effort to ensure its security on our systems. Ultimately, you are solely responsible for maintaining the secrecy of your passwords and/or account information. Please be careful and responsible whenever you’re online. The Network Advertising Initiative allows users to opt out of an NAI member’s behavioral advertising programs. Opting out of a network does not mean you will no longer receive online advertising. It does mean that the network from which you opted out will no longer deliver ads tailored to your web preferences and usage patterns. Please see <a href="http://www.networkadvertising.org/managing/opt_out.asp">Network Advertising</a> for more information. 
							<br><br>
							<b>Online Privacy Policy Only </b><br>
							This online privacy policy applies only to information collected through our website and not to information collected offline. 
							<br><br>
							<b>Changes to our Privacy Policy </b><br>
							We reserve the right to modify this privacy policy at any time. We will post any changes on this page.
							<br><br>
							This policy was last modified on September 1, 2015.

						</p>
					</div>

				</div>
			</div>
		</div>
	</div>




</div>
