<div id="favorites-page" class="page">
	<h1 class="title">Favorite Wedding Dresses</h1>
	<div class="container">
		
		<div class="header">	
			<h3>My Favorites</h3>
			<button class="btn subdominant" ng-click="removeAll()" ng-hide="noFavorites">Remove All</button>
			<section ng-show="noFavorites">
				<span>You have no Favorites!<span>
				<a href="/maggie-sottero"><button class="btn subdominant">View Dresses</button></a>
			</section>
		</div>
		<div class="pure-g favorites-list">
			<div ng-repeat="dress in favorites" class="pure-u-1-2 pure-u-sm-1-4 relative">
				<span ng-click="removeFavorite(dress.ProductId)"><i class="icon-close-big"></i> Remove</span>
				<div class="block">	
					<a href="{{dress.ProductLine | lowercase | convertToPath}}/{{dress.Name | lowercase}}/{{dress.ProductId}}">	
						<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}" alt="{{dress.Image.AltText}}"/>
						<p>{{dress.Name | titlecase}}</p>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>