<video autoplay loop>
	<source src="https://player.vimeo.com/external/161077250.sd.mp4?s=9a428080c7730dcfe5eebb0ff3e110c75a2d9a23&profile_id=165" type="video/mp4"> Your browser does not support the video tag. </video>


<div class="container pure-g" id="style-guide">
	<nav id="style-guide-nav" class="pure-u-1-4">
		<ul>
			<li ng-class="{active: tab == 'typography'}" ng-click="tab = 'typography'">Typography</li>
			<li ng-class="{active: tab == 'colors'}" ng-click="tab = 'colors'">Colors</li>
			<li ng-class="{active: tab == 'buttons'}" ng-click="tab = 'buttons'">Buttons</li>
			<li ng-class="{active: tab == 'forms'}" ng-click="tab = 'forms'">Forms</li>
			<li ng-class="{active: tab == 'iconography'}" ng-click="tab = 'iconography'">Iconography</li>
			<li ng-class="{active: tab == 'structure'}" ng-click="tab = 'structure'">Structure</li>
			<li ng-class="{active: tab == 'odds'}" ng-click="tab = 'odds'">Odds and Ends</li>
		</ul>
	</nav>

	<main class="pure-u-3-4">
		<div class="pure-padding">
			<section ng-show="tab == 'typography'">
				<p>Font Family</p>
				<hr>

				<div class="example-block">
					<div class="pure-g">
						<div class="pure-u-1-4">
							<p>Avenir Next</p>
						</div>
						<div class="pure-u-3-4">
							<p class="avenir light">Avenir Ultra Light</p>
							<p class="avenir regular">Avenir Regular</p>
							<p class="avenir medium">Avenir Medium</p>
							<p class="avenir demi">Avenir Demi Bold</p>
							<p class="avenir bold">Avenir Bold</p>
							<p class="avenir heavy">Avenir Heavy</p>
						</div>
					</div>
					<br>
					<div class="pure-g">
						<div class="pure-u-1-4">
							<p>Bodoni</p>
						</div>
						<div class="pure-u-3-4">
							<p class="bodoni light">bodoni Light</p>
							<p class="bodoni light-italic">bodoni Light Italic</p>
							<p class="bodoni regular">bodoni Regular</p>
							<p class="bodoni regular-italic">bodoni Italic</p>
							<p class="bodoni bold">bodoni Bold</p>
							<p class="bodoni bold-italic">bodoni Bold Italic</p>
							<p class="bodoni black">bodoni Black</p>
							<p class="bodoni black-italic">bodoni Black Italic</p>
						</div>
					</div>
				</div>

				<p>Headings</p>
				<hr>

				<div class="example-block">
					<h1>Heading 1 (72px)</h1>
					<h2>Heading 2 (60px)</h2>
					<h3>Heading 3 (42px)</h3>
					<h4>Heading 4 (30px)</h4>
					<h5>Heading 5 (26px)</h5>
					<span>Span</span>
					<p>Paragraph</p>
				</div>

			</section>

			<section ng-show="tab == 'colors'">
				<div class="example-block">
					<ul class="color-swabs">
						<li>
							<div class="darkGray swab"></div>
							<p>Dark Gray</p>
						</li>
						<li>
							<div class="gray swab"></div>
							<p>Gray</p>
						</li>
						<li>
							<div class="lightGray swab"></div>
							<p>Light Gray</p>
						</li>
						<li>
							<div class="beige swab"></div>
							<p>Beige</p>
						</li>
						<li>
							<div class="white swab"></div>
							<p>White</p>
						</li>
						<li>
							<div class="blueWhiteGradient swab"></div>
							<p>Blue White Gradient</p>
						</li>
						<li>
							<div class="redGradient swab"></div>
							<p>Red Gradient</p>
						</li>
						<li>
							<div class="grayGradient swab"></div>
							<p>Gray Gradient</p>
						</li>
						<li>
							<div class="skinGradient swab"></div>
							<p>Skin Gradient</p>
						</li>
					</ul>
				</div>
			</section>

			<section ng-show="tab == 'buttons'">

				<div class="example-block">
					<p>States &amp; Sizes</p>
					<hr>
					<div class="pure-g">
						<div class="pure-u-1-3">
							<button class="btn">Dominate</button>
						</div>
						<div class="pure-u-1-3">
							<button class="btn subdominant">Subdominant</button>
						</div>
						<div class="pure-u-1-3">
							<button class="btn subordinate">Subordinate</button>
						</div>
					</div>
					<br>
					<div class="pure-g">
						<div class="pure-u-1-3">
							<button class="btn small">Dominate Small</button>
						</div>
						<div class="pure-u-1-3">
							<button class="btn subdominant small">Subdominant Small</button>
						</div>
					</div>
					<br>
					<br>
					<p>Styles</p>
					<hr>

					<div class="pure-g">
						<div class="pure-u-1 row">
							<p>Iconic</p>
							<button class="btn iconic"><i class="icon-Pinterest"></i> Iconic</button>
							<button class="btn iconic subordinate"><i class="icon-Pinterest"></i> Iconic Subordinate</button>
							<br>
							<br>
							<p>Social</p>
							<button class="btn social"><i class="icon-Pinterest"></i> Pin (10)</button>
							<button class="btn social"><i class="icon-Instagram"></i> Follow</button>
							<button class="btn social"><i class="icon-Twitter"></i> Share (10)</button>

						</div>
						<div class="pure-u-1 row">
							<br>
							<button class="btn social subdominant circle"><i class="icon-Twitter"></i></button>
							<button class="btn social subdominant circle"><i class="icon-Pinterest"></i></button>
							<button class="btn social subdominant circle"><i class="icon-Instagram"></i></button>
							<button class="btn social subdominant circle"><i class="icon-YouTube"></i></button>
							<button class="btn blue">Connect with facebook</button>
						</div>
					</div>
				</div>
			</section>

			<section ng-show="tab == 'forms'">
				<div class="example-block">
					<div class="pure-g">
						<div class="pure-u-1-4">
							<p>Text Input</p>
						</div>
						<div class="pure-u-3-4">
							<input type="text" placeholder="e.g. maggie@me.com" />
						</div>
						<div class="pure-u-1-4">
							<p>Text Input Error</p>
						</div>
						<div class="pure-u-3-4">
							<input type="text" placeholder="e.g. maggie@me.com" class="error" />
							<span>please enter a valid email</span>
						</div>
						<div class="pure-u-1-4">
							<p>Text Input Disabled</p>
						</div>
						<div class="pure-u-3-4">
							<input type="text" placeholder="e.g. maggie@me.com" class="disabled" disabled/>
						</div>
						<div class="pure-u-1-4">
							<p>Select Box</p>
						</div>
						<div class="pure-u-3-4">
							<!-- http://silviomoreto.github.io/bootstrap-select/ -->
							<selectbox list="view.list1" ng-model="view.selected1" title="Title" class="foo"></selectbox>
						</div>
						<div class="pure-u-1-4">
							<p>Nav Bar</p>
						</div>
						<div class="pure-u-3-4">
							<selectbox list="view.list1" ng-model="view.selected1" title="Title" class="nav-select"></selectbox>
						</div>
						<div class="pure-u-1-4">
							<p>Search</p>
						</div>
						<div class="pure-u-3-4">
							<div class="search-input">
								<input type="text" placeholder="search" />
								<i class="icon-search"></i>
							</div>
						</div>
						<div class="pure-u-1-4">
							<p>Radio</p>
						</div>
						<div class="pure-u-3-4">
							<!-- http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/ -->
						</div>
						<div class="pure-u-1-4">
							<p>Checkbox</p>
						</div>
						<div class="pure-u-3-4">
							<!-- http://flatlogic.github.io/awesome-bootstrap-checkbox/demo/ -->
						</div>
						<div class="pure-u-1-4">
							<p>Single Field Form</p>
						</div>
						<div class="pure-u-3-4">

						</div>
						<div class="pure-u-1-4">
							<p>Choice</p>
						</div>
						<div class="pure-u-3-4">
							<!-- http://jsfiddle.net/KyleMit/0nevkwyn/ -->
						</div>
						<div class="pure-u-1-4">
							<p>Tab</p>
						</div>
						<div class="pure-u-3-4">

						</div>
						<div class="pure-u-1-4">
							<p>Info Popover</p>
						</div>
						<div class="pure-u-3-4">

						</div>
					</div>

				</div>
			</section>

			<section ng-show="tab == 'iconography'">
				<h3>Icons</h3>
				<div class="example-block">
					<i class="icon-check"></i>
					<i class="icon-image"></i>
					<i class="icon-search"></i>
					<i class="icon-link"></i>
					<i class="icon-calendar"></i>
					<i class="icon-Instagram"></i>
					<i class="icon-Pinterest"></i>
					<i class="icon-Twitter"></i>
					<i class="icon-YouTube"></i>
					<i class="icon-facebook"></i>
					<i class="icon-arrow-left"></i>
					<i class="icon-arrow-right"></i>
					<i class="icon-close-big"></i>
					<i class="icon-close-small"></i>
					<i class="icon-arrow-up"></i>
					<i class="icon-heart"></i>
					<i class="icon-location"></i>
					<i class="icon-menu"></i>
					<i class="icon-phone"></i>
					<i class="icon-bus"></i>
					<i class="icon-info"></i>
					<i class="icon-logo"></i>
					<i class="icon-play"></i>
					<i class="icon-image"></i>
					<i class="icon-search"></i>
					<i class="icon-calendar"></i>
				</div>
			</section>

			<section ng-show="tab == 'structure'">

			</section>

			<section ng-show="tab == 'odds'">

			</section>
		</div>
	</main>

</div>
