<div id="home-page">
	<h1 class="title">Beautiful Wedding Dresses and Gowns</h1>
	<slick ng-if="banners.maggie" class="tablet-h" infinite="true" autoplay="true" autoplay-speed="4000" pause-on-hover="false" speed="800" slides-to-show="1" slides-to-scroll="1" fade="true" arrows="false" dots="true">
		<div class="banner">
			<section class="maggie" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.maggie.PictureId}}/{{banners.maggie.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-logo"></i>
					<br>
					<!-- <img src="images/Maggie-Sottero-Lisette-Sneak-Peek.png"/><br> -->
					<a href="/maggie-sottero">
						<button class="btn subdominant white-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>
		<div class="banner">
			<section class="midgley" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.midgley.PictureId}}/{{banners.midgley.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-sottero-and-midgley"></i>
					<br>
					<!-- <img src="images/Sottero-And-Midgley-Amalie-Sneak-Peek.png"/> -->
					<a href="/sottero-and-midgley">
						<button class="btn subdominant black-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>
		<div class="banner">
			<section ng-if="banners.maggie" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.style.PictureId}}/{{banners.style.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<a href="/quiz"><img src="/images/Find-Your-Style.png" /></a>
					<br>
				</article>
			</section>
		</div>
	</slick>

	<slick ng-if="banners.maggie" class="tablet-s phone-h" infinite="true" autoplay="true" autoplay-speed="4000" pause-on-hover="false" speed="800" slides-to-show="1" slides-to-scroll="1" fade="true" arrows="false" dots="true">
		<div class="banner">
			<section class="maggie" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.maggieTabletBanner.PictureId}}/{{banners.maggieTabletBanner.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-logo"></i>
					<br>
					<!-- <img src="images/Maggie-Sottero-Lisette-Sneak-Peek.png"/> -->
					<a href="/maggie-sottero">
						<button class="btn subdominant white-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>

		<div class="banner">
			<section class="midgley" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.midgleyTabletBanner.PictureId}}/{{banners.midgleyTabletBanner.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-sottero-and-midgley"></i>
					<br>
					<!-- <img src="images/Sottero-And-Midgley-Amalie-Sneak-Peek.png"/> -->
					<a href="/sottero-and-midgley">
						<button class="btn subdominant black-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>

		<div class="banner">
			<section ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.styleTabletBanner.PictureId}}/{{banners.styleTabletBanner.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<a href="/quiz"><img src="/images/Find-Your-Style.png" /></a>
				</article>
			</section>
		</div>
	</slick>

	<slick ng-if="banners.maggie" class="phone-s" infinite="true" autoplay="true" autoplay-speed="4000" pause-on-hover="false" speed="800" slides-to-show="1" slides-to-scroll="1" fade="true" arrows="false" dots="true">
		<div class="banner">
			<section class="maggie" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.maggiePhoneBanner.PictureId}}/{{banners.maggiePhoneBanner.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-logo"></i>
					<br>
					<!-- <img src="images/Maggie-Sottero-Lisette-Sneak-Peek.png"/> -->
					<a href="/maggie-sottero">
						<button class="btn subdominant white-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>

		<div class="banner">
			<section class="midgley" ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.midgleyPhoneBanner.PictureId}}/{{banners.midgleyPhoneBanner.FileName}}') no-repeat top center; background-size: cover;">
				<div class="video"></div>
				<article>
					<i class="icon-sottero-and-midgley"></i>
					<br>
					<!-- <img src="images/Sottero-And-Midgley-Amalie-Sneak-Peek.png"/><br> -->
					<a href="/sottero-and-midgley">
						<button class="btn subdominant black-outline">See the collection</button>
					</a>
				</article>
			</section>
		</div>

		<div class="banner">
			<section ng-if="banners.maggie.PictureId" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.stylePhoneBanner.PictureId}}/{{banners.stylePhoneBanner.FileName}}') no-repeat top center; background-size: cover;">
				<article>
					<a href="/quiz"><img style="display:block !important; visibility:visible !important;" src="/images/Find-Your-Style.png" /></a>
				</article>
			</section>
		</div>
	</slick>

</div>
