<h1 class="title">Log In</h1>
<div id="signup-page" class="rotating-images-page">

	<div ng-include="'/partials/rotating-images.html'"></div>

	<div class="container">

		<div class="signup-box">
			<div ng-hide="showForgotPassword">
				<h3>Log In</h3>
				<form ng-submit="login()">
					<span>Email</span>
					<input type="text" ng-model="username" placeholder="e.g. maggie@me.com" tabindex="1"/>
					<div class="row">
						<span class="left">Password</span>
						<a href="" class="right" ng-click="showForgotPassword = true"><span>Forgot Password?</span></a>
					</div>

					<input type="password" ng-model="password" placeholder="6 Character Minimum" tabindex="2"/>
					<button class="btn white" type="submit" tabindex="3">Login</button>
				</form>
				<p>OR</p>
				<button class="btn blue" ng-click="facebookLogin()">Login with Facebook</button>
				<br><br>
				<p>Not an Insider? <a href="/sign-up">Signup</a></p>
			</div>
			<div ng-show="showForgotPassword">
				<i class="icon-arrow-left" ng-click="showForgotPassword = !showForgotPassword"></i>
				<h3>Forgot Password</h3>
				<p>Enter your email below and we will send an email with instructions on how to recover your account</p>
				<form ng-submit="forgotPassword()">
					<div class="input-button-grp show-button">
						<input type="text" placeholder="e.g. maggie@me.com" ng-model="forgotPasswordEmail"/>
						<button class="btn purple" type="submit">Send</button>
					</div>
				</form>
			</div>

		</div>

	</div>
</div>
