<div id="maggie-brides-page" class="page">
	<div class="container">
		<div class="row" id="about-maggie-brides">
			<h1>Real Wedding Stories from Real Brides</h1>
			<p>We want to hear from you! In addition to sharing your story here, use the #maggiebride and #midgleybride hashtags.</p>
			<a href="/share-wedding"><button class="btn">Share your wedding</button></a>
		</div>

		<div class="filter-bar">
			<div class="pure-g">
				<div class="pure-u-md-1-3 pure-u-1">
					<div dropdown is-open="false">
				      <div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
				        <p>{{selectedDressLine}} <i class="icon-arrow-down"></i></p>
				      </div>
				      <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				        <li><a ng-click="selectedDressLine = 'Dress Line'; filter.dressLine = ''">All</a></li>
				        <li><a ng-click="selectedDressLine = 'Maggie Sottero'; filter.dressLine = 'Maggie Sottero'">Maggie Sottero</a></li>
					  	<li><a ng-click="selectedDressLine = 'Sottero and Midgley'; filter.dressLine = 'Sottero & Midgley'">Sottero and Midgley</a></li>
				      </ul>
				    </div>
				</div>
				<div class="pure-u-md-1-3 pure-u-1">
					<a href="/blog/category/real-weddings/" target="_self"><p>Featured Weddings <i class="icon-arrow-right"></i></p></a>
				</div>
				<div class="pure-u-md-1-3 pure-u-1">
					<div class="search-input">
						<input type="text" ng-model="searchPosts" placeholder="search" class="search"/>
						<i class="icon-search"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <button class="btn" ng-click="showSelectedLine()">Show Selected Line</button> -->
	<div class="posts-container">
		<section class="row">
			<div class="grid">
				<div class="maggie-bride-card grid-item" ng-repeat="bride in posts | filter:searchPosts | filter:{'submitted_date':filter.date} | filter:filter.dressLine | orderBy:'id':true | limitTo:30">
					<a href="/bride/{{bride.id}}">
						<img src="{{bride.images[0].url}}" err-src="http://placehold.it/200x200" alt="{{bride.name}}" class="thumbnail" />
						<p>{{bride.name}}</p>
						<span class="">{{bride.images.length}} photo<if ng-if="bride.images.length > 1">s<if></span>
					</a>
				</div>
			</div>
		</section>
	</div>

	<div ng-include="'/partials/loading-cube.html'" ng-show="loading"></div>

</div>
