<div id="maggie-bride-page">
	<h1 class="title">{{post.name}} in {{post.dress_details.Name}}</h1>
	<section class="header" ng-class="{'midgley-banner': dress.ProductLine == 'Sottero & Midgley'}">
		<h2>{{post.name}}</h2>
	</section>

	<section class="post">
		<div class="share-links">
			<span>Share:</span>
			<a target="_blank" href="//pinterest.com/pin/create/bookmarklet/?media={{post.images[0].url}}&url={{url}}&is_video=false&description={{post.about_wedding}}">
				<i class="icon-Pinterest"></i>
			</a>
			<a target="_blank" href="//twitter.com/intent/tweet?status={{post.about_wedding}}+{{url}}">
				<i class="icon-Twitter"></i>
			</a>
			<i ng-click="facebookBrideShare()" class="icon-facebook"></i>
		</div>
		<p ng-bind-html="post.about_wedding"></p>
		<div ng-repeat="image in post.images" class="image-post">
			<img src="{{image.url}}" alt="{{image.caption}}" />
			<span class="caption" ng-show="image.caption">
				{{image.caption}}
			</span>
		</div>
		<div class="dress-used" ng-if="!post.dress_details.DiscontinuedDate" ng-hide="!post.dress_details || post.dress_details.DiscontinuedDate">
			<a href="/{{urlDressLine}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
				<img src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[0].PictureId}}/{{dress.Images[0].FileName}}" alt="{{post.dress_details.Name}}"/>
				<span>DRESS - {{post.dress_details.ProductLine}}</span>
				<h4>{{post.dress_details.Name}}</h4>
			</a>
		</div>
		<div class="social-links">
			<a target="_blank" href="//pinterest.com/pin/create/bookmarklet/?media={{post.images[0].url}}&url={{url}}&is_video=false&description={{post.about_wedding}}">
				<button class="btn social">
					<i class="icon-Pinterest"></i>
					Pin
				</button>
			</a>

			<button class="btn social" ng-click="facebookBrideShare()">
				<i class="icon-facebook"></i>
				Share
			</button>

			<a target="_blank" href="//twitter.com/intent/tweet?status={{post.about_wedding}}+{{url}}">
				<button class="btn social">
					<i class="icon-Twitter"></i>
					Share
				</button>
			</a>
		</div>
	</section>
</div>
