<div id="home-page">
	
	<slick class="phone-h" infinite="true" autoplay="true" autoplay-speed="4000" pause-on-hover="false" speed="800" slides-to-show="1" slides-to-scroll="1" fade="true" arrows="false" dots="true">
		<div class="banner">
			<section class="midgley" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60556/Sottero-and-Midgley-Monaco-Spring2016-Home.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<i class="icon-sottero-and-midgley"></i><br>
					<a href="/sottero-and-midgley"><button class="btn subdominant white-outline">See the collection</button></a>
				</article>
			</section>
		</div>
		
		<div class="banner">
			<section class="maggie" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60555/Maggie-Sottero-Aracella-Spring2016-Home.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<i class="icon-logo"></i><br>
					<a href="/maggie-sottero"><button class="btn subdominant white-outline">See the collection</button></a>
				</article>
			</section>
		</div>
		
		<div class="banner">
			<section style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60537/Sottero-and-Midgley-Find-Your-Style-Spring2016.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<h3>FIND YOUR</h3>
					<h2>STYLE</h2><br>
					<a href="/quiz"><button class="btn subdominant white-outline">Take Quiz</button></a>
				</article>
			</section>
		</div>
	</slick>
	
	<slick class="phone-s" infinite="true" autoplay="true" autoplay-speed="4000" pause-on-hover="false" speed="800" slides-to-show="1" slides-to-scroll="1" fade="true" arrows="false" dots="true">
		<div class="banner">
			<section class="midgley" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60564/Sottero-and-Midgley-Monaco-Spring2016-Home-Mobile.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<i class="icon-sottero-and-midgley"></i><br>
					<a href="/sottero-and-midgley"><button class="btn subdominant white-outline">See the collection</button></a>
				</article>
			</section>
		</div>
		
		<div class="banner">
			<section class="maggie" style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60559/Maggie-Sottero-Aracella-Spring2016-Home-Mobile.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<i class="icon-logo"></i><br>
					<a href="/maggie-sottero"><button class="btn subdominant white-outline">See the collection</button></a>
				</article>
			</section>
		</div>
		
		
		
		<div class="banner">
			<section style="background:url('//ms-cdn.maggiesottero.com/product/Content/Images/60563/Sottero-and-Midgley-Find-My-Style-Spring2016-Mobile.jpg') no-repeat top center; background-size: cover;">	
				<div class="video"></div>
				<article>
					<h3>FIND YOUR</h3>
					<h2>STYLE</h2><br>
					<a href="/quiz"><button class="btn subdominant white-outline">Take Quiz</button></a>
				</article>
			</section>
		</div>
	</slick>
	
</div>








