<h1 class="title">Take the Quiz and Find Your Wedding Dress Style</h1>
<div class="quiz-page page">

	<div class="container wide" ng-hide="quizComplete || !startScreen">
		<div class="banner complete start-screen">
			<h3>Find Your Style</h3>
			<p class="description">From elegant ball gown wedding dresses to slinky sheath gowns, white peonies to whimsical wildflowers, the choices surrounding your wedding day are endless... and sometimes overwhelming. Need a starting point? Let us help! Take our quiz to determine
				your wedding style. We'll provide personalized recommendations, based on your answers.</p>
			<br>
			<p>Get started now!</p>
			<br>
			<button class="btn subdominant" ng-click="startScreen = false">Take the quiz</button>
		</div>
	</div>

	<div class="container">
		<div class="questions" ng-hide="quizComplete || loading || startScreen">

			<div ng-repeat="question in questions" ng-show="current == $index">
				<div class="quiz-progress">
					<i class="icon-arrow-left" ng-click="previousSlide()"></i>
					<h4>{{$index+1}}/10</h4>
					<i class="icon-arrow-right" ng-click="nextSlide($index)"></i>
				</div>
				<hr>

				<h3>{{question.question}}</h3>
				<div class="pure-g">
					<div class="pure-u-1-2" ng-class="{'pure-u-sm-1-3':question.answers.length > 2, 'pure-u-sm-1-2':question.answers.length == 2}" ng-click="answers[$parent.$index] = $index; category[$parent.$index] = answer.category; nextSlide($parent.$index)" ng-repeat="answer in question.answers">
						<div class="card" ng-class="{'picked': answers[$parent.$index] == $index, 'not-picked': answers[$parent.$index] !== $index && answers[$parent.$index] !== undefined}">
							<i class="icon-check"></i>
							<div class="answer-image" style="background:url('images/quiz/{{answer.image}}') no-repeat center;"></div>
							<p>{{answer.answer}}</p>
						</div>
					</div>
				</div>

				<span ng-show="question.question == 'Where is your favorite place to shop?'">All trademarks are owned by their respective owners.</span>
			</div>

		</div>
	</div>

	<div class="container wide">

		<div class="intermission" style="background:url('images/{{yourStyle}}-Bride.jpg') no-repeat center top;">
			<h3>{{yourStyle}} Bride</h3>
		</div>

		<div class="complete" ng-show="quizComplete">
			<!-- banner -->
			<div class="banner" style="background:url('images/{{yourStyle}}-Bride.jpg') no-repeat center top;">
				<h3>{{yourStyle}} Bride</h3>
				<p class="description">{{yourStyleDescription}}</p>
				<hr>
				<button class="btn subdominant" ng-click="retakeQuiz()">Retake Quiz</button>
				<button class="btn subdominant" data-toggle="modal" data-target="#quizShareModal">Share Your Results</button>
			</div>

			<p class="sub">{{yourStyle}} Bride Favorites from</p>
			<i class="icon-logo"></i>

			<!-- Maggie Dresses -->
			<div ng-include="'/partials/loading-cube.html'" ng-hide="maggieDresses[0].Image"></div>
			<slick infinite="false" speed="300" slides-to-show="{{slidesToShow}}" slides-to-scroll="1" arrows="true" ng-if="maggieDresses.length > 4">
				<div ng-repeat="dress in maggieDresses" class="dress-card">
					<a href="maggie-sottero/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
						<div class="block">
							<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Images[0].AltText}}" />
							<article>
								<p>{{dress.Name | titlecase}}</p>
							</article>
						</div>
					</a>
					<div class="actions">
						<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
						<p data-toggle="modal" data-target="#shareModal"><i class="icon-share"></i> Share</p>
					</div>
				</div>
			</slick>
			<a href="/maggie-sottero/category/{{categoryId}}">
				<button class="btn subdominant">See All Maggie {{yourStyle}} Dresses</button>
			</a>

			<!-- Midgley Dressses -->
			<p class="sub">{{yourStyle}} Bride Favorites from</p>
			<i class="icon-sottero-and-midgley"></i>
			<div ng-include="'/partials/loading-cube.html'" ng-hide="midgleyDresses[0].Image"></div>
			<slick infinite="false" speed="300" slides-to-show="{{slidesToShow}}" slides-to-scroll="1" arrows="true" ng-if="midgleyDresses.length > 4">
				<div ng-repeat="dress in midgleyDresses" class="dress-card">
					<a href="sottero-and-midgley/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
						<div class="block">
							<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Images[0].AltText}}" />
							<article>
								<p>{{dress.Name | titlecase}}</p>
							</article>
						</div>
					</a>
					<div class="actions">
						<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
						<p data-toggle="modal" data-target="#shareModal"><i class="icon-share"></i> Share</p>
					</div>
				</div>
			</slick>
			<a href="/sottero-and-midgley/category/{{categoryId}}">
				<button class="btn subdominant">See All Midgley {{yourStyle}} Dresses</button>
			</a>

			<!-- Maggie Picks Dressses -->
			<h2>Maggie's Picks</h2>
			<div ng-include="'/partials/loading-cube.html'" ng-hide="maggiePicks[0].Image"></div>
			<slick infinite="false" speed="300" slides-to-show="{{slidesToShow}}" slides-to-scroll="1" arrows="true" ng-if="midgleyDresses.length > 4 && maggiePicks.length > 4">
				<div ng-repeat="dress in maggiePicks" class="dress-card">
					<a href="{{dress.dressline}}/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
						<div class="block">
							<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Images[0].AltText}}" />
							<article>
								<p>{{dress.Name | titlecase}}</p>
							</article>
						</div>
					</a>
					<div class="actions">
						<p ng-click="likeDress(dress.ProductId, dress)"><i ng-class="{'icon-heart-filled':dress.favorited == true, 'icon-heart':dress.favorited == undefined || dress.favorited == false}"></i> Favorite</p>
						<p data-toggle="modal" data-target="#shareModal"><i class="icon-share"></i> Share</p>
					</div>
				</div>
			</slick>

		</div>

	</div>

</div>

<div ng-include="'/partials/modal-share.html'"></div>

<div class="modal fade" id="quizShareModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<i class="icon-close-big" data-dismiss="modal"></i>
				<h3>Share</h3>
			</div>
			<div class="modal-body">

				<button class="btn social" ng-click="quizfacebookShare()"><i class="icon-facebook"></i> Share</button>
				<a target="_blank" href="http://pinterest.com/pin/create/bookmarklet/?media=http://maggiesottero.com/quiz&is_video=false&description=I took Maggie Sottero’s ‘Find Your Fit’ Quiz! I am a %23{{yourStyle | lowercase}}bride! Take the quiz to find your wedding day style!">
					<button class="btn social"><i class="icon-Pinterest"></i> Pin</button>
				</a>

				<a target="_blank" href="http://twitter.com/intent/tweet?status=I took Maggie Sottero’s ‘Find Your Fit’ Quiz! I am a %23{{yourStyle | lowercase}}bride! Take the quiz to find your wedding day style! via @MaggieSottero">
					<button class="btn social"><i class="icon-Twitter"></i> Share</button>
				</a>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div ng-include="'/partials/quiz-preloader.html'"></div>
