<div id="rebecca-ingram-page">
	<section class="hero">
		<div class="relative" ng-hide="vm.showVideo">
			<img src="../images/rebecca/rebeccalogo.png" />
			<button class="outline" ng-click="vm.playVideo()">Watch the Video</button>
		</div>
		<i class="icon-close-big" ng-show="vm.showVideo" ng-click="vm.stopVideo()"></i>
		<video autoplay loop id="short_video" ng-class="{'view':vm.shortVideoReady}">
			<source src="https://player.vimeo.com/external/176335850.hd.mp4?s=33df9238a9928d8ff95b787299a86fbfb4a3f434&profile_id=174" type="video/mp4"> Your browser does not support the video tag.
		</video>
		<video id="video" ng-class="{'view':vm.showVideo}">
			<source src="https://player.vimeo.com/external/174849722.hd.mp4?s=e80e0a8da599191d9633d9711c29eaf384c3b5e3&profile_id=174" type="video/mp4"> Your browser does not support the video tag.
		</video>
	</section>

	<section class="sign-up">
		<div class="container">

			<p>
				<i>Coming Fall 2016 to a Retailer Near You:</i>
				<br />
				<br />

				<img src="../images/rebecca/timelesselegancemodernvalue.png" /> A new line of high-quality, affordable bridal fashion inspired by today’s value-conscious bride. Sign up below to be the first to receive news and updates about this exciting new label from Maggie Sottero
				Designs!
			</p>
			<div class="input-button-grp">
				<input type="text" ng-model="vm.email" placeholder="Enter your email" />
				<button class="btn" ng-click="vm.signup()">SIGN UP</button>
				<p>{{vm.message}}</p>
			</div>
		</div>
	</section>

	<section class="images">
		<section class="full-page-image">

		</section>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-2 padding">
				<img src="../images/rebecca/image2.png" />
			</div>
			<div class="pure-u-1 pure-u-md-1-2 padding">
				<img src="../images/rebecca/image3.png" />
			</div>
		</div>
	</section>



</div>
