<div id="signup-page" class="rotating-images-page">

	<div ng-include="'/partials/rotating-images.html'"></div>

	<div class="container">

		<div class="signup-box">
			<h3>Reset Password</h3>
			<hr>
			<p>Enter your new password</p>
			<form ng-submit="resetPassword()">
				<div class="input-button-grp">
					<input type="password" placeholder="password" ng-model="newPassword"/>
					<button class="btn purple" type="submit">Send</button>
					<i class="icon-arrow-right" ng-click="resetPassword()"></i>
				</div>
			</form>
		</div>

	</div>
</div>
