<div id="share-wedding-page">
	<section class="header">
		<h3>Share your wedding</h3>
		<p>Don't skimp on the details! We may invite wedding stories with well-captioned photos to be featured on our blog.</p>
	</section>

	<form>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3">
				<p>Your name</p>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<input type="text" placeholder="e.g. Elizabeth Delevinge" ng-model="name" />
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3">
				<p>Email</p>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<input type="text" placeholder="e.g. maggie@me.com" ng-model="email" />
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3">
				<p>Your Dress</p>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<button class="select-btn" data-toggle="modal" data-target="#dressModal">{{chosenDressName}}</button>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3">
				<p>Tell us about
					<br class="phone-h"> your wedding</p>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<textarea cols="5" placeholder="Location, theme, what made your wedding unique, photographer, credit, etc." ng-model="about_wedding"></textarea>
			</div>
		</div>
		<div class="pure-g" ng-repeat="image in images">
			<div class="pure-u-1 pure-u-sm-1-3 image-preview">
				<img ng-src="{{image.url}}" />
				<i class="icon-close-small" ng-click="removeImage($index)"></i>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<textarea cols="4" placeholder="Caption" class="caption" ng-model="image.caption"></textarea>
			</div>
		</div>
		<div class="pure-g">
			<div class="phone-h pure-u-sm-1-3">

			</div>
			<div class="pure-u-1 pure-u-sm-2-3">
				<button class="btn subdominant iconic" data-toggle="modal" data-target="#imageModal"><i class="icon-image"></i> Add photos</button>
			</div>
		</div>
		<button class="btn" type="submit" ng-click="submitPost()">Submit your wedding</button>
		<span class="terms">By submitting you agree to our <a data-toggle="modal" data-target="#termsModal">terms of service</a></span>
	</form>
</div>

<div class="modal fade" id="dressModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-close-big" data-dismiss="modal"></i>
				<h3>Choose your dress</h3>
			</div>
			<div class="modal-body">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-sm-1-2">
						<div dropdown is-open="false" class="box">
							<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
								<p><i ng-class="{'icon-logo':dressLine == 'maggie-sottero', 'icon-sottero-and-midgley':dressLine == 'sottero-and-midgley'}"></i> <i class="icon-arrow-down"></i></p>
							</div>
							<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
								<li><a ng-click="dresses = []; loading = true;getDressLine(2); dressLine = 'maggie-sottero'"><i class="icon-logo"></i></a></li>
								<li><a ng-click="dresses = []; loading = true; getDressLine(3); dressLine = 'sottero-and-midgley'"><i class="icon-sottero-and-midgley"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<div class="search-input">
							<input type="text" ng-model="search" placeholder="Search" />
							<i class="icon-search"></i>
						</div>
					</div>
				</div>
				<div ng-include="'/partials/loading-cube.html'" ng-show="loading"></div>
				<ul class="dress-list">
					<li class="pure-u-1-2 pure-u-sm-1-3" ng-repeat="dress in dresses | globalFilter:search" ng-class="{active: selectedDress == dress.ProductId}" ng-click="selectDress(dress)">
						<div class="card">
							<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" />
							<span>{{dress.Name}}</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" ng-click="chooseDress()">Choose Dress</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="imageModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<i class="icon-close-big" data-dismiss="modal"></i>
				<h3>Upload Photos</h3>
			</div>
			<div class="modal-body">


				<div class="pure-g">
					<div class="pure-u-1 pure-u-sm-1-2">
						<button class="btn blue" ng-click="getFbAlbums(); showFacebookAlbums = !showFacebookAlbums">Choose from facebook</button>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<span ng-repeat="photo in facebookSelectedPhotos">{{photo.name | limitTo:30}}, </span>
					</div>
				</div>
				<div class="facebook-images" ng-show="showFacebookAlbums">
					<div ng-hide="showAlbum">
						<div class="album-nav">
							<h4>Albums</h4>
						</div>
						<ul class="pure-g">
							<li class="pure-u-1 pure-u-sm-1-3 album" ng-repeat="album in albums" ng-click="getAlbumPhotos(album.id, album.name)">
								<div class="thumbnail" style="background:url('{{album.url}}');"></div>
								<p>{{album.name | limitTo: 18}}</p>
							</li>
						</ul>
					</div>
					<div class="row album-nav" ng-show="showAlbum">
						<i class="icon-arrow-left" ng-click="showAlbum = false"></i>
						<h4>{{selectedAlbumName | limitTo: 18}}</h4>
					</div>
					<ul class="pure-g" ng-show="showAlbum">
						<li class="pure-u-1 pure-u-sm-1-3 photo" ng-repeat="photo in selectedAlbum" ng-click="selectPhoto(photo, photo.id);" ng-class="{'active':photoSelected(photo.id)}">
							<div class="thumbnail" style="background:url('{{photo.url}}');"></div>
							<p>{{photo.name | limitTo: 18}}</p>
						</li>
					</ul>
				</div>
			</div>
			<form ng-submit="upload()">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-sm-1-2">
						<!-- <button class="btn subdominant" ng-click="clickChooseFile()">Choose Files from Device</button> -->
						<input id="chooseFile" name="file" type="file" files="files" multiple/>
					</div>
					<div class="pure-u-1 pure-u-sm-1-2">
						<span ng-if="files.length">{{files.length}} Photos selected</span>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" type="submit">Upload</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="termsModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-close-big" data-dismiss="modal"></i>
				<h3>Terms of Service</h3>
			</div>
			<div class="modal-body">
				<p>By submitting images, User grants Maggie Sottero Designs LLC and its members, parents, employees, agents, subsidiaries and related entities ("Maggie Sottero") full rights to publish, copy, display and distribute all materials submitted by User ("Contributions"),
					in any form and for any purpose including, but not limited to, public display on the Internet. User represents that User is entitled to convey the rights granted in this agreement. User further grants Maggie Sottero the right to edit or otherwise
					make derivative works from any and all Contributions. User further grants Maggie Sottero all rights to use any images of persons or property, as well as any names incorporated in any Contributions, whether arising in copyright or otherwise.
				</p>
				<p>User agrees to indemnify and hold Maggie Sottero harmless from any claims arising from Maggie Sottero's use of the Contributions. User hereby releases Maggie Sottero from, and covenants not to sue Maggie Sottero for, any claim or cause of action,
					whether known or unknown, for libel, slander, invasion of right of privacy, publicity or personality, or any other claim or cause of action (whether based on the common law or federal or state statute), based upon or relating to Maggie Sottero's
					use of the Contributions or any unauthorized use of the Contributions by a third party. User agrees that Maggie Sottero is not obligated to use any of the Contributions and agrees that the rights and promises granted in this release are in consideration
					of Maggie Sottero's review of, acceptance, and any use Maggie Sottero may, in its sole discretion, choose to make of the Contributions.
				</p>
				User agrees that any disputes arising out of User's submission of Contributions through this website shall be venued in a court of appropriate jurisdiction in Salt Lake County, Utah and governed by the laws of the State of Utah without reference to any
				conflict of laws provision. By submitting images, User certifies that User has read and understood the above and agrees to its terms.</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Done</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="completeModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<i class="icon-close-big" data-dismiss="modal"></i>
				<h3>Thanks for submitting!</h3>
			</div>
			<div class="modal-body">
				<p>Your wedding will be reviewed by our team before posting.</p>
			</div>
			<div class="modal-footer">
				<button class="btn" ng-click="closeModal()">Finish</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
