<h1 class="title">Take Advantage of All Our Benefits by Signing Up Today</h1>
<div id="signup-page" class="rotating-images-page">

	<div ng-include="'/partials/rotating-images.html'"></div>

	<div class="container">

		<div class="signup-box">
			<div ng-hide="forgotPassword">
				<h3>Sign Up to be a Maggie Insider</h3>
				<p>Save your favorite wedding dresses, learn tips and tricks to planning your wedding, and receive early access to all things Maggie!</p>
				<form ng-submit="signup()">
					<div class="row">
						<span class="left">Name</span>
					</div>

					<input type="text" ng-model="form.name" placeholder="John Smith"/>

					<div class="row">
						<span class="left">Email</span>
					</div>

					<input type="text" ng-model="form.username" placeholder="e.g. maggie@me.com"/>

					<div class="row">
						<span class="left">Password</span>
					</div>

					<input type="password" ng-model="form.password" placeholder="6 Character Minimum"/>

					<div class="pure-g">
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="pure-padding-right">
								<div class="row">
									<span class="left">Wedding Date</span>
								</div>

								<input type="text" placeholder="Pick a Date" id="datepicker" ng-model="form.wDate"/>
							</div>
						</div>
						<div class="pure-u-1 pure-u-sm-1-2">
							<div class="row">
								<span class="left">Zip</span>
							</div>

							<input type="text" ng-model="form.zip" placeholder="zip code"/>
						</div>
					</div>

					<button class="btn white" type="submit">Become an Insider</button>
				</form>
				<p class="or">OR</p>
				<button class="btn blue" ng-click="facebookLogin()">Connect with Facebook</button>

				<p>Already an Insider? <a href="/log-in">Login</a></p>

			</div>
		</div>

	</div>
</div>
