<div class="stores-page page">

	<h1 class="title">Find a Store Near You</h1>

	<div class="location">
		<h3>Find a Store Near You</h3>
		<form ng-submit="findStores()" class="pure-u-1 pure-u-sm-1-2">
			<div class="prediction-box">
				<div class="input-button-grp">
					<input type="text" ng-model="search" id="search" autocomplete="off" placeholder="Enter a city or postal code" />
					<button class="btn purple" type="submit">Search</button>
					<i class="icon-search" ng-click="findStores()"></i>
				</div>
				<ul class="prediction-list" ng-class="{'hide':!search || hidePrediction}">
					<li tabindex="$index" ng-repeat="city in cities | filter: greaterThan(search,1)" ng-click="setSearch(city)">{{city.City}}, {{city.State}}
						<span ng-if="city.State.length">,</span> {{city.CountryName}} {{city.PostalCode}}
					</li>
				</ul>
			</div>
		</form>

		<div class="row">
			<div class="search-box">
				<div class="pure-g all-search">
					<div class="pure-u-1-2">
						<p ng-click="showAllUSAStores()">ALL USA STORES BY STATE</p>
					</div>
					<div class="pure-u-1-2">
						<p ng-click="showAllInternationalStores()">ALL INTERNATIONAL STORES</p>
					</div>
				</div>
				<div class="refine-search-box">
					<div dropdown is-open="false" class="box white">
						<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
							<p>{{filter.brand ? filter.brand : 'All Brands'}} <i class="icon-arrow-down"></i></p>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li><a ng-click="filter.brand = undefined"> All Brands</a></li>
							<li><a ng-click="filter.brand = 'Maggie Sottero'"> Maggie Sottero</a></li>
							<li><a ng-click="filter.brand = 'Sottero &amp; Midgley'"> Sottero and Midgley</a></li>
						</ul>
					</div>
					<div dropdown is-open="false" class="box white">
						<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
							<p>{{filter.premier ? premierTitle : 'All Stores'}} <i class="icon-arrow-down"></i></p>
						</div>
						<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
							<li><a ng-click="filter.premier = undefined; premierTitle = 'All Stores'"> All Stores</a></li>
							<li><a ng-click="filter.premier = true; premierTitle = 'Premier Retailers'"> Premier Retailers</a></li>
						</ul>
					</div>
				</div>
				<div class="show-map" click-outside="hideMap()" ng-class="{'hide-map':!stores || stores.length < 1 || groups || groups.length > 1}">
					<p ng-click="showMap = !showMap">Show Map +</p>
					<div ng-class="{'show':showMap}" id="map"></div>
				</div>
			</div>
		</div>
		<div class="distance-selector working-text" ng-if="stores && !storesLoading && !groups">
			<p ng-hide="locationNotFound">There are {{filtered.length}} stores within</p>
			<div ng-hide="locationNotFound" dropdown is-open="false" class="box white">
				<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
					<p>{{radius ? radius : '50'}} <i class="icon-arrow-down"></i></p>
				</div>
				<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
					<li><a ng-click="adjustMiles(15)"> 15</a></li>
					<li><a ng-click="adjustMiles(25)"> 25</a></li>
					<li><a ng-click="adjustMiles(50)"> 50</a></li>
					<li><a ng-click="adjustMiles(100)"> 100</a></li>
					<li><a ng-click="adjustMiles(200)"> 200</a></li>
				</ul>
			</div>
			<p ng-hide="locationNotFound">Miles
				<text ng-if="!searchString || searchString.length == 0">of your location</text>
				<text ng-if="searchString && searchString.length > 0">of {{searchString}}</text>
			</p>
			<p ng-show="locationNotFound">Location Not Found</p>
		</div>
		<p class="working-text" ng-show="storesLoading">Searching</p>
	</div>

	<div ng-include="'/partials/loading-cube.html'" ng-show="storesLoading"></div>
	<p ng-if="!storesLoading && stores.length == 0 && groups.length == 0" class="no-results">No results</p>

	<div class="store-group container">

		<div ng-show="groups" ng-hide="storesLoading || stores.length > 0" dropdown is-open="false" class="box white">
			<div id="single-button" type="button" dropdown-toggle ng-disabled="disabled">
				<p>{{groupSearch ? groupSearch : groupCategory}} <i class="icon-arrow-down"></i></p>
			</div>
			<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				<li ng-repeat="group in groups"><a ng-click="adjustGroupSearch(group.Name)"> {{group.Name}}</a></li>
			</ul>
		</div>

		<div class="pure-g" ng-repeat="group in groups | filter:{Name:groupSearch}" ng-show="filteredGroupStores.length > 0">
			<div class="pure-u-1">
				<h3>{{group.Name}}</h3>
			</div>
			<div class="pure-u-1-2" ng-repeat="store in filteredGroupStores = ( group.Stores | filter:filter.brand | filter:{'Premier':filter.premier}) | orderBy:'Premier':true | orderBy:'City'">
				<article>
					<p><b>{{store.City | titlecase}}</b></p>
					<p>{{store.Name | titlecase}} {{store.premier}}</p>
					<p class="event-type" ng-show="store.Premier">
						Premier
					</p>
					<p><text ng-if="store.State">{{store.State}},</text>  {{store.Street | titlecase}} {{store.Street2 | titlecase}} {{store.Street3 | titlecase}}</p>
					<a href="tel:{{store.PhoneNumber}}">
						<p>{{store.PhoneNumber}}</p>
					</a>
					<span ng-show="store.ProductLines[0].ProductLineId == '2' || store.ProductLines[1].ProductLineId == '2'">Maggie Sottero</span>
					<span ng-show="store.ProductLines[0].ProductLineId == '3' || store.ProductLines[1].ProductLineId == '3'">Sottero and Midgley</span>
				</article>
			</div>
		</div>
	</div>

	<ul class="stores">
		<li ng-repeat="store in filtered = ( stores | filter:filter.brand | filter:{'Premier':filter.premier}) | limitTo:storeLimit">
			<div class="pure-g container">
				<div class="pure-u-1 pure-u-sm-5-12">
					<div class="pure-padding address">
						<section class="details-section">
							<div class="heading">
								<p class="distance" ng-if="store.Distance">Approx {{store.Distance | number:1 | number }} Miles Away</p>
								<span class="event-type" ng-show="store.Premier">
									Premier
								</span>
							</div>
							<h4>{{store.Name | titlecase | truncate:truncateSize}}</h4>
							<p><b>{{store.Street |  titlecase}}</b>
								<br> {{store.Street2 | titlecase}} {{store.Street3 | titlecase}}
								<span ng-if="store.Street2 || store.Street3">
									<br>
								</span>
								{{store.City | titlecase}}, {{store.State | statetitlecase}}
								<span ng-if="store.State">,</span> {{store.Country}} {{store.PostalCode}}
							</p>
							<a href="tel:{{store.PhoneNumber}}">
								<p><i class="icon-phone"></i> <b>Call us: {{store.PhoneNumber}}</b></p>
							</a>
						</section>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-4">
					<div class="pure-padding brands">
						<p>BRANDS AVAILABLE</p>
						<i class="icon-logo product-line" ng-show="store.ProductLines[0].ProductLineId == '2' || store.ProductLines[1].ProductLineId == '2'"></i>
						<i class="icon-sottero-and-midgley product-line" ng-show="store.ProductLines[0].ProductLineId == '3' || store.ProductLines[1].ProductLineId == '3'"></i>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-3 map-section">
					<div class="pure-padding-left">
						<div class="map" style="background:url(//ms-cdn.maggiesottero.com/product/Content/Images/{{store.Images[0].PictureId}}/{{store.Images[0].FileName}}) no-repeat center;"></div>
						<a href="https://www.google.com/maps/place/{{store.Street}} {{store.Street2}} {{store.Street3}}, {{store.City}}, {{store.PostalCode}}/@{{store.Latitude}},{{store.Longitude}},15z" target="_blank">
							<span><i class="icon-bus"></i> Get Directions</span>
						</a>
					</div>
				</div>
			</div>
		</li>
		<li class="expand" ng-show="stores">
			<p ng-hide="locationNotFound">There are {{filtered.length}} stores within {{radius}} Miles
				<br>
				<text ng-if="!searchString || searchString.length == 0">of your location</text>
				<text ng-if="searchString && searchString.length > 0">of {{searchString}}</text>
			</p>
			<button class="btn black" ng-click="expandSearch()">EXPAND YOUR SEARCH RESULTS</button>
		</li>
	</ul>

</div>
