<div id="trends-page" class="landing-page">
	<section class="banner">
		<h1>LOOKS WE LOVE</h1>
	</section>

	<section class="about">
		<h2>Explore the Latest Trends</h2>
		<p>Looking for wedding inspiration? Take a look at the latest trends and why we are so in love with them.</p>
	</section>


	<div class="container">
		<section class="items">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends/patterned.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Lace Wedding Dresses</h3>
						<p>From knit lace, guipure lace, embroidered lace, and more, lace wedding gowns enchant the romantic bride and captivate the sophisticated bride alike. Today's intricate laces are more dazzling than ever.</p>
						<a href="/lace-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends/patterned.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends/sleeves.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Plus-Size Wedding Dresses</h3>
						<p>Nothing makes a bride feel more stunning than a perfectly fitting wedding gown. No matter your body shape or type, your wedding dress awaits.</p>
						<a href="/plus-size-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends/blush.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Colored Wedding Dresses</h3>
						<p>Shades of pale pink, blush, glimmering gold, sparkling pewter and light lavender stand out in an ivory sea. Brides everywhere are turning to colorful wedding dresses as an alternative to traditional white.</p>
						<a href="/colored-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends/blush.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends/long-sleeve.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Sleeve Wedding Dresses</h3>
						<p>From intricately beaded sleeve jackets to illusion lace full-sleeves, wedding dresses with sleeves are making a statement. Gone are the days of the matronly sleeve, todays sleeves are the perfect combination of modern romance, from delicate cap-sleeves
							to flutter short sleeves to full length sleeves.</p>
						<a href="/sleeve-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends/geometric.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Vintage Wedding Dresses</h3>
						<p>Drawing inspiration from quintessential elements of the 1920s, these vintage wedding dresses encompass Neo-classic columns, Art Deco designs, and jewelry inspiring beading.</p>
						<a href="/vintage-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends/geometric.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/OffTheShoulder/Off-the-shoulder.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Off-The-Shoulder</h3>
						<p>Highlight your striking features or gorgeous complexion with an off-the-shoulder wedding dress. Stunning Swarovski crystals or lace appliques draw attention to this timeless neckline, which translates seamlessly from season to season. Try a style
							with long, lace sleeves for ultimate romance.</p>
						<a href="/off-the-shoulder-wedding-dresses">
							<button class="btn subdominant">See this Look</button>
						</a>
					</div>
				</div>
			</div>

		</section>

	</div>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
