<div id="trends-page" class="vintage-page">
	<section class="banner">
		<h1>VINTAGE<br>WEDDING DRESSES</h1>
	</section>

	<section class="about">
		<h2>Inspired by iconic elements of glamorous Old Hollywood.</h2>
		<p>These vintage style wedding dresses glimmer with geometric metallic embellishments, subtle sequins and opalescent pearls.
			<br>
			<br> Drawing inspiration from quintessential elements of the 1920s, these vintage wedding dresses encompass Neo-classic columns, Art Deco designs, and jewelry inspired beading.
		</p>
	</section>

	<div class="container">
		<section class="items">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends/geometric.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Geometric Patterns</h3>
						<p>Reminiscent of the Art Deco era, vintage wedding dresses have some of the most exquisite geometric patterns, like the chevron lace. Looking for a little more sparkle? Try a beaded dress, with an intricate geometric bead pattern.</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends/geometric.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/Vintage/Colors-Vintage.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Colors</h3>
						<p>Champagne, subtle shades of blush, pale gold and nude colors are especially popular color options for brides recreating the glamour of Hollywood’s golden age.</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/Vintage/Silhouettes-Vintage.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Silhouettes</h3>
						<p>Red-carpet drama inspired the slinky, seductive silhouettes found in vintage wedding dresses. Streamlined, sheath wedding dresses and dropped waist Deco designs are some of our favorite silhouettes for a vintage wedding dress.</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/Vintage/Silhouettes-Vintage.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/Vintage/Beading-Vintage.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Beading</h3>
						<p>Embracing the opulence of the 1920s and 1930s, pearls and jewelry inspired beading double as decadent wedding day jewelry, while stunning thread-craft embroidery and opulent bead patterns call to mind the legendary Gatsby era.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="lines">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 border-right">
					<div class="pure-p">
						<i class="icon-logo"></i>
						<p class="phone-h">Designed with the classic romantic bride in mind, Maggie Sottero fuses timeless silhouettes with modern, alluring details, captivating the traditional bride and charming the modern bride alike.</p>
						<div class="button-container">
							<a href="/maggie-sottero/category/488">
								<button class="btn subdominant">Maggie Sottero Vintage Dresses</button>
							</a>
						</div>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<i class="icon-sottero-and-midgley"></i>
						<p class="phone-h">Contemporary and sophisticated, Sottero and Midgley is designed for the fashion-forward bride, an artful blend of refined styling and eye-catching drama. </p>
						<div class="button-container">
							<a href="/sottero-and-midgley/category/488">
								<button class="btn subdominant">Sottero &amp; Midgley Vintage Dresses</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="trends">
			<div class="card">
				<h2>More Trends We Love</h2>
				<a href="/colored-wedding-dresses">
					<p>COLOR WEDDING DRESSES</p>
				</a>
				<a href="/off-the-shoulder-wedding-dresses">
					<p>OFF THE SHOULDER WEDDING DRESSES</p>
				</a>
				<a href="/plus-size-wedding-dresses">
					<p>PLUS-SIZE WEDDING DRESSES</p>
				</a>
				<a href="/sleeve-wedding-dresses">
					<p>SLEEVE WEDDING DRESSES</p>
				</a>
				<a href="/lace-wedding-dresses">
					<p>LACE WEDDING DRESSES</p>
				</a>
			</div>
		</section>
	</div>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
