<div id="trends-page" class="color-page">
	<section class="banner">
		<h1>COLORED<br>WEDDING DRESSES</h1>
	</section>

	<section class="about">
		<h2>White wedding dresses will be forever classic and timeless...</h2>
		<p>But there is something about the allure of colored wedding dresses that has captured our hearts.
			<br>
			<br> Shades of pale pink, blush, glimmering gold, sparkling pewter and light lavender stand out in an ivory sea. Brides everywhere are turning to colorful wedding dresses as an alternative to traditional white.
		</p>
	</section>


	<div class="container">
		<section class="items">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends/pale-pink.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Pale Pink</h3>
						<p>A conservative alternative to traditional white, a pale pink wedding dress offers a soft peek of color, while maintaining a classic bridal look. Still hesitant? Try a wedding dress with a tinted underlay, showing the faintest glimpse of color through
							an ivory skirt. </p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends/pale-pink.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends/blush.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Blush</h3>
						<p>Looking to make a brighter splash? Try a blush hued gown. A head to toe blush beauty in a timeless silhouette keeps your wedding dress feeling modern, without sacrificing traditional bridal style. </p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/Color/Nude-Color.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Nude</h3>
						<p>Can’t commit to a colored wedding dress, but want a variation from the standard white wedding gown? A demure, sophisticated alternative to white, nude wedding dresses have taken bridal runways by storm. Try a wedding dress with a nude underlay,
							allowing the details of the dress to really shine through. </p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/Color/Nude-Color.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/Color/Champagne-Color.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Champagne</h3>
						<p>After all, it’s a celebration! Champagne adds body and lustre to your gown’s palette. Let the color speak for itself in allover sheen, or embrace the bubbly with shimmering embellishments and textural details. A toast to a standout gown and your
							happily-ever-after!</p>
					</div>
				</div>
			</div>
		</section>

		<section class="lines">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 border-right">
					<div class="pure-p">
						<i class="icon-logo"></i>
						<p class="phone-h">Designed with the classic romantic bride in mind, Maggie Sottero fuses timeless silhouettes with modern, alluring details, captivating the traditional bride and charming the modern bride alike.</p>
						<div class="button-container">
							<a href="/maggie-sottero/category/104">
								<button class="btn subdominant">Maggie Sottero Color Dresses</button>
							</a>
						</div>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<i class="icon-sottero-and-midgley"></i>
						<p class="phone-h">Contemporary and sophisticated, Sottero and Midgley is designed for the fashion-forward bride, an artful blend of refined styling and eye-catching drama. </p>
						<div class="button-container">
							<a href="/sottero-and-midgley/category/104">
								<button class="btn subdominant">Sottero &amp; Midgley Color Dresses</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="trends">
			<div class="card">
				<h2>More Trends We Love</h2>
				<a href="/sleeve-wedding-dresses">
					<p>SLEEVE WEDDING DRESSES</p>
				</a>
				<a href="/vintage-wedding-dresses">
					<p>VINTAGE WEDDING DRESSES</p>
				</a>
				<a href="/plus-size-wedding-dresses">
					<p>PLUS-SIZE WEDDING DRESSES</p>
				</a>
				<a href="/off-the-shoulder-wedding-dresses">
					<p>OFF THE SHOULDER WEDDING DRESSES</p>
				</a>
				<a href="/lace-wedding-dresses">
					<p>LACE WEDDING DRESSES</p>
				</a>
			</div>
		</section>
	</div>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
