<div id="trends-page" class="lace-page">
	<section class="banner">
		<h1>LACE<br>WEDDING DRESSES</h1>
	</section>

	<section class="about">
		<h2>Lace has always brought a special, romantic touch to wedding gowns.</h2>
		<p>From knit lace, guipure lace, embroidered lace, and more, lace wedding gowns enchant the romantic bride and captivate the sophisticated bride alike. Today’s intricate laces are more dazzling than ever. </p>
	</section>


	<div class="container">
		<section class="items">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/Lace/Patterned-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Patterned Lace</h3>
						<p>Looking for a traditional lace wedding dress with an updated, modern twist? Try a lace wedding dress constructed from an intricately patterned lace. Geometric patterns, exquisite patterns, and lavish appliques offer a modern flair.</p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/Lace/Patterned-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/Lace/Sparkling-Appliques-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Sparkling Appliques</h3>
						<p>Hand-placed appliques, glittering with sparkling Swarovski crystals, add romance and elegance to a traditional lace wedding dress. </p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/Lace/Illusion-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Illusion Lace</h3>
						<p>Lovely lace wedding dresses are a favorite among brides, but today’s brides are seeking a more daring approach to the classic styles. Incorporate the trend with a barely-there illusion neckline, adding intrigue to your bridal look. </p>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/Lace/Illusion-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/Lace/Eyelet-Lace.jpg') no-repeat center top;">
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<h3>Eyelet Lace</h3>
						<p>We’ve taken this otherwise simple fabric and made it sophisticated. Eyelet adds a touch of boho to your gown, channeling a vintage aesthetic while looking cool and unexpectedly modern. Trés chic!</p>
					</div>
				</div>
			</div>
		</section>

		<section class="lines">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2 border-right">
					<div class="pure-p">
						<i class="icon-logo"></i>
						<p class="phone-h">Designed with the classic romantic bride in mind, Maggie Sottero fuses timeless silhouettes with modern, alluring details, captivating the traditional bride and charming the modern bride alike.</p>
						<div class="button-container">
							<a href="/maggie-sottero/category/296">
								<button class="btn subdominant">Maggie Sottero Lace Dresses</button>
							</a>
						</div>
					</div>
				</div>
				<div class="pure-u-1 pure-u-sm-1-2">
					<div class="pure-p">
						<i class="icon-sottero-and-midgley"></i>
						<p class="phone-h">Contemporary and sophisticated, Sottero and Midgley is designed for the fashion-forward bride, an artful blend of refined styling and eye-catching drama. </p>
						<div class="button-container">
							<a href="/sottero-and-midgley/category/296">
								<button class="btn subdominant">Sottero &amp; Midgley Lace Dresses</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="trends">
			<div class="card">
				<h2>More Trends We Love</h2>
				<a href="/colored-wedding-dresses">
					<p>COLOR WEDDING DRESSES</p>
				</a>
				<a href="/vintage-wedding-dresses">
					<p>VINTAGE WEDDING DRESSES</p>
				</a>
				<a href="/plus-size-wedding-dresses">
					<p>PLUS-SIZE WEDDING DRESSES</p>
				</a>
				<a href="/sleeve-wedding-dresses">
					<p>SLEEVE WEDDING DRESSES</p>
				</a>
				<a href="/off-the-shoulder-wedding-dresses">
					<p>OFF THE SHOULDER WEDDING DRESSES</p>
				</a>
			</div>
		</section>
	</div>

	<div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
