<div id="trends-page" class="shoulder-page">
  <section class="banner">
    <h1>OFF-THE-SHOULDER<br>WEDDING DRESSES</h1>
  </section>

  <section class="about">
    <h2>Off-the-shoulder wedding dresses are timeless, sensual, and sophisticated</h2>
    <p>Whether fashion-forward or classically elegant, off-the-shoulder wedding gowns delight the bride seeking a sexy yet demure, refined yet playful bridal style.
      <br>
      <br> Inherently classic, off-the-shoulder wedding dresses are flattering to a variety of body types. For a dramatic, elegant twist, a one-shoulder wedding dress is a stunning option to this bridal trend.</p>
  </section>


  <div class="container">
    <section class="items">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/OffTheShoulder/Off-the-shoulder.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <h3>Off-The-Shoulder</h3>
            <p>Highlight your striking features or gorgeous complexion with an off-the-shoulder wedding dress. Stunning Swarovski crystals or lace appliques draw attention to this timeless neckline, which translates seamlessly from season to season. Try
              a style with long, lace sleeves for ultimate romance.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/OffTheShoulder/Off-the-shoulder.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/OffTheShoulder/Portrait-Neckline.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <h3>Portrait Neckline</h3>
            <p>Frame your delicate collarbone with straps or sleeves resting on the tips of the shoulders. Portrait necklines pair glamorously with dramatic illusion backs.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/OffTheShoulder/Cold-Shoulder.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <h3>Cold Shoulder</h3>
            <p>A sleeve treatment that reveals just the tip of the shoulder, the cold shoulder is both classy and oh-so-goddess! This hot fashion trend, straight off the runway, is sure to be a hit with brides this year. Gorgeous variations are already serving
              up major wedding inspiration.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/OffTheShoulder/Cold-Shoulder.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2" style="background:url('/images/trends-images/OffTheShoulder/Illusion-Portrait.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <h3>Illusion Portrait</h3>
            <p>Sheer fabric or lace dusts the shoulders in this dreamy alternative to a strapless wedding gown. A hint of coverage is the perfect whimsical companion to daring necklines and plunging backs. Embroidered lace bodices accented with crystals
              and pearls bring an innovative, fresh twist to this centuries-old classic.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 phone-s" style="background:url('/images/trends-images/OffTheShoulder/One-Shoulder.jpg') no-repeat center top;">
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <h3>One-Shoulder</h3>
            <p>Want a little bit more drama on your big day? Dazzle your guests in a sexy one-shoulder wedding dress, like the one worn by The Bachelorette's Desiree Hartsock. The lace-over-tulle strap with an intricate floral pattern leads to a lovely open
              back for an enchanting effect.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 phone-h" style="background:url('/images/trends-images/OffTheShoulder/One-Shoulder.jpg') no-repeat center top;">
        </div>
      </div>
    </section>

    <section class="lines">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2 border-right">
          <div class="pure-p">
            <i class="icon-logo"></i>
            <p class="phone-h">Designed with the classic romantic bride in mind, Maggie Sottero fuses timeless silhouettes with modern, alluring details, captivating the traditional bride and charming the modern bride alike.</p>
            <div class="button-container">
              <a href="/maggie-sottero/category/296">
                <button class="btn subdominant">Maggie Sottero Lace Dresses</button>
              </a>
            </div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="pure-p">
            <i class="icon-sottero-and-midgley"></i>
            <p class="phone-h">Contemporary and sophisticated, Sottero and Midgley is designed for the fashion-forward bride, an artful blend of refined styling and eye-catching drama. </p>
            <div class="button-container">
              <a href="/sottero-and-midgley/category/296">
                <button class="btn subdominant">Sottero &amp; Midgley Lace Dresses</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="trends">
      <div class="card">
        <h2>More Trends We Love</h2>
        <a href="/colored-wedding-dresses">
          <p>COLOR WEDDING DRESSES</p>
        </a>
        <a href="/vintage-wedding-dresses">
          <p>VINTAGE WEDDING DRESSES</p>
        </a>
        <a href="/plus-size-wedding-dresses">
          <p>PLUS-SIZE WEDDING DRESSES</p>
        </a>
        <a href="/sleeve-wedding-dresses">
          <p>SLEEVE WEDDING DRESSES</p>
        </a>
        <a href="/lace-wedding-dresses">
          <p>LACE WEDDING DRESSES</p>
        </a>
      </div>
    </section>
  </div>

  <div ng-include="'/partials/become-maggiebride.html'"></div>

</div>
