<div id="account-page" class="page">
	<div class="container">
		
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3 side-bar">
				<div ng-include="'/partials/account-nav.html'"></div>
				<a href="/quiz"><button class="btn subdominant"><if ng-show="yourStyle">Retake</if><if ng-hide="yourStyle">Take</if> Quiz</button></a>
			</div>
			<div class="pure-u-1 pure-u-sm-2-3 card">
				<div class="pure-g dress-list">
					<div class="pure-u-1 prompt" ng-show="myStyleDresses.length == 0 && yourStyle == undefined">
						<p>Take the quiz to discover your style</p>
					</div>
					<div class="pure-u-1" ng-show="yourStyle">
						<h4>{{yourStyle}}</h4>
					</div>
					<div class="pure-u-1 pure-u-sm-1-3 relative" ng-repeat="dress in myStyleDresses | limitTo:20">
						<a href="#/dress/{{dress.ProductId}}">
							<div class="block">	
								<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[2].PictureId}}/{{dress.Images[2].FileName | imagePathToMediumResImage}}"/>
								<article>	
									<p>{{dress.Name | titlecase}}</p>
								</article>
							</div>
						</a>
					</div>
					<div class="pure-u-1" ng-show="yourStyle">
						<button class="btn">View {{yourStyle}} dresses</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>