#about-page {
	background:white;

	.banner {
		padding:245px 0 180px;
		background-size: cover !important;
		text-align: center;
		background:url('../images/about/Heritage-Banner.jpg') no-repeat center;
		color: white;
		&.craft {
			background:url('../images/about/Craft-Banner.jpg') no-repeat center;
		}
		&.style {
			background:url('../images/about/Passion-Banner.jpg') no-repeat center;
		}
		hr {
			width: 70px;
			height: 2px;
			background: white;
			border:none;
			display: block;
			margin:15px auto;
		}
		h1 {
			font-family: 'AvenirNext';
			font-weight: 400;
			font-size: 100px;
		}
		p {
			letter-spacing: 6px;
			line-height: 1.5em;
			font-weight: 400;
			padding:15px 0 0;
			font-size:16px;
		}
		h2 {
			font-family: 'AvenirNext';
			font-weight: 400;
			font-size: 70px;
		}
	}
	.blocks {
		padding:140px 0 50px;
		h3 {
			font-weight: 500;
			font-size: 30px;
			letter-spacing: 3px;
		}
		.spacing {
			padding-top: 70px;
		}
		.quote {
			text-align: center;
			padding-top: 60px;
			p {
				font-family: 'bodoni';
				font-weight: 500;
				font-size: 20px;
			}
		}
		.pure-g {
			padding:20px 0;
			.images {
				position: relative;
				top:-160px;
				margin-bottom: -160px;
			}
			img {
				max-width: 510px;
				width: 100%;
				float: left;
			}
		}
		p {
			line-height: 1.8em;
			font-size: 16px;
			padding:20px 100px 20px 0px;
		}
		hr {
			width: 35px;
			height: 2px;
			background:black;
			border:none;
			margin:5px auto;
			position: relative;
			right: 50px;
		}
		article {
			p {
				line-height: 1.8em;
				padding:20px 100px 100px 0;
			}
		}
	}
	.dress-line {
		padding:230px 0;
		background:$gray;
		color: white;
		article {
			max-width: 485px;
			p {
				line-height: 1.8em;
				padding:20px 0;
			}
			i {
				font-size: 40px;
				text-align: center;
				display: block;
			}
			button {
				width: 240px;
				margin:0 auto;
				display: block;
			}
		}
		&#maggie-sottero {
			background:url('../images/about/Maggie-Banner.jpg') no-repeat center;
			background-size: cover;
			color:$darkGray;
			article {
				position: relative;
				left: 150px;
			}
		}
		&#sottero-and-midgley {
			background:url('../images/about/Midgley-Banner.jpg') no-repeat center;
			background-size: cover;
		}
	}
}
