#account-page {
	padding:60px 0;
	
	.card {
		@extend .box-shadow;
		background:white;
		padding:35px;
		position: relative;
		margin:0 auto;
		max-width: 790px;
		width: 100%;
		
		//Step headers
		.row {
			p.left {
				font-size: 24px;
				font-weight: 600;
			}
			p.right {
				color: $gray;
				padding:4px 10px 0 0;
			}
			.icon-check {
				font-size: 0px;
				color: $gray;
				display: inline-block;
				padding-top: 3px;
				height: 22px;
				width: 22px;
				border-radius: 20px;
				text-align: center;
				border:2px solid $gray;
				&.completed {
					font-size: 13px;
				}
			}
		}
		
		input[type=text], input[type=password], input[type=date] {
			width: 100%;
			background:$outlineGray;
			&.small {
				width: 50%;
				display: inline-block;
			}
		}
		hr {
			border:1px solid $lightGray;
			margin:15px auto;
		}
		.btn {
			margin:40px auto 30px;
			display: block;
			padding:0 50px;
		}
		strong {
			font-weight: 600;
			font-size: 24px;
		}
		.radio-inputs {
			width: 40%;
			display: inline-block;
		}
		.dropdown {
			margin:15px 0;
		}
		.inputs-list {
			margin:0 -15px;
			.pure-padding {
				padding:0 15px;
			}
			p {
				padding:13px 0 4px 2px;
			}
			article {
				padding:0px 0 30px;
				text-align: center;
				p {
					line-height: 1.4em;
				}
				label {
					font-family: 'AvenirNext';
					display: inline-block;
					padding:10px 0;
				}
			}
		}
		.prompt p {
			text-align: center;
			width: 100%;
			position: absolute;
			top:50%;
			margin-top: -10px;
			font-weight: 600;
			opacity: .3;
		}
		.prompt-box {
			text-align: center;
			padding:120px 140px;
			background:$outlineGray;
			
			p {
				line-height: 1.8em;
				padding:10px 0 20px;
			}
		}
		h4 {
			text-align: center;
		}
		h5 {
			font-family: 'AvenirNext';
			padding-bottom: 30px;
			font-size: 20px;
			font-weight: 600;
		}
		.tabs {
			text-align: center;
			p {
				cursor: pointer;
				&.active {
					font-weight: 600;
					text-decoration: underline;
				}
			}
		}
		.favorites-tab {
			.btn {
				margin:10px auto;
			}
		}
		.box {
			padding:30px;
			background:$outlineGray;
			margin-top: 30px;
			p {
				line-height: 1.5em;
				padding:15px 0;
				text-align: center;
			}
			button {
				margin-bottom: 0px;
			}
		}
	}
	.side-bar {
		padding-right: 60px;
		button {
			width: 100%;
			margin:20px 0 0;
			&.subordinate {
				opacity: .7;
			}
		}
	}
}