#collection-page {
	padding: 80px 0;
}

.dress-filter-nav {
	@extend .box-shadow;
	height: 60px;
	width: 100%;
	background:white;
	padding:15px;
	position: fixed;
	top:68px;
	left: 0px;
	z-index: 2;
	.lines-dd {
		min-width:200px;
	}
	p {
		padding:18px;
	}
	.logo {
		font-size: 17px;
		position: relative;
		top: 17px;
		text-align: right;
		display: block;
		cursor: auto;
		padding-right: 20px;
	}
	.links {
		text-align: center;

		&>li {
			display: inline-block;
			a {
				display: block;
				padding:18px;
			}
		}
	}
	.container {
		position: relative;
	}
	.search-input {
		position: absolute;
		top:-10px;
		right:10px;
	}
}

.advanced-filters {
	background: none;
	&>li {
		display: inline-block;
	    &.active p {
		    border:1px solid gray;
	    }
	    p {
		    line-height: 1em;
		    font-size: 14px;
		    padding: 9px 7px 6px;
		    margin: 0 3px;
		    border: 1px solid #f0f0f0;
		    border-radius: 3px;
		    cursor: pointer;
		    @include transition(border, .3s);
	    }
	    .icon-close-small {
		    font-size:11px;
	    }
	    .clear-filters {
		    background:$darkGray;
		    color: white;
		    border:none;
	    }
	    .see-toggle {
		    border:none;
		    padding: 9px 0px 6px;
	    }
	    .icon-arrow-down {
		    position: relative;
		    top: -1px;
		    display: inline-block;
		    padding: 0px;
		    margin-left: 10px;
		    font-size: 6px !important;
		    @include transition(transform, .3s);
	    }
	}
	.dropdown-menu {
		background:#F8F8FD;
		top: 90%;
		left: 0%;
		height: auto;
		overflow: auto;
		max-height: inherit;
		box-shadow: none;
		width: 200px;
		&:before {
			display: none;
		}
		li {
			padding:10px 14px;
			hr {
				border:none;
				border-top:1px solid $gray;
				margin: 0 auto 15px;
			}
			button {
				margin:0 auto;
				display: block;
				padding:0 50px;
			}
			&.active {
				.icon-check:before {
					color: black;
				}
			}
		}
	}
	.dropdown {
		&.open {
			background:#F8F8FD;
			p {
				border:1px solid #F8F8FD;
				border-bottom: 20px solid #F8F8FD;
			}
			.icon-arrow-down {
				@include rotate(180deg);
			}
		}
	}
	.icon-check {
		float: right;
	    height: 20px;
	    width: 20px;
	    border: 1px solid black;
	    border-radius: 15px;
	    text-align: center;
	    padding-top: 4px;
	    position: relative;
	    top: -6px;
	    font-size: 11px !important;
	    &:before {
		    color: transparent;
	    }
	}
}

.phone-filter-nav {
	button {
		margin:0px auto 25px;
		display: block;
		width: 170px;
		position: relative;
		top:15px;
		i {
			font-size: 10px;
			position: absolute;
			top: 13px;
			right: 21px;
		}
	}
}

.collection {
	margin-bottom:60px;
}

.collection-header {
	@extend .box-shadow;
	background-size: cover !important;
	margin: 5px;
	height: 315px;
	hr {
		width: 30px;
		height: 3px;
		background:$darkGray;
		border:none;
		display: inline-block;
		margin:15px 0;
	}
	p {
		line-height: 1.8em;
		color: $darkGray;
	}
	span {
		font-weight: 600;
		font-size: 12px;
		margin-bottom: 5px;
		display: block;
	}
	.pure-padding {
		padding:90px 70px 90px 160px;
	}
	.collection-logo {
		margin:0px auto;
		display: block;
		max-width: 580px;
		width: 90%;
		padding: 60px 0 0;
	}
}

.dress-list {

	li {
		padding:5px;
		position: relative;

		.block {
			width: 100%;
			position: relative;
		}
		img {
			width: 100%;
		}
		.heart {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 2em;
			color: white;
			opacity: 0;
			@include transition(opacity,.3s);
			@extend .text-shadow;
			&.show {
				opacity: 1;
			}
		}
		article {
			padding:15px 20px 20px;
			text-align: center;
			p {
				font-weight: 400;
			}
			span {
				opacity: .5;
				font-size:11px;
			}
		}
		&:hover .actions {
			opacity: 1;
			bottom:70px;
		}
		.actions {
			display: inline-block;
			position: absolute;
			width: 100%;
			bottom:60px;
			left: 0px;
			color: white;
			text-align: center;
			padding-right: 10px;
			opacity: 0;
			@include transition-all(.3s);
			p {
				padding:0 15px;
				display: inline-block;
				cursor: pointer;
				@extend .text-shadow;
				i {
					display: inline-block;
					font-size: 16px;
				    position: relative;
				    top: 1px;
				}
			}
		}
	}
	.collection-header {
		button {
			margin:0px auto;
		@extend .box-shadow;
		@extend .text-shadow;
		}
	}
	button {
		display: block;
		margin:15px auto;
	}


}


.vimeo-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	background:black;
	display: none;
	z-index: 100;
	&.show {
		display: block;
	}
	.icon-close-big {
		position: absolute;
		top:30px;
		right: 30px;
		z-index: 2;
		@extend .text-shadow;
		color: white;
	}
	iframe {
		position: absolute;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}
