#contact-page {
	padding:60px 0;
	
	.container {
		max-width: 500px;
	}
	.card {
		background:rgba(42,51,58,.9);
		padding:90px 20px;
		margin:20px 0;
		color: white;
		.dropdown {
			.dropdown-menu {
				overflow: inherit;
				&.long-list {
					overflow: scroll;
					max-height: 275px;
				}
			}
			p {
				font-size: 16px;
			}
		}
		h3, h1 {
			text-align: center;
			padding-bottom: 30px;
			color: white;
			font-size: 46px;
		}
		section {
			max-width:380px;
			width: 100%;
			margin:0 auto;
			display: block;
		}
		input, textarea, .dropdown {
			width: 100%;
			border:1px solid $outlineGray;
			max-width: 100%;
			margin:5px 0;
		}
		.btn {
			width: 100%;
			margin:15px auto;
			display: block;
		}
		span {
			text-align: center;
			display: block;
			padding-top: 20px;
		}
		.pure-padding-right {
			padding-right: 10px;
		}
		.center {
			margin:0 auto;
		}
		.message {
			text-align: center;
			padding:20px 0;
			label {
				display: inline-block;
			}
			input[type=checkbox]{
				display: inline-block;
				width: auto;
				padding-bottom: 10px;
			}
			a {
				text-decoration: underline;
			}
			p {
				line-height: 1.5em;
			}
		}	
	}
	.thank-you {
		p {
			text-align: center;
			line-height: 1.5em;
			padding:0 0 40px;
		}
	}
}