#dress-page {
	max-width: 1440px;
	margin:0 auto;
	background:$lightGray;
	.banner {
		background:$darkGray;
		height:680px;
		color: white;
		text-align: center;
		position: relative;
		overflow: hidden;
		.dress-arrow {
			position: absolute;
			top:49%;
			background:white;
			padding:24px 29px;
			opacity: .4;
			color: black;
			cursor: pointer;
			@include transition-all(.3s);
			&.left {
				left:0px;
			}
			&.right {
				right:0px;
			}
			&:hover {
				opacity: .8;
			}
		}
		&>iframe, &>video {
			position: absolute;
			top: -10%;
			left: 0px;
			min-width: 100%;
			max-width: 100%;
			height: 120%;
			z-index: 0;
		}
		#player1 {
			max-width: 120%;
			width: 120%;
			height: 140%;
			top:-20%;
			// opacity: 0;
			// @include transition(opacity,1s);
			// &.fadein {
			// 	opacity: 1;
			// }
		}
		.banner-image {
			position: absolute;
			background-size: cover !important;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 1;
			opacity: 0;
			@include transition(opacity,1s);
			&.video-ready {
				opacity: 0;
			}
		}
		article {
			position: absolute;
			padding-top:268px;
			top:0px;
			left: 0px;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		.icon-close-big {
			position: absolute;
			top:30px;
			right: 30px;
			z-index: 2;
			@extend .text-shadow;
		}
		h2 {
			@extend .text-shadow;
			padding-bottom: 30px;
			position: relative;
			z-index: 2;
		}
		button {
			width: 220px;
			@extend .text-shadow;
			position: relative;
			z-index: 2;
			i {
				font-size: 12px;
				//@extend .text-shadow;
				top: 0px;
			}
		}
	}
	.dress-info {
		padding:10px;
		background:white;
		border-bottom: 1px solid $outlineGray;

		.icon-logo, .icon-sottero-and-midgley {
			margin:65px 0 20px;
			width: 100%;
			display: inline-block;
			text-align: center;
			font-size: 25px;
		}
		h5 {
			text-align: center;
			font-weight: 500;
		}
		hr {
			border: 1px solid $outlineGray;
			margin:15px auto;
			&.small {
				width: 25px;
				height: 2px;
				background:$darkGray;
				border:none;
			}
		}
		p {
			line-height: 1.5em;
			color: $darkGray;
			font-size: 16px;
			&.description {
				min-height: 180px;
			}
		}
		strong {
			font-weight: 600;
			color: black;
		}
		.pure-padding {
			padding:30px;
		}
		.slick-slider {
			position: relative;
			img {
				width: 98%;
				margin:1%;
				float: left;
				cursor: pointer;
			}
		}
		.btn.subordinate {
			padding:0;
			white-space: nowrap;
		}
		.second-row {
			padding-top: 10px;
		}
	}
	.more {
		padding:10px;
		.card {
			margin:5px;
			background:white;
			padding:30px;
			text-align: center;
			height: 100%;
			position: relative;
			h4 {
				line-height: 1.5em;
			}
			p {
				padding:15px 0;
			}
			span {
				padding:15px 0;
				display: block;
			}
			button {
				margin:10px auto;
				display: block;
				width: 220px;
			}
			hr {
				width: 35px;
				height: 2px;
				background:$darkGray;
				margin:3px auto 30px;
				border:none;
			}
			img {
				width: 96%;
				margin:2%;
			}
			&.single {
				.pure-g {
					max-width: 700px;
					margin:0 auto;
				}
			}
			.dress {
				position: relative;
				&:hover .actions {
					opacity: 1;
					bottom: 70px;
				}
				.actions {
					display: inline-block;
					position: absolute;
					width: 100%;
					bottom:60px;
					left: 0px;
					color: white;
					text-align: center;
					padding-right: 10px;
					opacity: 0;
					@include transition-all(.3s);
					p {
						padding:0 15px;
						display: inline-block;
						cursor: pointer;
						@extend .text-shadow;
						i {
							display: inline-block;
							font-size: 16px;
						    position: relative;
						    top: 1px;
						}
					}
				}
			}

		}
		.thumbnail, .single-thumbnail {
			width: 100%;
			height: 330px;
			background-size: cover !important;
		}
	}
	.image-zoom {
		position: fixed;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		overflow: scroll;
		background: white;
		opacity: 0;
		pointer-events: none;
		.icon-close-big {
			position: fixed;
			top:15px;
			right:15px;
			color: black;
			background:rgba(255,255,255,.8);
			padding:15px;
			cursor: pointer;
			z-index: 101;
			@extend .box-shadow;
		}
		img {
			width: 100%;
		}

	}
	.fullscreen-video {
		position: absolute;
		top:0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 10;
		overflow: hidden;
		background: white;
		opacity: 0;
		pointer-events: none;
		@include transition(opacity, .5s);
		&.show {
			opacity: 1;
			pointer-events: auto;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
		.icon-close-big {
			position: absolute;
			top:15px;
			right:15px;
			color: black;
			background:rgba(255,255,255,.8);
			padding:15px;
			cursor: pointer;
			z-index: 9;
			@extend .box-shadow;
		}
	}
}
