.faq-page {
	.banner {
		height: 380px;
		padding-top:170px;
		color: white;
		text-align: center;
		background:url('../images/FAQ.jpg') no-repeat center;
		background-size: cover;
	}
	.pure-g {
		margin:40px auto;
	}
	.card {
		background:white;
		@extend .box-shadow;
		padding:10px 40px 40px;
		.indent {
			padding-left: 30px;
			font-size: inherit;
		}
		p.title {
			font-size: 24px;
			font-weight: 600;
			padding: 30px 0 15px;
			color: black;
		}
		a {
			color: #0798ff !important;
		}
		p {
			line-height: 1.5em;
			color: $gray;
			word-break: break-word;
		}
		div {
			display: none;
			&.active {
				display: block;
			}
		}
		b {
			font-weight: 600 !important;
			color: black;
		}
		
	}
}

#faq-nav {
	padding-right: 40px;
	p.title {
		font-size: 24px;
		font-weight: 600;
	}
	
	ul {
		border-top: 1px solid $lightGray;
		margin:15px 0;
		padding:15px 0;
		li {
			padding:8px 0;
			color: $gray;
			&.active p {
				color: black;
				font-weight: 600;
			}
			p {
				font-size: 16px;
				cursor: pointer;
			}
		}
	}
}