.favorites-list {
	.block {
		margin:5px;
		background: white;
		position: relative;
		text-align: center;
		p {
			text-align: center;
			padding:7px 0;
		}
		img {
			width: 100%;
		}
	}
	.relative {
		&:hover span {
			display: block;
		}
		span {
			position: absolute;
			top:12px;
			left: 12px;
			color:white;
			@extend .text-shadow;
			display: none;
			z-index: 1;
			cursor: pointer;
			i {
				font-size: 13px;
			    display: inline-block;
			    color: white;
			    width: 30px;
			    height: 30px;
			    text-align: center;
			    border: 1px solid white;
			    border-radius: 20px;
			    padding-top: 8px;
			    margin-right: 3px;
			}
		}
	}
}

#favorites-page {
	.header{	
		padding:60px 0 30px;
		text-align: center;
		h3 {
			font-family: 'AvenirNext';
			font-weight: 600;
			letter-spacing: 5px;
			text-transform: uppercase;
			font-size: 30px;
		}
		button {
			margin:30px 0;
			width: 200px;
		}
		span {
			display: block;
			font-size: 15px;
			padding:30px 0 15px;
			color: $gray;
		}
	}
	.block {
		background:none;
	}
	
}