#home-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 67px 15px 0;
  background: white;
  .slick-dots {
    bottom: 90px;
  }
  .banner {
    section {
      background: url(http://placehold.it/1440x1000) no-repeat center top;
      background-size: cover;
      height: 100vh;
      article {
        display: block;
        margin: 0 auto;
        position: relative;
        color: white;
        z-index: 2;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        i {
          font-size: 60px;
          @extend .text-shadow-dark;
        }
        .icon-sottero-and-midgley {
          color:rgba(0,0,0,0.8);
          text-shadow: none !important;
        }
        img {
          margin: 0 auto 30px;
          display: block;
          max-height:350px;
					max-width: 80%;
        }
        button {
          margin-top: 30px;
          width: 200px;
          font-weight:600;
          &.white-outline {
            @extend .text-shadow-dark;
          }
        }
        p {
          padding: 20px 0 40px;
          letter-spacing: 6px;
          font-size: 22px;
        }
      }
      h3 {
        font-weight: 110px;
        letter-spacing: 18px;
        font-weight: 400;
        padding-bottom: 11px;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.8);
      }
      h2 {
        font-size: 120px;
        letter-spacing: 28px;
        font-weight: 600;
        text-shadow: 0px 0px 2px rgba(0,0,0,0.8);
      }
    }
  }
  .home-nav {
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    bottom: 0;
    background: white;
    z-index: 2;
    text-align: center;
    ul {
      li {
        display: inline-block;
        padding: 23px 30px;
        opacity: 0.2;
        &.active {
          opacity: 1;
        }
      }
    }
    img {
      height: 29px;
      position: relative;
      top: 7px;
    }
  }
}
