#signup-page {
	padding:60px 0;
/*
	background:url('../images/Accounts-S16-2.jpg') no-repeat top center;
	background-size: cover;
*/

	.signup-box {
		background:rgba(55,55,65,.95);
		color: white;
		padding:80px 60px;
		text-align: center;
		max-width: 550px;
		margin:0 auto;
		position: relative;
		h3 {
			padding-bottom: 30px;
			max-width: 300px;
			margin:0 auto;
			display: block;
			line-height: 1.4em;
		}
		p {
			padding-bottom: 30px;
		}
		button { min-width: 210px; }
		.icon-arrow-left {
			position: absolute;
			top:88px;
			left: 30px;
			font-size: 18px;
		}
		.input-button-grp {
			margin-top: 30px;
			button { min-width: 0px; }
			input { width: 70%; }
		}
		input[type=date] {
			padding:13px;
		}
		.pure-padding-right {
			padding-right: 10px;
		}
		hr {
			width: 40px;
			height: 3px;
			border:none;
			background:white;
			margin:30px auto;
		}
		p {
			line-height: 1.5em;
			padding-top: 30px;
			font-weight: 400;
			text-align: center;
			color: $gray;
			display: block;
		}
		.or {
			padding:20px 0;
		}
		a {
			color: white !important;
		}
		form {
			text-align: left;

			span {
				display: block;
				margin-bottom: 5px;
				font-size: 16px;
			}
			.row a {
				float: right;
			}

			&>.pure-g input, &>input {
				width: 100%;
				margin-bottom: 20px;
			}
			&>.btn {
				margin:0 auto;
				display: block;
			}

		}
	}
}
