#maggie-bride-page {
	background: white;
	
	.header {
		text-align: center;
		background:url('/images/Maggie-Brides.jpg') no-repeat center top;
		background-size: cover;
		color: $white;
		&.midgley-banner {
			background:url('/images/Midgley-Brides.jpg') no-repeat center top;
			background-size: cover;
		}
		.avatar {
			border-radius: 60px;
			border:3px solid $white;
			margin-top: -20px;
		}
		h4 {
			padding-top: 165px;
			font-family: 'AvenirNext';
			letter-spacing: 5px;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 30px;
		}
		h2 {
			padding:165px 0;
		}
		
	}
	.post {
		width: 100%;
		max-width: 650px;
		margin:0 auto;
		position: relative;
		.share-links {
			position: absolute;
			top:63px;
			left: -200px;
			span {
				display: inline-block;
				padding-right: 20px;
				position: relative;
				top:-2px;
			}
			i {
				font-size: 18px;
				padding-right: 20px;
			}
		}
		p {
			padding:60px 0;
			line-height: 1.5em;
		}
		.image-post {
			margin-bottom: 40px;
			position: relative;
			
			img {
				width: 100%;
			}
			.caption {
				position: absolute;
				border-top: 1px solid $gray;
				padding:7px 0;
				top:0px;
				right:-165px;
				width: 150px;
			}
		}
	}
	.dress-used {
		padding:35px;
		background:$lightGray;
		@include clearfix();
		margin-bottom: 40px;
		
		img {
			float: left;
			margin-right: 40px;
			max-width: 200px;
			width: 100%;
		}
		span {
			color: $gray;
			display: block;
			padding: 90px 0 3px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		h4 {
			margin:15px 0;
			font-size: 50px;
		}
	}
	.social-links {
		padding:35px;
		margin-bottom: 40px;
		button {
			margin-right: 20px;
		}
	}
}