#maggie-brides-page {
	padding:80px 0;

	#about-maggie-brides {
		text-align: center;
		max-width: 500px;
		margin:0 auto 30px;
		p {
			line-height: 1.5em;
			padding:20px 0;
		}
		h1 {
			font-size: 42px;
		}
	}

	.filter-bar {
		background:white;
		@extend .box-shadow;
		margin-bottom: 35px;

		[class^="pure-u"] {
			border-right:1px solid $lightGray;
			border-bottom: 1px solid $lightGray;
		}
		input {
			box-shadow: none;
			border:none;
			font-size: 16px;
			padding: 19px 20px 16px;
			width: 90%;
		}
		.search-input {
			width: 100%;
			i {
				top:20px;
			}
		}
		p {
			padding: 23px 15px 19px;
			font-size: 16px;
			width: 100%;
			display: block;
			i {
				display: inline-block;
				font-size: 13px;
				float: right;
			}
		}
		.dropdown {
			width: 100%;
			height: 58px;
			max-width: 100%;
			&>a {
				padding:23px 15px 0;
			}
			i {
				top: 27px;
			}
		}
	}

	.maggie-bride-card {
		width: 265px;
		padding:7px;
		background:white;
		text-align: center;
		cursor: pointer;
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		margin:0 0 30px;

		.thumbnail {
			max-width: 100%;
			width: 100%;
		}
		.avatar {
			border-radius: 30px;
			width: 45px;
			height: 45px;
			display: block;
			margin:-15px auto 0;
			border:3px solid white;
		}
		p {
			font-weight: 600;
			font-style: italic;
			padding:20px 0 5px;
		}
		span {
			color: $gray;
			padding-bottom: 20px;
			display: block;
		}
	}

	.posts-container {
		max-width: 1230px;
		width: 100%;
		margin:0 auto;
		position: relative;
		left: 20px;
	}
}
