.not-found {
	text-align: center;
	.banner {
		background:url('../images/404-Image.jpg') no-repeat center top;
		background-size: cover;
		padding:110px 0;
		color: black;
		p {
			font-weight: 600;
		}
		.pure-g {
			max-width: 600px;
			margin:70px auto 0;
		}
		button {
			margin:10px 0 0;
		}
	}
	.dress-list {
		padding:40px 15px;
	}
}
