.quiz-page {
	padding:0 0 90px;
	hr {
		border:none;
		width: 45px;
		height: 2px;
		background:black;
		display: block;
		margin:20px auto 30px;
	}
	.banner {
		padding:90px 0;
		.you-are {
			padding-bottom: 20px;
			letter-spacing: 5px;
		}
		&.start-screen {
			background:url('../images/Bohemian-Bride.jpg') no-repeat center top;
			background-size: cover;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    top: 0px;
		    left: 0px;
		    border: 15px solid white;
		    padding:28vh 0;
		}
	}
	.quiz-progress {
		text-align: center;
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		i, h4 { 
			display: inline-block;
		}
		i {
			width: 34px;
			height: 34px;
			border-radius: 20px;
			opacity: .2;
			font-size: 14px;
			border:1px solid rgba(0,0,0,0);
			padding-top: 9px;
			@include transition-all(.3s);
			&:hover {
				border:1px solid rgba(0,0,0,1);
				opacity: 1;
			}
			&.icon-arrow-left {
				padding-right: 3px;
			}
			&.icon-arrow-right {
				padding-left: 1px;
			}
		}
		h4 {
			padding:0px 15px;
			position: relative;
			top:4px;
		}
	}
	.questions {
		text-align: center;
		padding-top: 40px;
		h3 {
			padding:0 0 30px;
		}
		span {
			padding-top: 40px;
			display: block;
		}
		.card {
			background:white;
			@extend .box-shadow;
			cursor: pointer;
			margin:4px;
			position: relative;
			@include transition-all(.6s);
			&.not-picked {
				filter: grayscale(100%); /* Current draft standard */
			    -webkit-filter: grayscale(100%); /* New WebKit */
			    -moz-filter: grayscale(100%);
			    -ms-filter: grayscale(100%); 
			    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
			    filter: url(resources.svg#desaturate); /* Gecko */
			    filter: gray; /* IE */
			    -webkit-filter: grayscale(1); /* Old WebKit */
			}
			&.picked {
				.icon-check {
					opacity:1;
				}
			}
			&:hover {
				.icon-check {
					opacity: .5;
				}
			}
			.icon-check {
				position: absolute;
				top:20px;
				right:20px;
				width: 36px;
				height: 36px;
				background:white;
				color: $darkGray;
				padding-top: 10px;
				text-align: center;
				opacity:0;
				border-radius: 20px;
				font-size: 16px;
				@extend .box-shadow;
			}
			.answer-image {
				width: 100%;
				height:275px;
				background-size: cover !important;
				@include transition(all, .15s);
			}
			p {
				padding: 30px 15px;
			    font-weight: 600;
			    font-size: 15px;
			    min-height: 80px;
			    line-height: 1.3em;
			}
		}
	}
	.container {
		max-width: 1020px;
	}
	.description {
		max-width: 650px;
		margin:20px auto;
		line-height: 1.5em;
	}
	.complete {
		text-align: center;
		
		button.btn {
			margin:0 15px;
		}
		.slick-prev,
		.slick-next {
			margin-top: -40px;
		}
		.icon-logo, .icon-sottero-and-midgley, h2 {
			display: block;
			margin:0px auto 45px;
			font-size: 35px;
		}
		h2 {
			margin:75px auto 45px;
		}
		.sub {
			margin:75px 0 15px;
		}
		h2 {
			text-transform: uppercase;
			letter-spacing: 15px;
			font-weight: 500;
		}
	}
	.dress-card {
		padding:5px;
		position: relative;
		width: 25%;
		display: inline-block;
		.block {
			width: 100%;
		}
		img {
			width: 100%;
		}
		article {
			padding:15px 20px 20px;
			text-align: center;
			p {
				font-weight: 400;
			}
		}
		&:hover .actions {
			opacity: 1;
			bottom:70px;
		}
		.actions {
			display: inline-block;
			position: absolute;
			width: 100%;
			bottom:60px;
			left: 0px;
			color: white;
			text-align: center;
			padding-right: 10px;
			opacity: 0;
			@include transition-all(.3s);
			p {
				padding:0 15px;
				display: inline-block;
				cursor: pointer;
				@extend .text-shadow;
				i {
					display: inline-block;
					font-size: 16px;
				    position: relative;
				    top: 1px;
				}
			}
		}
	}
	.intermission {
		position: fixed;
		top:68px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-size: cover !important;
		padding-top: 40vh;
		text-align: center;
		z-index: 100;
		opacity: 0;
		pointer-events: none;
		@include transition(opacity,.5s);
		&.show {
			pointer-events: auto;
			opacity: 1;
		}
	}
}

.quiz-preloader {
	.image1 { background:url('../images/Vintage-Bride.jpg') -9999px -9999px; }
	.image2 { background:url('../images/Beach-Bride.jpg') -9999px -9999px; }
	.image3 { background:url('../images/Bohemian-Bride.jpg') -9999px -9999px; }
	.image4 { background:url('../images/Classic-Bride.jpg') -9999px -9999px; }
	.image5 { background:url('../images/Glamour-Bride.jpg') -9999px -9999px; }
	.image6 { background:url('../images/Statement-Bride.jpg') -9999px -9999px; }
}