#rebecca-ingram-page {
  margin-top: -80px;
  img {
    max-width: 100%;
  }
  .hero {
    height: 720px;
    background:url('../images/rebecca/headerimage.png') no-repeat top center;
    background-size: cover;
    text-align: center;
    padding:250px 0 0;
    position: relative;
    overflow: hidden;
    img {
      display: inline-block;
    }
    button {
      display:block;
      margin:30px auto;
      background:none;
      border: 1px solid white;
      color: white;
      padding:16px 28px 13px;
      text-transform: uppercase;
      font-size: 13px;
      text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    }
    .relative {
      z-index: 2;
    }
    i {
      position: absolute;
      top:30px;
      right:30px;
      z-index: 3;
      color:white;
    }
    video {
      position: absolute;
      min-width:100%;
      min-height: 100%;
      top:0px;
      left: 0px;
      opacity:0;
      pointer-events: none;
      transition:all .5s;
      &.view {
        opacity:1;
      }
    }
  }
  .sign-up {
    text-align: center;
    padding:55px 15px 70px;
    background:white;
    img {
      display:block;
      margin:0 0 24px;
    }
    .input-button-grp {
      height:47px;
      width: 340px;
      margin:0 auto;
      input {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.8);
      }
    }
    .container {
      max-width: 470px;
    }
    p {
      padding:60px 0;
      line-height: 1.4em;
      text-align: left;
      font-size: 15px;
      i {
        font-style: italic;
        font-weight:300;
        text-align: center !important;
        display: block;
        font-size: 24px;
      }
      strong {
        font-weight: 600;
      }
    }
  }

  .images {
    background:white;
    .full-page-image {
      background:url('../images/rebecca/image1.png') no-repeat center;
      background-size: cover;
      height: 650px;
      width: 100%;
    }
    .pure-g {
      padding: 72px;
    }
    .padding {
      padding: 25px;
    }
    img {
      width: 100%;
      margin:0 auto;
      display: block;

    }
  }

}
