#share-wedding-page {
	padding:80px 0;

	.header {
		max-width: 490px;
		margin:0 auto 30px;
		text-align: center;
		display: block;

		p {
			line-height: 1.5em;
			padding:20px 0;
		}
	}
	form {
		max-width: 420px;
		margin:0 auto;
		a {
			text-decoration: underline;
			cursor: pointer;
		}
		input, textarea, button {
			width: 100%;
		}
		textarea {
			height: 175px;
			 &.caption {
				 height: 114px;
			 }
		}
		.select-btn {
			text-align: left;
		}
		p {
			position: relative;
			top:15px;
			line-height: 1.3em;
		}
		.image-preview {
			position: relative;
			img {
				width: 100px;
			}
			i {
				position: absolute;
				top:7px;
				left:73px;
				text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
				color: white;
				font-size: 15px;
			}
		}
		.pure-g {
			margin-bottom:18px;
		}
		.subdominant {
			border:2px solid $gray;
			font-weight: 600;
		}
		.terms {
			padding:8px 0 0;
			text-align: center;
			display: block;
		}
		button[type=submit] {
			margin-top: 40px;
		}
	}
}

#imageModal {
	input[type=file] {
		padding:15px;
		margin-left:15px;
		border-radius: 30px;
		width: 225px;
		background:#eee;
	}
}
