.events-page, .stores-page {
	background:#f7f9fa;
	.no-results {
		text-align: center;
		padding:80px 0;
	}
	.expand {
		padding:15px !important;
		text-align:center;
		display:none;
	}
	.store-group {
		padding:40px 0;
		.dropdown {
			width:260px;
			margin-bottom:10px;
		}
		h3 {
			margin-bottom:15px;
			border-bottom:1px solid black;
		}
		span {
			line-height:1.2em;
		}
		.pure-g {
			padding:25px 0;
		}
		article {
			padding:15px;
			line-height:1.5em;
			p {
				font-size:20px;
			}
			b {
				font-weight:700;
			}
			span {
				display:block;
			}
			.event-type {
				color:#ae872e;
				font-size:16px;
			}
			a {
				p {
					font-weight:600;
					padding:7px 0;
				}
			}
		}
	}
	.location {
		text-align: center;
		padding:90px 0 40px;
		height:540px;
		color: white;
		background:url('../images/StoreLocator.jpg');
		background-size: cover;
		.prediction-list {
			.hide {
				opacity:0;
				pointer-events: none;
			}
		}
		.input-button-grp {
			margin:30px 0;
			input {
				width: 100%;
				max-width: 420px;
				@include placeholder-weight(600)
			}
		}
		h1 {
			font-size: 42px;
		}
		.group-dropdown {
			.dropdown {
				width:100% !important;
			}
		}
		.show-map {
			background:white;
			color:black;
			position:relative;
			opacity:1;
			pointer-events: inherit;
			height:auto;
			overflow:visible;
			&.hide-map {
				opacity:0;
				pointer-events: none;
				height:0px;
				overflow:hidden;
			}
			p {
				cursor:pointer;
				width:100%;
				padding:14px;
				text-align:center;
			}
			#map {
				width:100%;
				height:300px;
				position:absolute;
				top:100%;
				left:0px;
				z-index:2;
				opacity:0;
				pointer-events: none;
				&.show {
					opacity:1;
					pointer-events: inherit;
				}
			}
		}
		.all-search {
			padding-bottom:15px;
			p {
				font-size:13px;
				text-align: center;
				text-decoration: underline;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
		}
		.refine-search-box {
			padding:20px 0 15px;
		}
		.distance-selector {
			text-align:center;
			.dropdown {
				width:auto !important;
				height:40px;
				padding: 0 10px;
				.dropdown-menu {
					left: -50%;
				}
			}
			&>p {
				display: inline-block;
				font-size:16px;
				padding:0 5px;
			}

		}
		.dropdown-menu {
			height: auto;
			overflow: visible;
		}
		.row {
			max-width: 446px;
			margin:-60px auto 30px;
			text-align: center;

			.dropdown {
				width: 216px;
				display: inline-block;
				text-align:left;
				&:first-child {
					margin-right:10px;
				}
			}
		}
	}
	.filters {
		max-width: 520px;
		margin:0 auto;
		.pure-padding {
			padding:10px 5px;
		}
		.dropdown.box {
			p {
				text-align: left;
				font-size: 16px;
			}
		}
	}
	.no-results-message {
		text-align: center;
		padding:80px 0;
		opacity: .4;
		font-size:34px;
		a {
			color:#0798ff;
		}
	}

	.product-line {
		font-size: 20px !important;
		margin-bottom: 14px;
		display: inline-block;
		padding-right: 10px;
	}
	.events, .stores {
		li {
			padding:55px 0;
			border-bottom: 3px solid $outlineGray;
			position: relative;
			&:last-child {
				border-bottom: none;
			}
			button {
				margin:0 auto;
				display: block;
			}
			.container {
				max-width: 1050px;
			}
		}
		h4 {
			margin-bottom: 10px;
		}
		p {
			padding: 8px 0;
			line-height: 1.5em;
			display: block;
			&.bold {
				font-weight: 600 !important;
				text-transform: capitalize;
			}
		}
		b {
			font-weight: 600 !important;
		}
		i {
			font-size: 16px !important;
			display: inline-block;
			width: inherit;
		}
		a {
			white-space: nowrap;
		}
		img {
			width: 100%;
		}
		.details-section {
			position:relative;
			.heading {
				// position:absolute;
				// top:-47px;
				// left:0px;
				span {
					//display:inline-block;
					//margin-left:15px;
				}
			}
		}
		.container {
			max-width:1200px;
		}
		.distance {
			background:black;
			color:white;
			display: inline-block;
	    padding: 2px 18px;
			font-size: 14px;
			position:absolute;
			top:-47px;
			left:0px;
		}
		.event-type {
		    font-weight: 400;
		    cursor: pointer;
		    display: inline-block;
		    font-size: 14px;
				font-weight: 700;
		    margin:0px 0 20px;
				color:#ae872e;
		    text-transform: uppercase;
			.first-look {
				height: 20px;
				position: relative;
				top:3px;
				margin-bottom: -3px;
			}
		}
		.pure-padding {
			padding: 15px;

			min-height:190px;
		}
		.pure-padding-left {
			padding-left:35px;
		}
		.brands {
			text-align: center;
			border-right: 1px solid $gray;
			border-left: 1px solid $gray;
			min-height: 230px;
			p {
				padding-bottom: 25px;
				font-size: 14px;
			}
			i {
				font-size: 17px !important;
				padding:0px !important;
			}
		}
		.map-section {
			a {
				color: white;
				display: block;
				text-align:center;
				background: $darkGray;
				padding:12px 0;
				width: 85%;
				margin: -52px 7.5% 0;;
			}
			i {
				margin-right:7px;
			}
			span {
				font-size:16px;
			}
			.map {
				width:100%;
				height: 220px;
				background-size: cover !important;
			}
		}
	}
}
.events-page {
	.location {
		background:url('../images/StoreEvents.jpg');
	}
}
