#style-guide {
	padding:30px;
	
	#style-guide-nav {
		background:white;
		padding:30px;
		
		.active {
			font-weight: 600;
		}
		li {
			padding:10px;
			cursor: pointer;
			&:hover {
				background:$lightGray;
			}
		}
	}
	.example-block {
		padding:30px 0px;
		
	}
	.color-swabs {
		@include clearfix();
		li {
			float: left;
			margin:1%;
			text-align: center;
			width: 18%;
			
			.swab {
				width: 130px;
				height: 130px;
				display: inline-block;
				border-radius: 200px;
				margin-bottom: 10px;
				border:1px solid $gray;
			}
		}
	}
	.row {
	 	p, button { display: inline-block; margin-right: 15px; }
	}
	.pure-padding {
		padding:30px;
	}
}	
	