#trends-page {
	&.color-page {
		.banner {
			background:url('../images/trends/colors-banner.jpg') no-repeat center top;
			background-size: cover;
		}
	}

	&.lace-page {
		.banner {
			background:url('../images/trends/lace-banner.jpg') no-repeat center top;
			background-size: cover;
		}
	}

	&.plus-size-page {
		.banner {
			background:url('../images/trends/plus-size-banner.jpg') no-repeat center top;
			background-size: cover;
			h1 {
				color: $darkGray;
				text-shadow: none;
			}
		}
	}

	&.sleeve-page {
		.banner {
			background:url('../images/trends/sleeve-banner.jpg') no-repeat center top;
			background-size: cover;
		}
	}

	&.vintage-page {
		.banner {
			background:url('../images/trends/vintage-banner.jpg') no-repeat center top;
			background-size: cover;
		}
	}

	&.shoulder-page {
		.banner {
			background:url('../images/trends-images/OffTheShoulder/Header-Image.jpg') no-repeat center top;
			background-size: cover;
		}
		.about h2 {
			max-width:740px;
		}
	}

	&.landing-page {
		.banner {
			background:url('../images/trends/trends-banner.jpg') no-repeat center top;
			background-size: cover;
			h1 {
				color: black;
				text-shadow: none;
			}
		}
	}

	.banner {
		padding:225px 0;
		text-align: center;
		background:url('http://placehold.it/1200x500');
		background-size: cover;


		h1 {
			color: white;
			@extend .text-shadow;
			line-height: 1.4em;
			letter-spacing: 10px;
		}
	}

	.about {
		max-width: 900px;
		margin:0 auto;
		padding:90px 0;

		h2 {
			font-weight: 500;
			font-size: 50px;
			max-width: 700px;
			margin:0 auto 60px;
			line-height: 1.3em;
			text-align: center;
		}
		p {
			line-height: 1.5em;
			text-align: left;
			font-size: 24px;
		}
	}

	.items {
		background:$outlineGray;
		padding:20px;
		div {
			background-size: cover !important;
		}
		.pure-g {
			background: white;
		}
		.pure-p {
			padding:80px;
			min-height: 550px;
		}
		h3 {
			padding-bottom: 45px;
			font-weight: 500;
			text-align: center;
			font-size: 35px;
		}
		p {
			font-size: 20px;
			line-height: 1.6em;
			font-weight: 400;
		}
		button {
			margin: 30px auto 0;
			min-width: 200px;
			display: block;
		}
	}

	.lines {
		i {
			display: block;
			margin:0 auto 40px;
			width: 230px;
		}
		.pure-p {
			padding:70px 70px 90px;
			position: relative;
			height:340px;
		}
		p {
			line-height: 1.5em;
		}
		.button-container {
			position: absolute;
			bottom:30px;
			left: 0px;
			width: 100%;
			button {
				display: block;
				margin:20px auto 0;
			}
		}

		.border-right {
			border-right: 1px solid $outlineGray;
		}
	}

	.trends {
		background:$outlineGray;
		padding:20px;
		text-align: center;
		h2 {
			font-weight: 500;
			padding:30px 0 40px;
		}
		p {
			letter-spacing: 4px;
			padding:20px 0;
		}
		.pure-p	{
			padding:10px;
		}
		.preview {
			background-size: cover;
			height: 550px;
		}
		.card {
			background:white;
			padding:30px 10px;
		}
	}

}
