#account-nav {
	span {
		font-weight: 600;
		font-size: 11px;
		color: $gray;
		display: block;
		margin-bottom: 7px;
	}
	h3 {
		margin-bottom: 30px;
	}
	li {
		a {
			padding:15px 0;
			display: block;
			font-weight: 600;
			color: $gray;
			font-size: 18px;
		}
		
		&.active a {
			color: black;
		}
	}
	hr {
		border:1px solid $gray;
	}
}