.become-a-maggie-bride {
	background:white;
	padding:50px 0;
	text-align: center;
	
	article {
		max-width: 500px;
		margin:30px auto;
		
		hr {
			width: 25px;
			height: 3px;
			background:$darkGray;
			margin:15px auto;
		}
		.input-button-grp {
			max-width: 400px;
			margin:0 auto;
		}
		p {
			line-height: 1.5em;
			padding-bottom: 15px;
		}
		input {
			width: 100%;
			border:1px solid $outlineGray;
		}
	}
}