.collections-select {
	position: fixed;
	top: -100%;
	width: 100%;
	height: 100%;
	left: 0px;
	background:white;
	@include transition-all(.6s);
	z-index: 10;
	overflow: scroll;
	&.show-menu {
		top:68px;
		padding-bottom: 108px;
	}
	.block {
		padding:220px 0 170px;
		text-align: center;
		color: white;
		margin:10px;
		position: relative;
		overflow: hidden;
		i {
			font-size: 35px;
	    display: block;
	    z-index: 2;
	    position: relative;
	    margin: 0px auto 25px;
	    @extend .text-shadow;
		}
		.icon-sottero-and-midgley {
			color:rgba(0,0,0,0.8);
			text-shadow: none !important;
		}
		.white-outline {
			width: auto;
			position: relative;
			z-index: 1;
			@extend .text-shadow;
			@extend .box-shadow;
		}
		.black-outline {
			width: auto;
			position: relative;
			z-index: 1;
		}
		img {
			position: absolute;
			top:0px;
			left: 0px;
			height: auto;
			min-height: 100%;
			min-width: 100%;
			max-width: 100%;
			@include transition-all(.5s);
			@include transform-scale(1);
		}
		&:hover img {
			@include transition-all(1.5s);
			@include transform-scale(1.1);
		}
	}
}
