footer {
	background: white;
	border-top:1px solid #ddd;
	padding:45px 0;
	a {
		cursor: pointer;
	}
	.row {
		text-align: center;
	}
	i, li, button {
		display: inline-block;
	}
	button {
		margin:10px 15px 28px;
	}
	ul {
		margin:35px 0 30px;
	}
	li {
		margin:0 20px;
	}
	span {
		display: block;
		text-align: center;
		color: $gray;
		font-size: 13px;
	}
	.logos i, .logos img {
		margin:0 20px;
	}
	.logos img {
		display: inline-block;
		max-height: 60px;
		position: relative;
		top:20px;
	}
	&.menu-footer {
		padding:0;
	}
}

.alert-bar {
	position: fixed;
	bottom:-100px;
	left: 2.5%;
	width: 95%;
	background:$lightGray;
	padding:15px;
	text-align: center;
	@include transition(bottom, .3s);

	&.show {
		bottom:10px;
	}
	p {

	}
}
