#main-nav {
	background: white;
	border-bottom:1px solid #ddd;
	position: fixed;
	backface-visibility: hidden;
	top:0px;
	left: 0px;
	width: 100%;
	z-index: 11;
	height: 68px;
	padding:0 15px;
	svg {
		margin:10px 0 0;
	}
	#nav-list {
		float:right;
		&>li {
			display:inline-block;
		}
	}
	.link {
		padding: 24px 32px 0 0;
		display: block;
	}
	.icon-menu {
		font-size: 18px;
    position: relative;
    top: 2px;
	}
	.icon-search {
		padding: 25px 20px 0 0;
		font-size: 16px;
		display:block;
	}
	.global-search {
		position: absolute;
		top:100%;
		right:0px;
		width:300px;
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.34)
	}
	.prediction-list {
		position: absolute;
		top:118px;
		right:2px;
		width:300px;
		background:white;
		max-height:400px;
		overflow: scroll;
		li {
			padding: 15px 25px;
			cursor: pointer;
			p {
				font-size:14px;
				font-weight:600;
			}
			&:hover {
				background:#eee;
			}
			span {
				opacity: .5;
			}
			article {
				padding: 0 15px;
				p {
					font-weight:600;
					font-size:18px;
				}
			}
		}
	}
	.container {
		position: relative;
		height: 68px;
	}
	.logout {
		cursor: pointer;
	}
	.menu-items {
		position: absolute;
		top:0px;
		right:0px;
		opacity: 0;
		visibility: hidden;
		background:white;
		height:66px;
		padding:22px 0 0;
		@include transition-all(.3s);
		ul {
			display: inline-block;
		}
		li {
			display: inline-block;
			padding:0 20px;
		}
		.icon-close-big {
			display: inline-block;
			padding-left: 10px;
			position: relative;
			top: 3px;
		}
		i {
			font-size: 18px;
		}
	}
	.logo {
		font-size: 17px;
		position: relative;
		top:2px;
		&.active {
			opacity: 1;
		}
		&.inactive {
			opacity: .3;
		}
		&.icon-sottero-and-midgley {
			font-size: 16px;
		}
	}
	&.show-menu {
		.menu-items {
			visibility: visible;
			opacity: 1;
		}

	}
}
