#info-nav {
	width: 100%;
	background: white;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
	position: fixed;
	top:68px;
	left: 0px;
	
	ul {
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			font-size: 12px;
			font-weight: 600;
			color: $gray;
			
			&.active {
				color: $darkGray;
			}
			a {
				display: block;
				padding:15px 30px;
			}
		}
	}
}