.notification {
	position: fixed;
	width: 100%;
	padding:30px;
	background:#b792a3;
	color: white;
	text-align: center;
	bottom: -100px;
	left: 0px;
	@include transition-all(.6s);
	opacity: 0;
	z-index: 10;
	p {
		font-size: 18px;
	}
	&.active {
		bottom: 20px;
		opacity: 1;
	}
}