<div class="not-found">
	<div class="banner">
		<h2>404</h2>
		<p>Oh no! We can't find what you're looking for.</p>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-2">
				<a href="/find-a-store">
					<button class="btn subdominant black-outline">FIND A STORE NEAR YOU</button>
				</a>
			</div>
			<div class="pure-u-1 pure-u-sm-1-2">
				<a href="/">
					<button class="btn subdominant black-outline">SEE OUR NEWEST COLLECTIONS</button>
				</a>
			</div>
		</div>
	</div>

	<div class="container dress-list">
		<div ng-include="'/partials/loading-cube.html'" ng-show="!maggieDresses"></div>
		<ul class="pure-g">
			<li class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4" ng-repeat="dress in maggieDresses | limitTo:2 | orderBy:'Sequence'">
				<a href="/maggie-sottero/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
					<div class="block">
						<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Image.AltText}}" />
						<i class="icon-heart-filled heart" ng-class="{'show':dress.favorited == true}"></i>
						<article>
							<p>{{dress.Name | titlecase}}</p>
							<span>MAGGIE SOTTERO</span>
						</article>
					</div>
				</a>
			</li>
			<li class="pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4"  ng-repeat="dress in midgleyDresses | limitTo:2 | orderBy:'Sequence'">
				<a href="/sottero-and-midgley/{{dress.Name | lowercase | nospace}}/{{dress.ProductId}}">
					<div class="block">
						<img style="width: 100%;" ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Image.PictureId}}/{{dress.Image.FileName}}" alt="{{dress.Image.AltText}}" />
						<i class="icon-heart-filled heart" ng-class="{'show':dress.favorited == true}"></i>
						<article>
							<p>{{dress.Name | titlecase}}</p>
							<span>SOTTERO AND MIDGLEY</span>
						</article>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
