<nav id="account-nav">
<!--
	<span>HELLO,</span>
	<h3>Stephanie</h3>
-->
	<hr>
	<ul>
		<li ng-class="{active:isAccountPage}">
			<a href="/account" ng-click="">
				Account
			</a>
		</li>
		<li ng-class="{active:isYourFitPage}">
			<a href="/find-your-style">
				Find My Style
			</a>
		</li>
		<li ng-class="{active:isFavoritesPage}">
			<a href="/favorites">
				Favorites
			</a>	
		</li>
	</ul>
	<hr>
</nav>