<section class="become-a-maggie-bride">
	<article>
		<h3>Be in the know!</h3>
		<hr>
		<p>Sign up for our newsletters to hear about the latest dresses and wedding tips from the best in the industry.</p>
		<div class="input-button-grp ">
			<form ng-submit="signupForNewsletter()">
				<input type="text" placeholder="Your Email" ng-model="$root.newSignUpEmail"/>
				<button class="btn" type="submit">Sign Up</button>
				<i class="icon-plus" ng-click="signupForNewsletter()"></i>
			</form>
		</div>
	</article>
</section>
