<div class="collections-select">
	<div class="container">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-lg-1-2">
				<div class="block">
					<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.maggieMenu.PictureId}}/{{banners.maggieMenu.FileName}}" alt="{{banners.maggieMenu.AltText}}"/>
					<i class="icon-logo"></i>
					<a href="/maggie-sottero"><button class="btn white-outline subdominant">View Collection</button></a>
				</div>
			</div>
			<div class="pure-u-1 pure-u-lg-1-2">
				<div class="block">
					<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{banners.midgleyMenu.PictureId}}/{{banners.midgleyMenu.FileName}}" alt="{{banners.midgleyMenu.AltText}}"/>
					<i class="icon-sottero-and-midgley"></i>
					<a href="/sottero-and-midgley"><button class="btn black-outline subdominant">View Collection</button></a>
				</div>
			</div>
		</div>

		<footer class="menu-footer">
			<div class="container">
				<div class="row">
					<ul>
						<li class="phone-s"><a href="/quiz">Find Your Style</a></li>
						<li class="phone-s"><a href="/find-a-store">Stores</a></li>
						<li class="phone-s"><a href="/events">Events</a></li>
						<li class="phone-s"><a href="/brides">Brides</a></li>
						<li class="phone-s"><a href="/trends">Trends</a></li>
						<li class="phone-s"><a href="/blog" target="_self">Blog</a></li>
						<li class="phone-s"><a href="/about">About</a></li>
						<li class="phone-s">
							<a href="/favorites">
								Favorites
							</a>
						</li>
						<li ng-show="!$root.loggedIn">
							<a href="/log-in">
								Login
							</a>
						</li>
						<li ng-show="$root.loggedIn">
							<a href="/account">
								Account
							</a>
						</li>
						<li ng-show="$root.loggedIn">
							<a ng-click="logout()">
								Logout
							</a>
						</li>
						<li>
							<a href="/faq">FAQ</a>
						</li>
						<li>
							<a href="/faq/privacyPolicy">Privacy Policy</a>
						</li>
						<li>
							<a href="/faq/bridesBeware">Brides Beware</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<li>
							<a href="https://retailers.maggiesottero.com">Retailer Login</a>
						</li>
					</ul>
				</div>
				<div class="row">
					<a href="https://www.pinterest.com/maggiesottero/" target="_blank"><button class="btn social subdominant circle"><i class="icon-Pinterest"></i></button></a>
					<a href="https://www.instagram.com/maggiesotterodesigns/" target="_blank"><button class="btn social subdominant circle"><i class="icon-Instagram"></i></button></a>
					<a href="https://www.facebook.com/Maggie.Sottero" target="_blank"><button class="btn social subdominant circle"><i class="icon-facebook"></i></button></a>
					<a href="https://twitter.com/maggiesottero" target="_blank"><button class="btn social subdominant circle"><i class="icon-Twitter"></i></button></a>
					<a href="https://www.youtube.com/user/MaggieSotteroDesigns" target="_blank"><button class="btn social subdominant circle"><i class="icon-YouTube"></i></button></a>
				</div>
				<span>Copyright 2000-{{year}} Maggie Sottero Designs, LLC All Rights Reserved. Images may not be reproduced without permission.</span>
			</div>
		</footer>
	</div>
</div>
