<footer ng-class="{'hide':$root.hideFooter}">
	<div class="container">
		<div class="row logos phone-h" ng-hide="menuFooter">
			<a href="/maggie-sottero"><i class="icon-logo"></i></a>
			<a href="/sottero-and-midgley"><i class="icon-sottero-and-midgley"></i></a>
			<a href="/rebecca-ingram" ng-show="$root.hideheader"><img src="../images/rebecca/rebecca-logo-copy.png" /></a>
		</div>
		<div class="row">
			<ul class="phone-h">
				<li class="phone-s"><a href="/brides">Brides</a></li>
				<li class="phone-s"><a href="/blog" target="_self">Blog</a></li>
				<li class="phone-s"><a href="/about">About</a></li>
				<li class="phone-s"><a href="/events">Events</a></li>
				<li class="phone-s"><a href="/find-a-store">Stores</a></li>
				<li class="phone-s"><a href="/quiz">Find Your Style</a></li>

				<li>
					<a href="https://retailers.maggiesottero.com">Retailer Login</a>
				</li>
				<li>
					<a href="/contact">Contact</a>
				</li>
				<li>
					<a href="/faq/bridesBeware">Brides Beware</a>
				</li>
				<li>
					<a href="/faq/privacyPolicy">Privacy Policy</a>
				</li>
				<li>
					<a href="/faq">FAQ</a>
				</li>
				<li ng-show="!$root.loggedIn">
					<a href="/log-in">
						Login
					</a>
				</li>
				<li ng-show="$root.loggedIn">
					<a href="/account">
						Account
					</a>
				</li>
				<li ng-show="$root.loggedIn">
					<a ng-click="logout()">
						Logout
					</a>
				</li>

			</ul>
		</div>
		<div class="row">
			<a href="https://www.pinterest.com/maggiesottero/" target="_blank"><button class="btn social subdominant circle"><i class="icon-Pinterest"></i></button></a>
			<a href="https://www.instagram.com/maggiesotterodesigns/" target="_blank"><button class="btn social subdominant circle"><i class="icon-Instagram"></i></button></a>
			<a href="https://www.facebook.com/Maggie.Sottero" target="_blank"><button class="btn social subdominant circle"><i class="icon-facebook"></i></button></a>
			<a href="https://twitter.com/maggiesottero" target="_blank"><button class="btn social subdominant circle"><i class="icon-Twitter"></i></button></a>
			<a href="https://www.youtube.com/user/MaggieSotteroDesigns" target="_blank"><button class="btn social subdominant circle"><i class="icon-YouTube"></i></button></a>
		</div>
		<span>Copyright 2000-{{year}} Maggie Sottero Designs, LLC All Rights Reserved. Images may not be reproduced without permission.</span>
	</div>
</footer>
