<div class="modal fade" id="dressModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icon-close-big" data-dismiss="modal"></i>
        <h3>Choose your dress</h3>
      </div>
      <div class="modal-body">
		<div class="pure-g">
			<div class="pure-u-1-2">
				<selectbox list="search.lines" ng-model="searchLine" title="Lines"></selectbox>
			</div>
			<div class="pure-u-1-2">
				<div class="search-input">    
			        <input type="text" ng-model="searchText.Name" placeholder="Search"/>
			        <i class="icon-search"></i>
			    </div>
			</div>
		</div>    
		<div ng-include="'/partials/loading-cube.html'" ng-show="dressesLoading"></div>
        <ul class="dress-list">
	        <li ng-repeat="dress in dresses | filter:searchText | limitTo:20" ng-class="{active: selectedDress == dress.ProductId}" ng-click="selectDress(dress.ProductId, dress.Name, dress.ProductLine, dress.Images[2].FileName)">
	        	<img ng-src="//ms-cdn.maggiesottero.com/product/Content/Images/{{dress.Images[2].PictureId}}/{{dress.Images[2].FileName | imagePathToMediumResImage}}"/>
	        	<span>{{dress.Name}}</span>
	        </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" ng-click="chooseDress()">Choose Dress</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->