<div class="modal fade" id="completeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="icon-close-big" data-dismiss="modal"></i>
        <h3>Thanks for submitting!</h3>
      </div>
      <div class="modal-body">
        <p>Your wedding will be reviewed by our team before posting.</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">Finish</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->