<div class="modal fade" id="imageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <i class="icon-close-big" data-dismiss="modal"></i>
        <h3>Upload Photos</h3>
      </div>
      <div class="modal-body">
        
	        <div class="pure-g">
	        	<div class="pure-u-1-2">
		        	<button class="btn subdominant" ng-click="clickChooseFile()">Choose Files from Device</button>
	        	</div>
	        	<div class="pure-u-1-2">
		        	<span>{{file.name}}</span>
	        	</div>
	        </div>
			<div class="pure-g">
	        	<div class="pure-u-1-2">
		        	<button class="btn blue" ng-click="getFbAlbums()">Choose from facebook</button>
	        	</div>
	        	<div class="pure-u-1-2">
		        	<span>photo-112.jpg</span>
	        	</div>
	        </div>
	        <div class="facebook-images">
			    <div ng-hide="showAlbum">   
				    <div class="album-nav">    
				        <h4>Albums</h4>
				    </div>
			        <ul class="pure-g">
				        <li class="pure-u-1-3 album" ng-repeat="album in albums" ng-click="getAlbumPhotos(album.id, album.name)">
				        	<div class="thumbnail" style="background:url('{{album.url}}');"></div>
				        	<p>{{album.name | limitTo: 18}}</p>
				        </li>
			        </ul>
			    </div>
			    <div class="row album-nav" ng-show="showAlbum">
			    	<i class="icon-arrow-left" ng-click="showAlbum = false"></i>
			    	<h4>{{selectedAlbumName | limitTo: 18}}</h4>
			    </div>    
		        <ul class="pure-g" ng-show="showAlbum">
			        <li class="pure-u-1-3 photo" ng-repeat="photo in selectedAlbum" ng-click="">
			        	<div class="thumbnail" style="background:url('{{photo.url}}');"></div>
			        	<p>{{photo.name | limitTo: 18}}</p>
			        </li>
		        </ul>
	        </div>
<!--
	        <div class="pure-g">
	        	<div class="pure-u-1-2">
		        	<button class="btn subdominant">Choose from Instagram</button>
	        	</div>
	        	<div class="pure-u-1-2">
		        	<span>liz-2040.jpg</span>
	        	</div>
	        </div>
-->
	      </div>
	      <div class="modal-footer">
	        <form ng-submit="upload()">		
				<input class="hide" id="chooseFile" name="file" type="file" file/>		
	        	<button class="btn" type="submit">Upload</button>
	        </form>
	      </div>
	    
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->