<div class="modal fade" id="shareModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <i class="icon-close-big" data-dismiss="modal"></i>
        <h3>Share</h3>
      </div>
      <div class="modal-body">
	        <button class="btn social" ng-click="facebookShare()"><i class="icon-facebook"></i> Share</button>
	        <a target="_blank" href="http://pinterest.com/pin/create/bookmarklet/?media={{socialDress.imagePath}}&url={{socialDress.url | lowercase}}&is_video=false&description={{socialDress.DressLine}} - {{socialDress.Name}}, {{socialDress.Description}}">
				  <button class="btn social"><i class="icon-Pinterest"></i> Pin</button>
			</a>

			<a target="_blank" href="http://twitter.com/intent/tweet?status={{socialDress.Name | titlecase}} from {{socialDress.DressLine}} {{socialDress.url | lowercase}} via @MaggieSottero">
				<button class="btn social"><i class="icon-Twitter"></i> Share</button>
			</a>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
