<div class="quiz-preloader">
	<div class="image1"></div>
	<div class="image2"></div>
	<div class="image3"></div>
	<div class="image4"></div>
	<div class="image5"></div>
	<div class="image6"></div>
</div>