<div ng-controller="slideshowController">	
	<div id="slideshow">
	  <img src="images/Accounts-S16-1.jpg" class="bgM"/>
	  <img src="images/Accounts-S16-2.jpg" class="bgM"/>
	  <img src="images/Accounts-S16-3.jpg" class="bgM"/>
	  <img src="images/Accounts-S16-4.jpg" class="bgM"/>
	</div>
</div>