/***********************\
    Animations
\***********************/

.white-loader .spinner > div {
	background-color: white !important;
}
.spinner {
  margin: 100px auto 100px;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.transition
	transition all .5s

//Carousel
.carousel-control {
	background:none !important;

	i {
		position: absolute;
		top:45%;
		color: $darkGray;
		background:white;
		padding:20px 22px;
		text-shadow: none !important;
	}
	&.left i {
		left: 20px;
	}
	&.right i {
		right:20px;
	}
}
.slick-prev {
	&:before {
		color: black !important;
		content: "\e614";
		font-family: 'iconfont';
		font-size: 23px;
		position: relative;
		left: 19px;
	}
}
.slick-next {
	&:before {
		color: black !important;
		content: "\e615";
		font-family: 'iconfont';
		font-size: 20px;
		position: relative;
		left: 14px;
	}
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    cursor: pointer;
    background:rgba(255,255,255,.7);
    width: 60px;
    height: 60px;
    color: transparent !important;
    top: 50%;
    margin-top: -30px;
    padding: 0;
    border: none;
    outline: none;
    &.slick-disabled:before {
        opacity: .5;
    }
}
.slick-prev {
    left: 12px;

}
.slick-next {
    right: 12px;
}
.slick-disabled {
	opacity: .3;
}
.slick-dots {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 20px;
	li  {
		margin:0 15px;
		opacity: .5;
		display: inline-block;
		button {
			@extend .box-shadow;
			color:transparent;
			border:none;
			width: 10px;
			height: 10px;
			background:white;
			border-radius: 5px;
			padding: 0px;
		}
		&.slick-active {
			opacity: 1;
		}
	}
}

.popover {
	border-radius: 0px;
	border:none;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	font-family: 'AvenirNext';
	font-weight: 400;
	font-size: 14px;
	padding:15px;
	line-height: 1.6em;
}


//rotating background images
.rotating-images-page {
	.container {
		position: relative;
		z-index: 3;
	}
}

#slideshow, img.bgM {
  min-height: 100%;
  width: auto;
  min-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}
