/***********************\
    Buttons
\***********************/
button {
	cursor: pointer;
	@include transition(all, .15s);
	&:active {
		@include transform-scale(.99);
	}
}
.btn {
	height: 49px;
	border-radius: 24px;
	padding:0 28px;
	border:none;
	font-size: 16px;
	background: rgba(0,0,0,0.8);
	color: $white;
	position: relative;
	text-align: center;
	cursor: pointer;
	line-height: 3.2em;
	color: white;
	white-space: nowrap;
	i {
		color: white;
		font-size: 22px;
		line-height: 1em;
	}
	&:hover {
		opacity: .9;
	}
	&:active {
		opacity: .8;
	}
	&:focus {
		color: $white;
	}
	&.fixed-width {
		width: 160px;
	}
	&.subdominant {
		background:none;
		border:2px solid rgba(0,0,0,0.6);
		color: rgba(0,0,0,0.6);
		line-height: 3.0em;
		i {
			color: $darkGray;
		}
	}
	&.subordinate {
		border:none;
		background:none;
		color: $darkGray;
		i {
			color: $darkGray;
		}
	}
	&.small {
		padding:0 20px;
		height: 37px;
		line-height: 2.4em;
	}
	&.iconic {
		line-height: 3.4em;
		i {
			display: inline-block;
			position: relative;
			top: 3px;
			margin-right: 7px;
		}
		&.subdominant {
			line-height: 3.2em;
		}
	}
	&.social {
		padding-left: 40px;
		line-height: 3.4em;
		width: 162px;
		i {
			position: absolute;
			top: 13px;
			left: 13px;
			&.icon-Instagram, &.icon-Twitter {
				left: 15px;
			}
			&.icon-facebook {
				top:10px;
			}

		}
		&.circle {
			border:1px solid $gray;
			width: 39px;
			height: 39px;
			padding: 0px;

			i {
				position: relative;
				top:-3px;
				left: 0px;
				&.icon-Twitter {
					top:-2px;
				}
			}
		}
	}
	&.black {
		border-radius:0px;
	}
	&.blue {
		background:#3A5898;
	}
	&.white {
		background:white;
		color: $darkGray;
	}
	&.white-outline {
		background:none;
		border:2px solid white;
		color: white;
		i {
			color: white;
		}
	}
	&.square {
		border-radius: 0px;
		margin:0;
	}
	&.purple {
		background:$purple;
	}
}

.select-btn {
	background: white;
	text-align: left;
}
