/***********************\
    Colors
\***********************/
$darkGray:#373741;
$slateGray:#41414B;
$gray:#B9B9BD;
$lightGray:#E5E5E7;
$beige:#F8F8FA;
$white:#FFFFFF;
$red:#E28686;
$purple:#b792a3;
$outlineGray:#f0f0f0;
$orange:#FA9510;

.blueWhiteGradient {
	background: #fff8fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff8fd 0%, #e0f9f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8fd), color-stop(100%,#e0f9f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff8fd 0%,#e0f9f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff8fd 0%,#e0f9f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff8fd 0%,#e0f9f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff8fd 0%,#e0f9f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8fd', endColorstr='#e0f9f5',GradientType=0 ); /* IE6-9 */
}
.redGradient {
	background: #b897ac; /* Old browsers */
	background: -moz-linear-gradient(top,  #b897ac 0%, #5a394e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b897ac), color-stop(100%,#5a394e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b897ac 0%,#5a394e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b897ac 0%,#5a394e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b897ac 0%,#5a394e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b897ac 0%,#5a394e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b897ac', endColorstr='#5a394e',GradientType=0 ); /* IE6-9 */
}
.grayGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bddedb+0,313540+100 */
	background: #bddedb; /* Old browsers */
	background: -moz-linear-gradient(top,  #bddedb 0%, #313540 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bddedb), color-stop(100%,#313540)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bddedb 0%,#313540 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bddedb 0%,#313540 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bddedb 0%,#313540 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bddedb 0%,#313540 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bddedb', endColorstr='#313540',GradientType=0 ); /* IE6-9 */
}
.skinGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff5f1+0,a38076+100 */
	background: #fff5f1; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff5f1 0%, #a38076 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff5f1), color-stop(100%,#a38076)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff5f1 0%,#a38076 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff5f1 0%,#a38076 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff5f1 0%,#a38076 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff5f1 0%,#a38076 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5f1', endColorstr='#a38076',GradientType=0 ); /* IE6-9 */
}
.whiteGradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0+0,0.74+10,0.95+20 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.74) 10%, rgba(255,255,255,0.95) 20%, rgba(255,255,255,0.95) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,0.74)), color-stop(20%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0.95))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 10%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,0.95) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 10%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,0.95) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 10%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,0.95) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.74) 10%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,0.95) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f2ffffff',GradientType=1 ); /* IE6-9 */



}
.darkGray {
	background:$darkGray;
}
.gray {
	background:$gray;
}
.lightGray {
	background: $lightGray;
}
.beige {
	background:$beige;
}
.white {
	background:$white;
	border:1px solid $beige;
}

.text-shadow {
	text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
}

.text-shadow-dark {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}
