/***********************\
    Forms
\***********************/
input[type=text], input[type=password], textarea, .select-btn, input[type=date] {
	padding:15px;
	font-size: 14px;
	border:none;
	border-radius: 0px;
	resize: none;
	margin:2px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	@include transition(all, .2s);

	&:focus, &:hover {
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
	}
	&.error {
		-webkit-box-shadow: 0px 0px 4px 0px rgba(255,192,192,1);
		-moz-box-shadow: 0px 0px 4px 0px rgba(255,192,192,1);
		box-shadow: 0px 0px 4px 0px rgba(255,192,192,1);
		border:2px solid rgba(255,192,192,1);
		&+span {
			color: $red;
			display: block;
			margin-top: 5px;
		}
	}
	&.disabled {
		border:2px solid $gray;
		color: $gray;
		box-shadow: none;
		cursor: not-allowed;
		background: none;
	}
	&.no-box {
		box-shadow: none;
	}
}
.search-input {
	position: relative;
	display: inline-block;
	input {
		padding-right: 40px;
	}
	i {
		position: absolute;
		top:16px;
		right:14px;
		font-size: 17px;
	}
	&.reverse {
		i {
			right: auto;
			left:14px;
		}
		input {
			padding-right: 0px;
			padding-left: 40px;
		}
	}
	&.no-box {
		input {
			box-shadow: none;
		}
	}
}
.input-button-grp {
	position: relative;
	input {
		position: absolute;
		top: 0px;
		left: 0px;
		margin:0;
	}
	&.show-button {
		button {
			display:block !important;
		}
	}
	i {
		position: absolute;
		top: 11px;
		right: 10px;
		display:none;
	}
	input,button {
		height: 47px;
	}
	button {
		position: absolute;
		top:0px;
		right: 0px;
		border-radius: 0px;
		&:hover {
			opacity: 1 !important;
		}
	}
	.alt-button {
		position: absolute;
		top:18px;
		right: 120px;
		color: $gray;
		text-decoration: underline;
		z-index: 1;
		cursor: pointer;
	}

}
.dropdown {
	cursor: pointer;
	display: inline-block;
	i {
		font-size: 13px !important;
	}
	.icon-arrow-down {
		font-size: 8px !important;
		padding:3px 3px 3px 8px;
	}
	&.box {
		height: 48px;
		@extend .box-shadow;
		width: 100%;
		padding:3px 20px;
		p, i {
			padding-top: 13px;
		}
		.icon-arrow-down {
			float: right;
			padding: 5px 3px 3px 8px;
		}
		&.white {
			background:white;
			color: black;
			i {
				color: black;
			}
		}
	}
	.dropdown-menu {
		width: 100%;
		border-radius: 0px;
		padding: 0px;
		border:none;
		top:120%;
		max-height: 225px;
	    overflow: scroll;
	    &::scrollbar {
		    display: none;
		}
	    &::-webkit-scrollbar {
			display: none;
		}
	    padding-top: 8px;
	    margin-top: -8px;
	    background:transparent;
	    //@extend .box-shadow;
		&:before {
			content:"\e603";
			font-family: 'iconfont';
			position: absolute;
			top:1px;
			left: 50px;
			text-shadow: 0px 0px 2px rgba(150, 150, 150, .4);
			color: white;
			z-index: 1;
			font-size: 8px;
		}
		li {
			width: 100%;
			text-align: left;
			position: relative;
			z-index: 2;
			a {
				height: 48px;
				background: white;
				line-height: 1em;
				font-size: 16px;
				padding:17px 20px;
				&:hover {
					background:$darkGray;
					color: white;
				}
			}
			&.active a {
				color: black;
				&:hover {
					color: white !important;
				}
			}
		}
		&.advanced-filters {
			&:before {
				color: $darkGray;
				//left: 220px;
			}
			overflow: scroll;
			max-height: 500px;
			width: 300px;
			a {
				display: block;
			}
		}
	}
}
//Accordion
.panel-group {
	.panel {
		background:white;
		font-size: 14px;
		color: black;
		border-bottom: 2px solid $outlineGray;
	}
	.panel-heading {
		background:white;
		a {
			padding:10px 15px;
			display: block;
		}
		.icon-arrow-down {
			position: relative;
			float: right;
		    top: 12px;
		    display: inline-block;
		    padding: 0px;
		    font-size: 12px !important;
		    @include transition(transform, .3s);
		    &.active {
			    @include rotate(180deg);
		    }
		}
	}
	.panel-body {
		background:white;
		border-top: 1px solid $outlineGray;
		li {
			padding:15px 25px;
			cursor: pointer;
			border-bottom: 1px solid $outlineGray;
			@include transition-all(.2s);
			&:hover {
				background:#eee;
			}
			.icon-check {
				float: right;
			    height: 20px;
			    width: 20px;
			    border: 1px solid black;
			    border-radius: 15px;
			    text-align: center;
			    padding-top: 4px;
			    position: relative;
			    top: -3px;
			    font-size: 11px !important;
			    &:before {
				    color: transparent;
			    }
			}
			&.active {
				.icon-check:before {
					color: black;
				}
			}

		}
	}
	.panel-collapse {
		&.collapse {
			max-height: 0px;
		}
		&.in {
			max-height: 1000px;
		}
	}
}
//Prediction
.prediction-box {
	position: relative;
	width: 100%;
	max-width: 500px;
	height: 126px;
	margin:0 auto;

	.prediction-list {
		position: absolute;
	    bottom: -200px;
	    left: 0px;
	    height: 278px;
	    overflow: scroll;
	    &::scrollbar {
		    display: none;
		}
	    &::-webkit-scrollbar {
		    display: none;
		}
	    z-index: 10;
	    width: 100%;

		li {
			padding:15px;
			background:white;
			border-bottom: 1px solid $outlineGray;
			color: black;
			text-align: left;
			cursor: pointer;
			&:hover {
				background:$darkGray;
				color: white;
			}
		}
	}
}
