body {
	background-image:url('images/bg-gradient.jpg') no-repeat;
	background-color:#f6f6f6;
	//padding:68px 0px 0;
	&.no-scroll {
		overflow: hidden;
	}
}

.page {
	min-height: 500px;
}

.row {
	@include clearfix();
	width: 100%;
	display: block;
	.left {
		float: left;
		text-align: left;
	}
	.right {
		float: right;
		text-align: right;
	}
}

.box-shadow {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
	@include transition(all, .2s);
}

.main-border {
	padding:0 16px;
	border-left: 15px solid white;
	border-right: 15px solid white;
	min-height: 100vh;
	padding-top: 68px;
}

.relative {
	position: relative;
}

.container {
	max-width: 1185px;
	margin:0 auto;

	&.wide {
		max-width: 1440px !important;
	}
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
