/***********************\
    Modals
\***********************/
.modal {
	overflow: visible;
	top:80px;
	
	.modal-content {
		box-shadow: none;
		border-radius: 0px;
	}
	.modal-header {
		background:$beige;
		text-align: center;
		position: relative;
		padding:40px 0 30px;
	}
	.modal-dialog {
		margin:40px auto;
	}
	.modal-footer {
		button {
			margin:0 auto;
			display: block;
			width: 225px;
		}
	}
	.icon-close-big {
		position: absolute;
		top:-40px;
		right:0px;
		font-size: 24px;
		color: white;
		z-index: 9999;
		cursor: pointer;
	}
}

#dressModal {
	.search-input, .dropdown {
		max-width: 280px;
		margin:25px auto;
		display: block;
	}
	.dropdown {
		margin:27px auto;
	}
	input[type=text] {
		width: 100%;
		-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
		box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
	}
	.dress-list {
		margin-top: 10px;
		height: 360px;
		overflow: scroll;
		.card {
			padding:5px;
		}
		li {
			cursor: pointer;
			
			&.active {
				-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
				-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
				box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.34);
			}
		}
	}
	img {
		width: 100%;
	}
	span {
		text-align: center;
		display: block;
		font-weight: 600;
	}
}

#shareModal, #quizShareModal {
	.modal-dialog {
		max-width: 400px;
	}
	button {
		display: block;
		width:160px;
		margin:10px auto;
	}
}

#imageModal {
	.pure-g {
		padding:15px 0;
	}
	.subdominant {
		border:2px solid $gray;
	}
	.facebook-images {
		text-align: center;
		background:$outlineGray;
		padding:15px;
		.pure-g {
			padding:0px;
		}
		.thumbnail {
			width: 100%;
			height: 150px;
			background-size: cover !important;
		}
		.album, .photo {
			padding:10px;
			cursor: pointer;
		}
		.photo {
			&.active {
				@extend .box-shadow;
				background:white;
			}
		}
		p {
		    font-size: 14px;
		    padding: 14px 0;
		    font-weight: 600;
		}
		.album-nav {
		    padding:10px 0 20px;
			margin-bottom: -10px;
			h4 {
				text-align: left;
				font-size: 22px;
				display: inline-block;
			}
			i {
				font-size: 14px;
				padding-right: 10px;
				position: relative;
				top:-2px;
				display: inline-block;
			}
		}
	}
	span {
		display: block;
		color: gray;
		padding:3px 0;
	}
}

#demoModal, #completeModal {
	.modal-body {
		padding:50px;
	}
}

#termsModal {
	.modal-body {
		padding:50px 50px 20px;
		height: 400px;
		overflow: scroll;
	}
	p {
		padding:0 0 30px;
		line-height: 1.4em;
	}
}

#imageSliderModal {
	top:20px;
	&.medium .modal-dialog {
		max-width: 90%;
		max-height: 760px;
	}
	.modal-dialog {
		width: 95%;
	}
	.modal-body {
		max-height: 760px;
		min-height: 760px;
		overflow: scroll;
	}
	.slick-slide {
		text-align: center;
		img.medium {
			width: 50%;
			display: inline-block;
		}
		img.large {
			width: 100%;
		}
	}
}