/***********************\
    Responsive
\***********************/
.phone-s { display: none; }
.tablet-s { display: none; }

@media(max-width:1100px){
	//about page
	#about-page .blocks .pure-g img { max-width: 90%; }
	#trends-page .lines .pure-p { height: 370px; }
	#about-page .dress-line#maggie-sottero article { left:0px; }
}

@media(max-width:800px){
	.tablet-h { display: none !important; }
	.tablet-s { display: block; }

	//Homepage
	#home-page .slick-prev, #home-page .slick-next { display: none !important; }
	.slick-dots { bottom:40px; }
	#main-nav .menu-items li { padding:0 7px; }
	.collections-select .block { padding:70px 0; }

	//Rebecca Ingram page
	#rebecca-ingram-page .hero { padding:80px 0; height:350px;}
	#rebecca-ingram-page .hero img { max-width: 70%; }
	#rebecca-ingram-page .images .pure-g { padding:25px; }
	#rebecca-ingram-page .images .full-page-image { height: 400px; background-position: center right; }
	#rebecca-ingram-page .sign-up .input-button-grp { width: 95%; }
	#rebecca-ingram-page .sign-up .input-button-grp button { display:block; }


	//About page
	#about-page .blocks .quote { padding:0; }
	#about-page .dress-line article { padding:20px; }
	#about-page .dress-line article i { font-size: 33px; }
	#about-page .blocks p { padding:20px; }
	#about-page .blocks h3 { padding:0 20px; font-size: 30px; }


	//events and store locator
	.events-page .map, .stores-page .map  { width: 90%; }
	.events-page .events .event-type, .events-page .stores .event-type, .stores-page .events .event-type, .stores-page .stores .event-type { top:5px; right:5px; }
	.events-page .events .brands i, .events-page .stores .brands i, .stores-page .events .brands i, .stores-page .stores .brands i { font-size:13px !important; }

	//Quiz Page
	.quiz-page .banner { padding:50px 20px; }
	.quiz-page .complete button.btn { margin:15px 0; }
	.quiz-page .complete .icon-logo, .quiz-page .complete .icon-sottero-and-midgley { font-size: 24px; }
	.quiz-page .dress-card .actions { opacity: 1; bottom: 70px; }

	//Collections Page
	.collection-header { height: 200px; }
	.collection-header .collection-logo { max-width: 290px; padding: 50px 0 0; }
	#collection-page { padding:15px 0; }
	.phone-filter-nav { margin-bottom: 15px;
		&:after, &:before  { clear:both; content:''; display: table; }
	}
	.phone-filter-nav .search-input { width: 100%; margin-top:10px; }
	.phone-filter-nav .search-input input { width: 100%; }

	//Trends Pages
	#trends-page .banner h1 { font-size: 40px; }
	#trends-page .items .pure-p { padding:40px; }
	#trends-page .items p { font-size: 18px; }
	#trends-page .items h3 { font-size: 32px }
	#trends-page .lines .pure-p { height: 440px; }

}

@media(max-width:620px){
	//Global
	.phone-h { display: none !important; }
	.phone-s { display: block; }
	.modal { top:14px; }
	.modal .icon-close-big { right:15px; }
	.popover.left { width: 200px !important; height: auto !important; }
	.input-button-grp button { display:none; }
	.input-button-grp i { display:block; }
	.main-border { border:none; padding:68px 0 0; }
	.dropdown.box { padding:3px 10px; font-size:14px; }
	.dropdown .dropdown-menu li a { padding:17px 10px; font-size:15px; }

	//Nav
	#main-nav .global-search { width:100%; right:0px; margin:0; top:68px; }
	#main-nav .prediction-list { top:116px; right:0px; width:100%; max-height: 100vh; padding-bottom:200px; }

	//Main Menu
	.collections-select .block { height: auto; padding:30px 0; }
	.collections-select .block i { font-size: 23px; }
	footer li { width: 100%; margin:5px 0; display: block; }
	footer li a { padding:10px 0; display: block; }
	footer button { margin: 10px 9px 28px; }
	footer span { padding:0 10px; }

	//Maggie Brides
	#maggie-brides-page .posts-container { left:0px !important; }
	#maggie-brides-page .posts-container .row { width: 265px; margin:0 auto; }

	//Home Page
	#home-page .banner section article i { font-size: 23px; }
	#home-page .banner section article i.icon-find-your-style { font-size: 30px; }
	#home-page .banner section h2 { font-size: 2em; letter-spacing: 7px; }
	#home-page .banner section h3 { font-size: 1.5em; letter-spacing: 7px; }

	#rebecca-ingram-page .hero video { left:-25%; }
	#rebecca-ingram-page .hero #short_video { display:none !important; }

	//Collections Page
	#collection-page { padding:0 16px 80px; }
	.collection-header { height:auto; background:none !important; box-shadow: none; }
	.collection-header .collection-logo { padding:32px 0 0; -webkit-filter: invert(50%); filter: invert(50%); }
	.dress-list li .actions { opacity: 1; bottom:70px; }
	.dress-list .collection-header button { margin: 0px auto 15px; border: 2px solid black; color: black; text-shadow: none; }

	//trends Pages
	#trends-page .banner h1 { font-size: 31px; }
	#trends-page .banner { padding:115px 0; }
	#trends-page .about { padding:40px 0; }
	#trends-page .about h2 { font-size: 24px; margin: 0 auto 30px; }
	#trends-page .about p { font-size: 15px; padding:0 15px; }
	#trends-page .items { padding:0; }
	#trends-page .items .pure-p { padding:30px; min-height: inherit; }
	#trends-page .items div { min-height: 300px; }
	#trends-page .items p { font-size: 15px; }
	#trends-page .lines .pure-p { padding:20px; }
	#trends-page .lines i { width: auto; font-size: 20px; text-align: center; }
	#trends-page .trends { padding:0; }
	#trends-page .trends h2 { font-size: 24px; }
	#trends-page .trends .preview { height: 190px; background-position: center top !important; background-size: cover !important; }
	#trends-page .trends .pure-p { padding:10px 5px; }
	#trends-page .trends p { font-size: 11px; }
	#trends-page .lines .pure-p { height: 140px; }

	//location page
	.events-page .location, .stores-page .location { padding:30px 14px; background:none; color:black; height:auto; border-bottom:1px solid rgba(0,0,0,0.1); }
	.prediction-box .prediction-list { display: none !important; visibility: hidden !important; }
	.prediction-box { height:73px; }

	//contact page
	#contact-page .card { padding:20px; }
	#contact-page .card h3, #contact-page .card h1 { font-size: 30px; }

	//account page
	#account-page { padding:0; }
	#account-page .card { padding:35px 15px; }
	#account-page .card .inputs-list article p { text-align: left; font-size: 14px; padding:0 15px 10px; }
	#account-page .card .inputs-list article label { font-size: 14px; }
	#account-page .card .row p.left { font-size: 22px; }
	#account-page .location-and-wedding { padding-top: 30px; }
	#account-page .side-bar { padding:0 0 15px; }
	.favorites-list .relative span { display: block; opacity: 1; }
	#account-page .card .favorites-tab .btn { margin: 10px auto; padding: 0 20px; font-size: 14px; }

	//Typography
	p { font-size: 1em; }
	h3 { font-size: 27px; }

	//About Page
	#about-page .banner { padding:50px 10px; }
	#about-page .blocks { padding:20px; }
	#about-page .blocks p { padding:15px 0; }
	#about-page .blocks h3 { padding-top: 35px; }
	#about-page .banner h1 { font-size: 50px; }
	#about-page .banner p { font-size:14px; }
	#about-page .blocks .quote { padding:0; }
	#about-page .blocks hr { right:0px; }
	#about-page .dress-line { padding:50px 20px; }
	#about-page .dress-line article i { font-size: 21px; text-shadow: 0px 0px 4px rgba(150, 150, 150, 1); }
	#about-page .dress-line article p { font-size: 14px; text-align: center; text-shadow: 0px 0px 4px rgba(150, 150, 150, 1); }
	#about-page .blocks .pure-g img { max-width: 100%; }

	//Become a bride
	.become-a-maggie-bride { padding:50px 20px 90px; }
	.become-a-maggie-bride article input { width: 100%; }
	.become-a-maggie-bride .input-button-grp button { width: 100%; left:2px; }

	//Bride Page
	#maggie-bride-page .header { padding:15px; }
	#maggie-bride-page .header h4 { font-size: 17px; padding-top: 75px; line-height: 1.5em; }
	#maggie-bride-page .header h2 { font-size: 47px; padding: 25px 0 80px; }
	#maggie-bride-page .post p { padding: 40px 15px; }
	#maggie-bride-page .dress-used img { margin:0 0 30px; max-width: inherit; }
	#maggie-bride-page .dress-used h4 { font-size: 30px; }
	#maggie-bride-page .social-links button { width: 100%; margin-bottom: 15px; }


	//Dress Details
	#dress-page { margin:0 -15px; padding:0 16px; }
	#dress-page .banner { height: 300px; }
	#dress-page .banner article { padding-top: 68px; }
	#dress-page .banner h1 { font-size: 3em; }
	#dress-page .more .card .dress .actions p { padding:5px; }
	#dress-page .more .card .dress .actions { opacity: 1; bottom:60px !important; }
	#dress-page .dress-info .icon-logo, #dress-page .dress-info .icon-sottero-and-midgley { font-size: 20px; }
	#dress-page .dress-info .pure-padding { padding:10px; }
	#dress-page .dress-info .icon-logo, #dress-page .dress-info .icon-sottero-and-midgley { display: none; }
	#dress-page #player1 { display: none; }
	#dress-page .banner .banner-image.video-ready { opacity: 1; }
	#dress-page .banner .dress-arrow { padding:15px 12px; }
	#dress-page .banner .hover { background:rgba(0,0,0,.4); }
	#dress-page .dress-info p.description { min-height: inherit; }


	//Signup/Login
	#signup-page { padding: 0px; }
	#signup-page .signup-box { padding:50px 30px; }

	//Submit a wedding
	#share-wedding-page form p { top:0px; padding:4px; }
	#share-wedding-page form .image-preview img { width: 100%; }
	#share-wedding-page form .image-preview i { left: auto; right:10px; }
	#share-wedding-page form textarea.caption { margin:0; }
	#dressModal .search-input, #dressModal .dropdown { margin:3px auto; }
	#dressModal input[type=text] { margin:0; }
	#dressModal .modal-footer { position: fixed; bottom: 0px; left: 0px; width: 100%; background:white; }
	#dressModal .dress-list { height: 295px; padding-bottom: 70px; }
	#share-wedding-page { padding:40px 16px; }

	//events and store locator pages
	.events-page .expand, .stores-page .expand { display:block; }
	.events-page .store-group h3, .stores-page .store-group h3 { padding:4px 15px; }
	.events-page .store-group article p, .stores-page .store-group article p { font-size:15px; line-height:1.2em; }
	.events-page .location .distance-selector, .stores-page .location .distance-selector { display:none; }
	.events-page .store-group, .stores-page .store-group { padding:0; }
	.events-page .location .refine-search-box, .stores-page .location .refine-search-box { padding:10px 0; }
	.events-page .location .all-search p, .stores-page .location .all-search p { font-size:11px; }
	.events-page .location .input-button-grp input, .stores-page .location .input-button-grp input { width: 100%; max-width:100%; }
	.input-button-grp .alt-button { position: absolute; top: -22px; right: 0px; color: #B9B9BD; text-decoration: underline; z-index: 1; cursor: pointer; width: 100%; }
	.events-page .events .pure-padding-left, .events-page .stores .pure-padding-left, .stores-page .events .pure-padding-left, .stores-page .stores .pure-padding-left { padding:15px }
	.events-page .events .pure-padding, .events-page .stores .pure-padding, .stores-page .events .pure-padding, .stores-page .stores .pure-padding { min-height:inherit; padding:0 15px; }
	.events-page .events .distance, .events-page .stores .distance, .stores-page .events .distance, .stores-page .stores .distance { position:relative; top:0; left:0; margin:0 15px 30px 0; }
	.events-page .events li, .events-page .stores li, .stores-page .events li, .stores-page .stores li { padding:15px 0; }
	.events-page .brands, .stores-page .brands { text-align:left !important; }
	.events-page .location .row, .stores-page .location .row { margin:0 auto; padding-bottom:20px; }
	.events-page .location .row .dropdown:first-child, .stores-page .location .row .dropdown:first-child { margin:0; }
	.events-page .location .row .dropdown, .stores-page .location .row .dropdown { width:49%; }
	.events-page .location .show-map, .stores-page .location .show-map { border: 1px solid rgba(0,0,0,0.1); }

	//Quiz page
	.quiz-page .questions .card .answer-image { height:135px; }
	.quiz-page .banner.start-screen { overflow: scroll; }
	.quiz-page .banner.start-screen { border:none; padding:28vh 20px; }
	.quiz-page .complete { padding:0 16px; }

	//About Page
	#about-page .blocks .quote { text-align: left; }

	//faq Page
	.faq-page { padding:0 16px; }


}
