/***********************\
    Typography
\***********************/
// Avenir Next
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-HeavyCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-HeavyCn.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-HeavyCn.woff') format('woff'), url('../fonts/AvenirNextLTPro-HeavyCn.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-HeavyCn.svg#AvenirNextLTPro-HeavyCn') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-Demi.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('../fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-DemiCnIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-DemiCnIt.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-DemiCnIt.woff') format('woff'), url('../fonts/AvenirNextLTPro-DemiCnIt.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-DemiCnIt.svg#AvenirNextLTPro-DemiCnIt') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-MediumCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-MediumCn.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-MediumCn.woff') format('woff'), url('../fonts/AvenirNextLTPro-MediumCn.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-MediumCn.svg#AvenirNextLTPro-MediumCn') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-MediumCnIt.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-MediumCnIt.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-MediumCnIt.woff') format('woff'), url('../fonts/AvenirNextLTPro-MediumCnIt.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-MediumCnIt.svg#AvenirNextLTPro-MediumCnIt') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNextLTPro-UltLtCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNextLTPro-UltLtCn.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-UltLtCn.woff') format('woff'), url('../fonts/AvenirNextLTPro-UltLtCn.ttf')  format('truetype'), url('../fonts/AvenirNextLTPro-UltLtCn.svg#AvenirNextLTPro-UltLtCn') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* Bodoni */
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.woff2') format('woff2'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_italic-webfont.svg#bodoni_sansitalic') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.woff2') format('woff2'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_regular-webfont.svg#bodoni_sansregular') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_black_italic-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black_italic-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black_italic-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black_italic-webfont.svg#bodoni_sansitalic') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_black-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_black-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_black-webfont.svg#bodoni_sansregular') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_bold_italic-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold_italic-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold_italic-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold_italic-webfont.svg#bodoni_sansitalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_bold-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_bold-webfont.svg#bodoni_sansregular') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_light_italic-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light_italic-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light_italic-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light_italic-webfont.svg#bodoni_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'bodoni';
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_light-webfont.eot');
    src:  url('../fonts/jason_vandenberg_-_bodoni_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light-webfont.woff') format('woff'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light-webfont.ttf') format('truetype'),
          url('../fonts/jason_vandenberg_-_bodoni_sans_light-webfont.svg#bodoni_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

*, span, li, input, p, label, .btn {
	font-family: 'AvenirNext';
	font-weight: 400;
}
h1,h2,h3,h4,h5 {
	font-family: 'bodoni';
	font-weight: 600;
	&.light {
		font-weight: 400;
	}
	&.regular {
		font-weight: 500;
	}
	&.italic {
		font-style: italic;
	}
}

h1 {
	font-size: 60px;
	&.title {
		display: none;
	}
}
h2 {
	font-size: 60px;
}
h3 {
	font-size: 42px;
	font-weight: 600;
}
h4 {
	font-size: 30px;
}
h5 {
	font-size: 26px;
}
p {
	font-size: 18px;
	&.small {
		font-size: 14px;
	}
	&.caption { 
		font-size: 16px; 
	}
}
span {
	font-size: 14px;
	&.small {
		font-size: 12px;
	}
}

.avenir {
	font-family: 'AvenirNext', sans-serif;
	&.light { font-weight: 300; }
	&.regular { font-weight: 400; }
	&.medium { font-weight: 500; }
	&.medium-italic { font-weight: 500; font-style: italic; }
	&.demi { font-weight: 600; }
	&.demi-italic { font-weight: 600; font-style: italic; }
	&.bold { font-weight: 700; }
	&.heavy { font-weight: 800; }
}
.bodoni {
	font-family: 'bodoni', sans-serif;
	&.light { font-weight: 400; }
	&.light-italic { font-weight: 400; font-style: italic; }
	&.regular { font-weight: 500; }
	&.regular-italic { font-weight: 500; font-style: italic; }
	&.bold { font-weight: 600; }
	&.bold-italic { font-weight: 600; font-style: italic; }
	&.black { font-weight: 700; }
	&.black-italic { font-weight: 700; font-style: italic; }
}


/* Icon Font */
@font-face {
	font-family: 'iconfont';
	src:url('../fonts/iconfont.eot?-3dly0r');
	src:url('../fonts/iconfont.eot?#iefix-3dly0r') format('embedded-opentype'),
		url('../fonts/iconfont.woff2?-3dly0r') format('woff2'),
		url('../fonts/iconfont.ttf?-3dly0r') format('truetype'),
		url('../fonts/iconfont.woff?-3dly0r') format('woff'),
		url('../fonts/iconfont.svg?-3dly0r#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 25px;
	cursor: pointer;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.icon-share:before {
	content: "\e900";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-plus:before {
	content: "\e801";
}
.icon-sottero-and-midgley:before {
	content: "\e800";
}
.icon-heart:before {
	content: "\e608";
}
.icon-heart-filled:before {
	content: "\e607";
}
.icon-find-your-style:before {
	content: "\e606";
}
.icon-triangle:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e614";
}
.icon-arrow-right:before {
	content: "\e615";
}
.icon-close-big:before {
	content: "\e616";
}
.icon-close-small:before {
	content: "\e617";
}
.icon-arrow-up:before {
	content: "\e618";
}
.icon-location:before {
	content: "\e61a";
}
.icon-menu:before {
	content: "\e61b";
}
.icon-arrow-down:before {
	content: "\e61c";
}
.icon-phone:before {
	content: "\e61d";
}
.icon-bus:before {
	content: "\e61e";
}
.icon-info:before {
	content: "\e628";
}
.icon-logo:before {
	content: "\e613";
}
.icon-play:before {
	content: "\e612";
}
.icon-check:before {
	content: "\e600";
}
.icon-image:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-calendar:before {
	content: "\e60d";
}
.icon-Instagram:before {
	content: "\e60e";
}
.icon-Pinterest:before {
	content: "\e60f";
}
.icon-Twitter:before {
	content: "\e610";
}
.icon-YouTube:before {
	content: "\e611";
}

